h2, h4{
	margin: 10px;
	text-align: center;
}

#activar_liga{
	margin: 10px auto;
	width: 400px;
}

#equipo_propio{
	margin: 10px auto;
	width: 400px;
}

#pager{
	clear: both;
	margin: 10px auto;
	width: 600px;
}

#tabla_equipos{
	margin: 10px auto;
	width: 400px;
}

.linea_equipo_propio{
	font-size: 1.1em;
	font-weight: bold;
}
