#dinero_actual{
	margin: 10px auto;
	width: 400px;
}

#edad_equipo{
	margin: 10px auto;
	width: 400px;
}

#contenido_boton_jugadores_subasta{
	margin: 10px auto;
	text-align: center;
	width: 400px;
}

/* Tabla jugadores */

#col_texto_valor_equipo{
	text-align: right;
}

#col_valor_equipo{
	color: #5555aa;
	font-weight: bold;
	text-align: right;
}

#tabla_datos_equipo{
	margin: 20px auto;
	width: 400px;
}

#tabla_datos_equipo tbody th{
	text-align: left;
}

#tabla_datos_equipo tbody td{
	text-align: right;
}

#tabla_jugadores{
	margin: 20px auto;
	width: 600px;
}

.col_edad_jug{
	text-align: right;
}

.col_mejorPosicion_jug{}

.col_nombre_jug{}

.col_numero_jug{
	color: #5555aa;
	text-align: right;
}

.col_valorMercado_jug{
	color: #5555aa;
	text-align: right;
}

/* Fin tabla jugadores */


/* Tabla cuentas */

#tabla_cuentas{
	display: none;
	margin: 20px auto;
	width: 500px;
}

/* Fin tabla cuentas */
