{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
{% endblock %}

{% block menu %}
	<!-- Menu superior -->
	<div id="menu_superior">
		{% block menu_superior %}
			<!-- Botones -->
			<ul id="menu_superior">
				<li>Liga {{ liga_actual.nombre }}
					<ul>
						<li><a href="/ligas/ver/">Informacion</a></li>
						<li>Clasificación actual</li>
						<li>Jornadas</li>
						<li><a href="/jornadas/ver_actual/">Jornada actual</a></li>
						<li>Equipos</li>
					</ul>
				</li>
				{% if equipo %}
					<li>Equipo {{ equipo_actual.nombre }}
						<ul>
							<li><a href="/equipos/ver/">Informacion</a></li>
							<li><a href="#">Entrenamientos</a></li>
							<li>Partidos</li>
							<li><a href="/partidos/proximo/">Próximo partido</a></li>
						</ul>
					</li>
				{% else %}
					<li>Sin Equipo</li>
				{% endif %}
				<li>Notificaciones
					<ul>
						{% for notificacion in ultimas_notificaciones %}
							<li><a href="/notificaciones/ver/{{ notificacion.id }}/">{{ notificacion.getMensaje }}</a></li>
						{% empty %}
							<li>No hay pendientes</li>
						{% endfor %}
						<li>---------</li>
						<li><a href="/notificaciones/listar_liga/">Ver todas</a></li>
					</ul>
				</li>
				<li>Mercado
					<ul>
						<li><a href="/mercado/subastas/listar/">Subastas</a></li>
						<li><a href="#">Mis subastas</a></li>
						<li><a href="#">Mis compras</a></li>
						<li><a href="#">Historial</a></li>
					</ul>
				</li>
				<li>Calendario
					<ul>
						<li>Ver</li>
					</ul>
				</li>
				<li>Fecha de la liga: {{ fecha_actual_liga }}</li>
			</ul>
		{% endblock %}
	</div>

	<div class="submenu">
		{% block submenu %}
		{% endblock %}
	</div>

	<!-- Situacion -->
	<div class="situacion">
		{% block situacion %}
		{% endblock %}
	</div>
{% endblock %}

{% block contenido %}
{% endblock %}


30
3 aclarados
1200 revo
limpiar cuerdas y tender
