{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
{% endblock %}

{% block menu_superior %}
	<div class="contenido">
		<!-- Menu superior -->
		<div id="menu_superior">
			<!-- Botones -->
			<ul id="menu_superior_botones">
				<li onclick="location.href='/cuentas/notificaciones/listar/'">Notificaciones: {{ num_notificaciones }}</li>
				<li onclick="location.href='/ligas/crear/'">Crear Liga Nueva</li>
				<li onclick="location.href='/ligas/publicas/'">Ver ligas públicas</li>
				<li onclick="location.href='/cuentas/perfil/'">Perfil</li>
				<li onclick="location.href='/cuentas/logout/'">Desconectar</li>
			</ul>
			
			<!-- Situacion -->
			{% block situacion %}
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block contenido %}
{% endblock %}
