{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/media/css/style.css" media="screen" />
{% endblock %}

{% block cabecera %}
	<!-- Cabecera -->
	<div id="header">
		<div class="contenido">
			<a href="/">
				<img id="logo" src="/media/img/logo.png" alt="logo" title="" height="100px" width="200px" />
			</a>
		</div>
	</div>
{% endblock %}

{% block menu_superior %}
	<div class="contenido">
		<!-- Menu superior -->
		<div id="menu_superior">
			<!-- Situacion -->
			{% block situacion %}
			{% endblock %}

			<!-- Botones -->
			<ul id="menu_superior_botones">
				<li><a href="/ligas/crear/">Crear Liga Nueva</a></li>
				<li><a href="/ligas/publicas">Ver ligas públicas</a></li>
				<li><a href="/cuentas/perfil">Perfil</a></li>
				<li><a href="/cuentas/logout">Desconectar</a></li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block contenido %}
{% endblock %}

{% block enlaces_pie_pagina %}
		<div class="contenido">
			<a href="/contacto/">Contacta con nosotros</a>
			<a href="/creditos/">Créditos</a>
			<a href="https://forja.rediris.es/pm/task.php?group_id=862&amp;group_project_id=1543">Cambios</a>
			<a href="http://90manager.wordpress.com/">Blog</a>
			<a href="https://forja.rediris.es/plugins/wiki/index.php?id=862&amp;type=g">Wiki</a>
			<a href="http://twitter.com/90manager">Síguenos</a>
		</div>
{% endblock %}
