{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
{% endblock %}

{% block menu %}
	<!-- Menu superior -->
	<div id="menu_superior">
		{% block menu_superior %}
			<!-- Botones -->
			<ul id="menu_superior">
				<li>Liga {{ liga.nombre }}
					<ul>
						<li>Informacion</li>
						<li>Jornadas</li>
						<li>Jornada actual</li>
						<li>Lista de Equipos</li>
					</ul>
				</li>
				<li>Equipo {{ equipo.nombre }}
					<ul>
						<li>Informacion</li>
						<li>Jugadores</li>
						<li>Entrenamientos</li>
						<li>Próximo partido</li>
					</ul>
				</li>
				<li>Notificaciones
					<ul>
						{% for notificacion in ultimas_notificaciones %}
							<li>{{ notificacion }}</li>
						{% empty %}
							<li>No hay pendientes</li>
						{% endfor %}
						<li>---------</li>
						<li>Ver todas</li>
					</ul>
				</li>
				<li>Mercado
					<ul>
						<li>Subastas</li>
						<li>Mis subastas</li>
						<li>Mis compras</li>
						<li>Historial</li>
					</ul>
				</li>
				<li>Calendario
					<ul>
						<li>Ver</li>
					</ul>
				</li>
			</ul>
		{% endblock %}
	</div>

	<div class="submenu">
		{% block submenu %}
		{% endblock %}
	</div>

	<!-- Situacion -->
	<div class="situacion">
		{% block situacion %}
		{% endblock %}
	</div>
{% endblock %}

{% block contenido %}
{% endblock %}


30
3 aclarados
1200 revo
limpiar cuerdas y tender
