{% extends "base_juego.html" %}

{% block css_extra %}
	<style type="text/css">
		h2{
			margin: 10px;
			text-align: center;
		}

		/* Ligas creadas */

		#tabla_ligas_creadas{
			margin: 20px auto;
			width: 500px;
		}

		/* Fin ligas creadas */

		/* Ligas en que participa */

		#tabla_ligas_participando{
			margin: 20px auto;
			width: 700px;
		}

		/* Fin ligas en que participa */

		.col_creador{}

		.col_estado{
			text-align: right;
		}

		.col_nombre_equipo{}

		.col_nombre_liga{}

		.col_num_equipos{
			color: #5555aa;
			text-align: right;
		}

		.liga_abierta{
			color: #55aa55;
			font-weight: bold;
		}

		.liga_comenzada{
			color: #5555aa;
			font-weight: bold;
		}

		.liga_finalizada{
			color: #aa5555;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block menu %}
	<!-- Menu superior -->
	<div id="menu_superior">
		{% block menu_superior %}
		{% endblock %}
	</div>

	<div class="submenu">
		{% block submenu %}
		{% endblock %}
	</div>

	<!-- Situacion -->
	<div class="situacion">
		{% block situacion %}
		{% endblock %}
	</div>
{% endblock %}

{% block contenido %}
	<h2>Tablón de {{ user.username }}</h2>

	<a href="/ligas/crear/">Crear Liga</a>

	<table class="tabla1" id="tabla_ligas_creadas">
		<caption>Ligas creadas</caption>
		{% if ligas_creadas %}
			<thead>
				<tr>
					<th>Nombre de la liga</th>
					<th>Num. equipos</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for liga in ligas_creadas %}
					<tr>
						<td class="col_nombre_liga"><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></td>

						<td class="col_num_equipos">{{ liga.num_equipos }}</td>

						{% if liga.activada %}
							{% if not liga.obtenerJornadaActual %}
								<td class="col_estado"><span class="liga_finalizada">FINALIZADA</span></td>
							{% else %}
								<td class="col_estado"><span class="liga_comenzada">JORNADA {{ liga.obtenerJornadaActual.numero }}</span></td>
							{% endif %}
						{% else %}
							<td class="col_estado"><span class="liga_abierta">ABIERTA</span></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No tienes ninguna liga creada</th>
			</tr>
		{% endif %}
	</table>

	<table class="tabla1" id="tabla_ligas_participando">
		<caption>Ligas en las que participa</caption>
		{% if equipos %}
			<thead>
				<tr>
					<th>Creador</th>
					<th>Nombre de la liga</th>
					<th>Equipo</th>
					<th>Num. equipos</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for equipo in equipos %}
					<tr>
						<td class="col_creador">{{ equipo.liga.creador }}</td>

						<td class="col_nombre_liga"><a href="/ligas/ver/{{ equipo.liga.id }}/">{{ equipo.liga.nombre }}</a></td>

						<td class="col_nombre_equipo"><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></td>

						<td class="col_num_equipos">{{ equipo.liga.num_equipos }}</td>

						{% if equipo.liga.activada %}
							{% if not equipo.liga.obtenerJornadaActual %}
								<td class="col_estado"><span class="liga_finalizada">FINALIZADA</span></td>
							{% else %}
								<td class="col_estado"><span class="liga_comenzada">JORNADA {{ liga.obtenerJornadaActual.numero }}</span></td>
							{% endif %}
						{% else %}
							<td class="col_estado"><span class="liga_abierta">ABIERTA</span></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No participas en ninguna liga</th>
			</tr>
		{% endif %}
	</table>

{% endblock %}
