h2{
	margin: 10px;
	text-align: center;
}

#form_subastar{
	background: #fff;
	border: solid 1px #555;
	margin: 10px auto;
	padding: 20px;
	width: 350px;
}

#contenido_oferta{
	height: 30px;
}

#contenido_oferta label{
	float: left;
	font-weight: bold;
	width: 100px;
}

#caja_oferta input{
	float: right;
	text-align: right;
	width: 80px;
}

#contenido_precio_compra{
	height: 30px;
}

#contenido_precio_compra label{
	float: left;
	font-weight: bold;
	width: 200px;
}

#contenido_precio_compra input{
	float: right;
	text-align: right;
	width: 80px;
}

#contenido_expira{
	height: 30px;
}

#contenido_expira label{
	float: left;
	font-weight: bold;
	width: 250px;
}

#contenido_expira input{
	float: right;
	text-align: right;
	width: 80px;
}
