/* header */

#barra_header{
	background-color: #fff;
	border-bottom: solid 1px #555555;
	height: 60px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
}

#header{
	margin: 0 auto;
	width: 950px;
}

#header #logo{
	background: url("../../img/logo_mini.png") no-repeat;
	cursor: pointer;
	float: left;
	height: 50px;
	width: 125px;
}

#menu{
	top: 5px;
}

#menu div{
	margin: 10px 0px;
}

#menu div ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu div ul li{
	float: left;
	padding-right: 20px;
}

#menu div ul a{
	color: #5555cc;
	font-weight: bold;
}

#fecha_liga{
	color: #eee;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	padding: 8px;
}

/* Fin header */

#wrap{
	margin: 70px auto;
	width: 950px;
}
