/* header */

#barra_header{
	background-color: #fff;
	border-bottom: solid 1px #555555;
	height: 25px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
}

#header{
	margin: 0 auto;
	width: 600px;
}

#menu{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu li{
	cursor: pointer;
	display: inline;
	float: left;
	height: 25px;
	margin: 0;
	position: relative;
}

#menu li + li{
	border-left: solid 1px #555;
}

#menu li ul {
	position: absolute;
	display: none;
}

#menu li ul li {
	display: list-item;
	float: none;
	margin: 0;
}

#menu li ul li a {
	background-color: #39f;
	color: #000;
	display: block;
	font-size: 1em;
	padding: 2px 5px;
	text-decoration: none;
	width: 140px;
}

#menu li ul li a:hover, #menu li ul li a:active {
	background-color: #f93;
}

#menu #logo{
	background: #fff url("../../img/icons/menu_iconos/general.png") no-repeat top left;
	height: 25px;
	width: 25px;
}

#menu #liga{
	background: #fff url("../../img/icons/menu_iconos/liga.png") no-repeat top left;
	height: 25px;
	width: 25px;
}

#menu #equipo{
	background: #fff url("../../img/icons/menu_iconos/equipo.png") no-repeat top left;
	height: 25px;
	width: 25px;
}

#menu #calendario{
	background: #fff;
	color: #eee;
	font-size: 0.8em;
	font-weight: bold;
	height: 25px;
	width: 300px;
}

#menu #mercado{
	background: #fff url("../../img/icons/menu_iconos/mercado.png") no-repeat top left;
	height: 25px;
	width: 25px;
}

#menu #notificaciones{
	background: #fff url("../../img/icons/menu_iconos/notificacion.png") no-repeat top left;
	height: 25px;
	width: 25px;
}

#menu #usuario{
	background: #fff;
	float: right;
	height: 25px;
	width: 100px;
}

/* Fin header */

#wrap{
	margin: 70px auto;
	width: 950px;
}
