#tabla_ligas_creadas{
	margin: 2em auto;
	width: 500px;
}

#tabla_ligas_participando{
	margin: 2em auto;
}

#tabla_notificaciones{
	margin: 2em auto;
	width: 500px;
}

.col_creador{}

.col_estado{
	text-align: right;
}

.col_nombre_equipo{}

.col_nombre_liga{}

.col_num_equipos{
	color: #55a;
	text-align: right;
}

.liga_abierta{
	color: #5a5;
	font-weight: bold;
}

.liga_comenzada{
	color: #55a;
	font-weight: bold;
}

.liga_finalizada{
	color: #a55;
	font-weight: bold;
}
