#wrap{
	background: url('../../img/Chicas-Futbol-Americano-grupo.jpg') no-repeat;
	background-position: center;
}

#wrap-content{
	background: rgba(255, 255, 255, 0.8);
}

#tabla_ligas_creadas{
	margin: 20px auto;
	width: 500px;
}

#tabla_ligas_participando{
	margin: 20px auto;
	width: 700px;
}

#tabla_notificaciones{
	margin: 20px auto;
	width: 500px;
}

.col_creador{}

.col_estado{
	text-align: right;
}

.col_nombre_equipo{}

.col_nombre_liga{}

.col_num_equipos{
	color: #5555aa;
	text-align: right;
}

.liga_abierta{
	color: #55aa55;
	font-weight: bold;
}

.liga_comenzada{
	color: #5555aa;
	font-weight: bold;
}

.liga_finalizada{
	color: #aa5555;
	font-weight: bold;
}
