#pager{
	clear: both;
	margin: 10px auto;
	width: 600px;
}

#tabla_jornadas{
	margin: 10px auto;
	width: 400px;
}

.jornada_jugada{
	color: #0a0;
	font-weight: bold;
}
.jornada_no_jugada{
	color: #a00;
	font-weight: bold;
}
