h2, h4{
	margin: 10px;
	text-align: center;
}

#pager{
	clear: both;
	margin: 10px auto;
	width: 600px;
}

#tabla_jornadas{
	margin: 10px auto;
	width: 400px;
}

.jornada_jugada{
	color: #00aa00;
	font-weight: bold;
}
.jornada_no_jugada{
	color: #aa0000;
	font-weight: bold;
}
