h2, h4{
	margin: 10px;
	text-align: center;
}

#tabla_encuentros{
	margin: 10px auto;
	width: 600px;
}

#tabla_clasificacion_anterior{
	margin: 10px auto;
	width: 500px;
}

#tabla_clasificacion{
	margin: 10px auto;
	width: 500px;
}
