#botones_jornada{
	margin: 1em;
	text-align: center;
}

#boton_jornada_anterior{
	margin-right: 50px;
}

#tabla_encuentros{
	margin: 2em auto;
}

#tabla_clasificacion_anterior{
	margin: 2em auto;
	width: 500px;
}

#tabla_clasificacion{
	margin: 2em auto;
	width: 500px;
}
