{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/notificaciones/listar_liga.css" />
{% endblock %}

{% block contenido %}

	<h2>Notificaciones de la liga "{{ liga_actual.nombre }}"</h2>

	<article>
		{% if notificaciones %}
			<ol id="lista_notificaciones">
				{% for notificacion in notificaciones %}
					{% if not notificacion.leida %}
						<li class="no_leida">
					{% else %}
						<li>
					{% endif %}
							<div class="bloque_mensaje">{{ notificacion.get_mensaje }}</div>
						
							<div class="bloque_botones">
								<button class="boton_ver" onclick="location.href='/cuentas/notificaciones/ver/{{ notificacion.id }}/'">
									Ver
								</button>
								
								<button class="boton_borrar" onclick="location.href='/cuentas/notificaciones/borrar/{{ notificacion.id }}/'">
									Borrar
								</button>
							</div>
						</li>
				{% endfor %}
			</ol>
		{% else %}
			<p class="info">
				<span>No tienes notificaciones</span>
			</p>
		{% endif %}
	</article>
{% endblock %}
