{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/juego/notificaciones/listar.css" />
{% endblock %}

{% block contenido %}

	<h2>Notificaciones</h2>

	<article>
		{% if notificaciones %}
			<ol id="lista_notificaciones">
				{% for notificacion in notificaciones %}
					{% if not notificacion.leida %}
						<li class="no_leida">
					{% else %}
						<li>
					{% endif %}
							<a href="/cuentas/notificaciones/ver/{{ notificacion.id }}/">{{ notificacion.get_mensaje }}</a>
						</li>
				{% endfor %}
			</ol>
		{% else %}
			<p class="info">
				<span>No tienes notificaciones</span>
			</p>
		{% endif %}
	</article>
{% endblock %}
