{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/juego/notificaciones/listar_liga.css" type="text/css" media="screen" />
{% endblock %}

{% block contenido %}

	<h2>Notificaciones de la liga: {{ liga.nombre }}</h2>

	<ul id="notificaciones">
		{% for notificacion in notificaciones %}
			<li {% if not notificacion.leida %}
					class="no_leida"
				{% endif %}>
				<a href="/cuentas/notificaciones/ver/{{ notificacion.id }}/">{{ notificacion.getMensaje }}</a>		<input type="button" value="Borrar" onclick="location.href='/cuentas/notificaciones/borrar/{{ notificacion.id }}/'" />
			</li>
		{% empty %}
			<li>No tienes notificaciones</li>
		{% endfor %}
	</ul>

{% endblock %}
