{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/juego/notificaciones/ver.css" type="text/css" media="screen" />
{% endblock %}

{% block contenido %}
	<h2>Datos de la notificación</h2>

	<h4 id="fecha">Fecha: {{ notificacion.fecha_emision }}</h4>
	<h4 id="tipo">Tipo: {{ notificacion.tipo }}</h4>
	<div id="mensaje">{% autoescape off %}{{ notificacion.mensaje }}{% endautoescape %}</div>

	<div id="contenido_boton_borrar">
		<input type="button" value="Borrar" onclick="location.href='/cuentas/notificaciones/borrar/'" />
	</div>

{% endblock %}
