{% extends "base_juego.html" %}

{% block css_extra %}
	<style type="text/css">
		h2, h4{
			margin: 10px;
			text-align: center;
		}
		
		#contenido_boton_borrar{
			margin: 10px;
			text-align: center;
		}
		
		#fecha{
			color: #888;
		}
		
		#tipo{
			color: #444;
		}
		
		#mensaje{
			border: solid 1px #555;
			margin 10px auto;
			padding: 10px;
		}
	</style>
{% endblock %}

{% block contenido %}
	<h2>Datos de la notificación</h2>

	<h4 id="fecha">Fecha: {{ notificacion.fecha_emision }}</h4>
	<h4 id="tipo">Tipo: {{ notificacion.tipo }}</h4>
	<div id="mensaje">{% autoescape off %}Mensaje: {{ notificacion.mensaje }}{% endautoescape %}</div>
	
	<div id="contenido_boton_borrar">
		<input type="button" value="Borrar" onclick="location.href='/cuentas/notificaciones/borrar/{{ notificacion.id }}/'" />
	</div>

{% endblock %}
