{% extends "base_web.html" %}

{% block css_extra %}
	<style type="text/css">
		#descripcion{
			clear: both;
			float: left;
			height: 100px;
			padding: 5px;
			width: 300px;
		}

		#login{
			border: solid 1px #555;
			float: right;
			margin: 20px 0px;
			padding: 20px;
			width: 350px;
		}
		
		#login input{
			float: right;
		}
		
		#login table{
			width: 100%;
		}
		
		#logo{
			float: left;
			margin: 20px 0px;
			height: 175px;
			width: 387px;
		}
	</style>
{% endblock %}

{% block contenido %}
	<div id="login">
		{% if form.errors %}
			<p class="texto_error">Usuario y/o contraseña no válidos</p>
		{% endif %}

		<form action="{% url django.contrib.auth.views.login %}" method="post">
			<table>
				{% csrf_token %}
				<!-- Usuario -->
				<tr>
					<td>Usuario:</td>
					<td><input type="text" name="username" value="" maxlength="50" /></td>
				</tr>
				
				<!-- Clave -->
				<tr>
					<td>Contraseña:</td>
					<td><input type="password" name="password" value="" maxlength="50" /></td>
				</tr>

				<!-- Boton entrar -->
				<tr>
					<td></td>
					<td><input type="submit" name="login" value="Entrar" /></td>
				</tr>

				<!-- Registro -->
				<tr>
					<td><a href="/cuentas/registrar/">Registro</a></td>
				</tr>
				
				<!-- Recordar clave -->
				<tr>
					<td><a href="#">Recordar contraseña</a></td>
				</tr>
			</table>
		</form>
	</div>
	
	<img id="logo" src="/media/img/logoAlter.gif" alt="logo_jugador" title="" />

	<p id="descripcion">
		<a href='http://90manager.com'>90manager</a> es un juego multijugador donde puedes ser
		entrenador y presidente de un equipo de fútbol.
	</p>
{% endblock %}
