{% extends "base.html" %}

{% block contenido %}
	<form action="/ligas/activar/{{ liga.id }}/" method="post">
		{% csrf_token %}
		<div>Equipos apuntados:</div>
		{{ form.equipos.errors }}
		{{ form.equipos }}

		<!-- Numero de equipos -->
		<div class="fila">
			{% if form.num_equipos.errors %}
				<p class="texto_error">{{ form.num_equipos.errors }}</p>
			{% endif %}
			<div style="width: 150px;"><label for="id_num_equipos">Numero de equipos controlados por la IA:</label></div>
			<div style="width: 150px;"><input type="text" name="num_equipos" value="0" maxlength="3" style="width:50px;" /></div>
		</div>

		<!-- Boton crear -->
		<div class="fila"><input type="submit" value="Activar" /></div>
	</form>
{% endblock %}
