{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a></div>{% endblock %}

{% block contenido %}

	<h2>Ligas públicas del sistema</h2>

	<table class="tabla1">
		<caption>Ligas</caption>
		<thead>
			<tr>
				<th>Creador</th>
				<th>Nombre de la liga</th>
				<th>Num. equipos</th>
			</tr>
		</thead>
		<tbody>
			{% for liga in ligas %}
				<tr>
					<td>{{ liga.creador }}</td>
					<td><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></td>
					<td>{{ liga.num_equipos }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
