h4{
	border: solid 1px #4297d7;
	padding: 5px 0px;
	margin: 20px 0px 0px 0px;
	text-align: center;
}

ul{
	background: #fff;
	border-right: solid 1px #4297d7;
	border-bottom: solid 1px #4297d7;
	border-left: solid 1px #4297d7;
	margin: 0px;
	padding: 10px 10px 10px 30px;
}

#changelog{
	margin: 0px auto;
	padding: 10px;
	width: 500px;
}
