form{
	margin: 0px auto;
	margin-bottom: 20px;
	width: 400px;
}

label{
	float: left;
	width: 100px;
}

p{
	text-align: center;
}


#contenido_emisor{ clear: both; padding: 5px 0px; }
#contenido_asunto{ clear: both; padding: 5px 0px; }
#contenido_mensaje{ clear: both; padding: 5px 0px; }
#contenido_mensaje label{ padding: 5px 0px; width: 100%; }
#contenido_enviar{ clear: both; padding: 5px 0px; }

#id_mensaje{ width: 90%; }

#wrap{
	background: #fff;
	border: solid 1px #555;
	margin: 30px auto;
}
