#contenido{
	list-style: none;
	padding: 0;
}

#contenido > li{
	border: solid 1px #333;
	float: left;
	margin: 1em;
	vertical-align: top;
	width: 420px;
}

#contenido > li ul{
	list-style: none;
	padding: 0;
}

#contenido > li ul li{
	padding: .5em;
}

#wrap{
	background: #fff;
	border: solid 1px #333;
	margin: 20px auto;
}
