ul{
	padding: 0px 0px 0px 25px;
}

#contenido{
	display: table;
	padding: 10px;
	width: 930px;
}

#creditos{
	display: table-cell;
	padding-left: 50px;
}

#info{
	display: table-cell;
	width: 500px;
}

#wrap{
	background: #fff;
	border: solid 1px #555;
	margin: 30px auto;
}
