ul{
	padding: 0px 0px 0px 25px;
}

#creditos{
	display: table-cell;
	padding-left: 50px;
	margin: 10px;
}

#info{
	display: table-cell;
	width: 500px;
}

#sup{
	display: table;
	margin: 20px auto;
	width: 900px;
}

#wrap{
	background: #fff;
	border-left: solid 1px #555;
	border-right: solid 1px #555;
}
