/* footer */

#contador_desactualizacion{
	color: #555;
	padding: 5px 0px;
}

#enlaces_externos{
	padding: 5px 0px;
}

#enlaces_externos a{
	color: #5555cc;
}

#enlaces_internos{
	padding: 5px 0px;
}

#logos{
	padding: 5px 0px;
}

#logos img{
	border: 0px;
}

/* Fin footer */

#wrap{
	margin: 10px auto;
	width: 950px;
}
