#barra_header{
	display: none;
}

#caja_mensajico{
	clear: both;
	height: 40px;
	padding: 5px 0px;
	text-align: center;
}

#descripcion{
	clear: both;
	height: 50px;
	margin: 0 auto;
	padding: 5px;
	width: 380px;
}

#div_acceso{
	margin: 0 auto;
	width: 500px;
}

#div_logo{
	background: url('../../img/logoAlter.png');
	cursor: pointer;
	height: 175px;
	margin: 10px auto;
	width: 387px;
}

/* login */

#login{
	margin: 20px auto;
	width: 500px;
}

#login ul{
	height: 70px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#login li{
	float: left;
	padding: 5px;
}

#login #caja_clave{
	width: 170px;
}

#login #caja_clave input{
	width: 160px;
}

#login #caja_entrar{
	width: 80px;
}

#entrar{
	margin-top: 15px;
}

#login #caja_usuario{
	width: 170px;
}

#login #caja_usuario input{
	width: 160px;
}

#login a, #login label{
	clear: both;
}

/* fin login */

#mensajico{
	cursor: pointer;
	font-style: italic;
}

/* registro */

#recordar_clave{
	display: none;
	list-style: none;
	margin: 20px auto;
	width: 400px;
}

#recordar_clave input[type=text]{
	float: right;
	width: 250px;
}

#recordar_clave label{
	float: left;
	width: 50px;
}

#recordar_clave ul{
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

/* registro */

#registro{
	display: none;
	margin: 20px auto;
	width: 400px;
}

#registro input[type=text], #registro input[type=password]{
	float: right;
}

#registro label{
	float: left;
	width: 150px;
}

#registro #caja_boton_registro{
	text-align: right;
}

#registro #datos_registro{
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

#registro #datos_registro li{
	clear: both;
	height: 20px;
	padding: 5px 0px;
}

#registro #volver_login{
	text-align: center;
}

/* fin registro */

#wrap{
	background: none;
	border: none;
}
