#wrap{
	text-align: center;
	width: 500px;
}

#barra_menu{
	display: none;
}

#logo_90manager{
	cursor: pointer;
	margin: 1em auto;
}

#descripcion{
	padding: 1em 0;
}

#usuarios_registrados{
	color: #282;
	padding: 1em 0;
}

#caja_mensajico{
	font-size: .8em;
	padding: 1em 0;
}

#mensajico{
	cursor: pointer;
	font-style: italic;
}

/* login */

#login{
	margin: 20px auto;
	text-align: left;
}

#datos_login{
	list-style: none;
	padding: 0;
}

#datos_login li{
	margin: .5em 0;
}

#datos_login .col1{
	display: inline-block;
	width: 150px;
}

#nombre_usuario_login,
#clave_login{
	width: 200px;
}

#entrar_login{
	margin-bottom: 1em;
}

/* fin login */

/* recordar clave */

#recordar_clave{
	display: none;
	margin: 20px auto;
	width: 400px;
}

#recordar_clave ul{
	list-style: none;
	padding: 0;
}

#recordar_clave li{
	clear: both;
	height: 20px;
	padding: .5em 0;
}

#recordar_clave input{
	float: right;
}

#recordar_clave label{
	float: left;
}

#email_recordar_clave{
	width: 250px;
}

/* registro */

#registro{
	display: none;
	margin: 20px auto;
	text-align: left;
}

#registro input{
	float: right;
}

#registro label{
	float: left;
	width: 150px;
}

#datos_registro{
	list-style: none;
	margin-bottom: 2em;
	padding: 0;
}

#datos_registro li{
	clear: both;
	height: 20px;
	padding: .5em 0;
}

#boton_registro{
	margin-top: 1em;
}

/*************************/

.volver_login{
	text-align: center;
}
