#wrap{
	text-align: center;
	width: 500px;
}

#barra_menu{
	display: none;
}

#logo_90manager{
	cursor: pointer;
	margin: 1em auto;
}

#descripcion{
	padding: 1em 0;
}

#usuarios_registrados{
	color: #282;
	padding: 1em 0;
}

#caja_mensajico{
	font-size: .8em;
	padding: 1em 0;
}

#mensajico{
	cursor: pointer;
	font-style: italic;
}

/* login */

#login{
	margin: 20px auto;
	text-align: left;
}

#login ul{
	height: 70px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#login li{
	float: left;
	padding: 5px;
}

#login #caja_clave{
	width: 170px;
}

#login #caja_clave input{
	width: 160px;
}

#login #caja_entrar{
	width: 80px;
}

#entrar{
	margin-top: 15px;
}

#login #caja_usuario{
	width: 170px;
}

#login #caja_usuario input{
	width: 160px;
}

/* fin login */


/* registro */

#recordar_clave{
	display: none;
	list-style: none;
	margin: 20px auto;
	width: 400px;
}

#recordar_clave input[type=text]{
	float: right;
	width: 250px;
}

#recordar_clave label{
	float: left;
	width: 50px;
}

#recordar_clave ul{
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}

/* registro */

#registro{
	display: none;
	margin: 20px auto;
	width: 400px;
}

#registro input[type=text], #registro input[type=password]{
	float: right;
}

#registro label{
	float: left;
	width: 150px;
}

#registro #caja_boton_registro{
	text-align: right;
}

#registro #datos_registro{
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}

#registro #datos_registro li{
	clear: both;
	height: 20px;
	padding: 5px 0;
}
