p{
	text-align: center;
}

th{
	text-align: right;
}

#fila_twitter img{
	border: 0;
}

#tabla_enlaces_siguenos{
	margin: 0 auto;
	width: 300px;
}

#wrap{
	background: #fff;
	border: solid 1px #555;
	margin: 20px auto;
}
