p{
	text-align: center;
}

th{
	text-align: right;
}

#fila_identi_ca{
}

#fila_tuenti{
}

#fila_twitter img{
	border: 0px;
}

#siguenos{
	margin: 0px auto;
	padding: 10px 0px;
	width: 500px;
}

#tabla_enlaces_siguenos{
	width: 100%;
}

#wrap{
	background: #fff;
	border-left: solid 1px #555;
	border-right: solid 1px #555;
}
