.form1{
	border-radius: 10px;
}

.form1 fieldset{
	border: solid 1px #aaaaff;
}

.form1 legend{
	color: #5555aa;
	font-weight: bold;
}

.errorlist{
	color: #cc0000;
	font-size: 1em;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 15px;
}

.errorlist li{
	padding: 5px;
}
