.form1{
	background: #fff;
	border: solid 1px #000;
	border-radius: 5px;
	box-shadow: 0 0 5px #000;
	color: #333;
	font-size: .9em;
	padding: 1em;
}

.form1 fieldset{
	border: solid 1px #009;
	border-radius: 5px;
	margin: 1em 0;
	padding: 1em;
}

.form1 legend{
	background: #66f;
	border: solid 1px #009;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	padding: .5em 0;
	text-align: center;
	width: 100%;
}

.form1 textarea{
	border: solid 1px #79b7e7;
	border-radius: 2px;
	padding: .2em;
}

.form1 textarea:hover{
	border: solid 1px #1d5987;
}

.form1 input[type="text"], .form1 input[type="password"]{
	border: solid 1px #79b7e7;
	border-radius: 2px;
	font-size: 1em;
	padding: .2em;
}

.form1 input[type="text"]:hover, .form1 input[type="password"]:hover{
	border: solid 1px #1d5987;
}

.form1 input[type="text"]:focus, .form1 input[type="password"]:focus{
	border: solid 1px #e17009;
}

.form1 input[type="checkbox"]{
	background: #f00;
	border: solid 1px #79b7e7;
}

.errorlist{
	background: #fef1ec;
	border: solid 1px #cd0a0a;
	border-radius: 5px;
	color: #cd0a0a;
	font-size: 1em;
	margin: 10px 0;
	padding: 0 0 0 20px;
}

.errorlist li{
	padding: 5px;
}
