a{
	color: #005500;
	text-decoration: none;
}

a:hover{
	color: #00aa00;
	text-decoration: underline;
}

a:visited{
	color: #880000;
}

body{
	background: #aaffaa;
	color: #000000;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4{
	margin: 0px;
}

/* footer */

#contador_desactualizacion{
	color: #555;
	padding: 5px 0px;
}

#enlaces_externos{
	padding: 5px 0px;
}

#enlaces_externos a{
	color: #5555cc;
}

#enlaces_internos{
	padding: 5px 0px;
}

#footer{
	border-top: solid 1px #555555;
	clear: both;
	padding: 10px;
	text-align: center;
}

#logos{
	padding: 5px 0px;
}

#logos img{
	border: 0px;
}

/* Fin footer */

/* header */

#barra_header{
	background-color: #fff;
	border-bottom: solid 1px #555555;
	height: 25px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
}

#header{
	margin: 0 auto;
	width: 600px;
}

#menu, #menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu li{
	cursor: pointer;
	display: inline;
	float: left;
	height: 25px;
	margin: 0;
	position: relative;
}

#menu li + li{
	border-left: solid 1px #555;
}

#menu .desplegable{
	display: none;
	position: absolute;
	top: 26px;
	width: 200px;
}

#menu .desplegable li {
	display: list-item;
	float: none;
	margin: 0;
}

#menu .desplegable li + li {
	border-top: solid 1px #555;
	border-left: none;
}

#menu .desplegable li a {
	background-color: #fff;
	color: #000;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 4px;
	text-decoration: none;
	height: 17px;
}

#menu .desplegable li a:hover, #menu .desplegable li a:active {
	background-color: #bbbbff;
}

#menu #logo{
	background: #fff url("../img/icons/menu_iconos/general.png") no-repeat top left;
	width: 25px;
}

#menu #liga{
	background: #fff url("../img/icons/menu_iconos/liga.png") no-repeat top left;
	width: 25px;
}

#menu #crear_liga{
	background: #fff url("../img/icons/menu_iconos/crear_liga.png") no-repeat top left;
	width: 25px;
}

#menu #ligas_publicas{
	background: #fff url("../img/icons/menu_iconos/ver_ligas_publicas.png") no-repeat top left;
	width: 25px;
}

#menu #mercado{
	background: #fff url("../img/icons/menu_iconos/mercado.png") no-repeat top left;
	height: 25px;
	width: 25px;
}

#menu #equipo{
	background: #fff url("../img/icons/menu_iconos/equipo.png") no-repeat top left;
	width: 25px;
}

#menu #calendario{
	background: #fff;
	color: #eee;
	font-size: 0.8em;
	font-weight: bold;
	height: 17px;
	padding: 4px 0px;
	text-align: center;
	width: 300px;
}

#menu #notificaciones{
	background: #fff url("../img/icons/menu_iconos/notificacion.png") no-repeat top left;
	width: 25px;
}

#menu #usuario{
	background: #fff;
	float: right;
	height: 17px;
	padding: 4px 0px;
	width: 100px;
}

#menu #usuario span{
	color: #666;
	font-size: 0.9em;
	margin-left: 4px;
}

/* Fin header */

#wrap{
	margin: 0px auto;
	margin-top: 26px;
	width: 950px;
}
