a{
	color: #005500;
	text-decoration: none;
}

a:hover{
	color: #00aa00;
	text-decoration: underline;
}

a:visited{
	color: #880000;
}

body{
	background: #aaffaa;
	color: #000000;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 10px;
	padding: 0px;
}

h1, h2, h3, h4{
	margin: 0px;
}

/* footer */

#enlaces_externos{
	padding: 5px 0px;
}

#enlaces_externos a{
	color: #5555cc;
}

#enlaces_internos{
	padding: 5px 0px;
}

#footer{
	border-top: solid 1px #555555;
	clear: both;
	padding: 10px;
	text-align: center;
}

/* Fin footer */
