a{
	color: #008800;
	text-decoration: underline;
}

a:hover{
	text-decoration: overline underline;
}

a:visited{
	color: #880000;
}

body{
	background: #88dd88;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4{
	margin-top: 0px;
}

/* footer */

#contador_desactualizacion{
	color: #888;
	padding: 5px 0px;
}

#enlaces_externos{
	padding: 5px 0px;
}

#enlaces_externos a{
	color: #5555cc;
}

#enlaces_internos{
	padding: 5px 0px;
}

#footer{
	background-color: #fff;
	border-top: solid 1px #555555;
	border-bottom: solid 1px #555555;
	clear: both;
	text-align: center;
	width: 100%;
}

#logos{
	padding: 5px 0px;
}

#logos img{
	border: 0px;
}

.separador_enlaces{
	margin: 0px 5px;
}

/* Fin footer */

/* header */

#caja_logo{
	float: left;
	height: 100%;
	width: 210px;
}

#header{
	background-color: #fff;
	border-bottom: solid 1px #555555;
	clear: both;
	height: 120px;
	width: 100%;
}

#logo{
	border: 0px;
	height: 100px;
	padding: 10px 0px 0px;
	width: 200px;
}

#menu_superior{
	float: right;
	margin-top: 10px;
	width: 700px;
}

#menu_superior_botones{
	border-left: solid 1px #555;
	font-size: 1.1em;
	height: 26px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu_superior_botones li{
	border-top: solid 1px #555;
	border-right: solid 1px #555;
	border-bottom: solid 1px #555;
	float: left;
	margin: 0px;
}

#menu_superior_botones a{
	background: #88dd88;
	color: #555;
	cursor: pointer;
	display: block;
	padding: 4px 15px;
	text-decoration: none;
}

#menu_superior_botones a:hover{
	background: #55aa55;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

#menu_superior_situacion{
	border-bottom: solid 1px #555;
	font-size: 0.9em;
	height: 30px;
	list-style-image: url('../img/icons/favicon.ico');
	margin: 0px;
	padding: 0px;
}

#menu_superior_situacion li{
	float: left;
	height: 20px;
	margin-left: 30px;
	padding: 5px;
}

/* Fin header */

.contenido{
	margin: 0 auto;
	width: 950px;
}

.contenido2{
	margin: 0 auto;
	min-height: 250px;
	width: 950px;
}

.cuadro_num_azul_der{
	color: #0000aa;
	text-align: right;
}

.errorlist{
	color: #cc0000;
	font-size: 1em;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 15px;
}

.errorlist li{
	padding: 5px;
}

.tabla1{
	background: #fff;
	border: solid 1px #444;
	border-spacing: 1px;
	margin-bottom: 10px;
}

.tabla1 a{
	color: #5555aa;
}

.tabla1 caption{
	background-color: #ddd;
	border-top: solid 1px #444;
	border-right: solid 1px #444;
	border-left: solid 1px #444;
	color: #666;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	text-align: center;
}

.tabla1 thead, .tabla1 tfoot{
	background-color: #ccc;
	border: solid 1px #444;
	color: #666;
	font-size: 1.1em;
	font-weight: bold;
}

.tabla1 tbody{
	background-color: #eee;
	border: solid 1px #444;
	color: #444;
}

.tabla1 td{
	padding: 4px;
}

.tabla1 tr{
	border: solid 1px #444;
	border-spacing: 1px;
}

.texto_error{
	color: #aa0000;
	font-weight: bold;
}

.texto_info{
	color: #0000aa;
	font-weight: bold;
}
