.tabla1{
	background: #fff;
	border-collapse: collapse;
	border-top: solid 1px #aaa;
	border-left: solid 1px #aaa;
	margin-bottom: 10px;
}

.tabla1 a{
	color: #44d;
	padding: 5px;
}

.tabla1 caption{
	background: #ddd;
	border: solid 1px #aaa;
	color: #666;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

.tabla1 thead, .tabla1 tfoot{
	background: #ccc;
	border: solid 1px #aaa;
	color: #666;
	font-size: 1.1em;
	font-weight: bold;
}

.tabla1 tbody{
	border: solid 1px #aaa;
	color: #222;
}

.tabla1 td, .tabla1 th{
	border-right: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	padding: 4px;
}

.tabla1 tr:nth-child(2n){ /* Filas pares */
	background-color: #eee;
}

.tabla1 .num1{
	color: #0000aa;
	text-align: right;
}
