.tabla1{
	background: #fff;
	border-spacing: 1px;
	border: solid 1px #9cf;
	box-shadow: 0 0 5px #000;
	color: #222;
	font-size: .8em;
	margin: 2em;
	max-width: 100%;
	width: 100%;
}

.tabla1 a{
	color: #33c;
}

.tabla1 caption{
	background: linear-gradient(#bbf, #ddf, #bbf);
	border: solid 1px #99f;
	box-shadow: 0 0 5px #000;
	font-size: 1.5em;
	font-weight: bold;
	padding: .2em 0;
	text-align: center;
}

.tabla1 thead, .tabla1 tfoot{
	background: #ccf;
	border: solid 1px #99f;
	font-size: 1.2em;
	font-weight: bold;
}

.tabla1 thead td,
.tabla1 thead th{
	background: #ccf;
}

.tabla1 td, .tabla1 th{
	border: solid 1px #99f;
	padding: .4em;
}

.tabla1 tr:nth-child(2n){ /* Filas pares */
	background-color: #eef;
}

.tabla1 .num1{
	color: #009;
	text-align: right;
}
