{% extends "base.html" %}

{% block css_extra %}
	<!--<link rel="stylesheet" href="/media/js/tablesorter/themes/blue/style.css" />-->
    <link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/clasificaciones/ver_liga.css" />
{% endblock %}

{% block js_extra %}
	<!--
	<script src="/media/js/tablesorter/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script src="/media/js/tablesorter/jquery.tablesorter.pager.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		$(document).ready(
			function() {
				$("#tabla_clasificacion")
				.tablesorter({widthFixed: true, widgets: ['zebra']})
				.tablesorterPager({container: $("#pager")});
			}
		);
	</script>
	-->
{% endblock %}

{% block contenido %}
	{% if clasificacion %}
		<h2>Clasificación de liga "{{ liga.nombre }}"</h2>

		<!-- Tabla clasificacion -->
		<table class="tabla1" id="tabla_clasificacion">
			{% if liga_acabada %}
				<caption>Clasificación final</caption>
			{% else %}
				<caption>Clasificación (jornada {{ jornada_actual.numero }})</caption>
			{% endif %}

			<thead>
				<tr>
					<th title="Posici&oacute;n">Pos.</th>
					<th>Equipo</th>
					<th title="Partidos jugados">P.J.</th>
					<th title="Partidos ganados">P.G.</th>
					<th title="Partidos empatados">P.E.</th>
					<th title="Partidos perdidos">P.P.</th>
					<th title="Goles a favor">G.F.</th>
					<th title="Goles en contra">G.C.</th>
					<th title="Goles de diferencia">G.D.</th>
					<th>Puntos</th>
				</tr>
			</thead>
			<tbody>
				{% for dato_clasificacion in clasificacion %}
					{% if equipo_propio.nombre == dato_clasificacion.equipo.nombre %}
						<tr class="linea_equipo_propio">
					{% else %}
						<tr>
					{% endif %}
						<!-- Posicion -->
						<td class="num1">
							{{ dato_clasificacion.posicion }}
						</td>
						<!-- Equipo -->
						<td>
							<a href="/equipos/ver/{{ dato_clasificacion.equipo.id }}/">{{ dato_clasificacion.equipo.nombre }}</a>
						</td>
						<!-- Partidos jugados -->
						<td class="num1">
							{{ dato_clasificacion.partidos_jugados }}
						</td>
						<!-- Partidos ganados -->
						<td class="num1">
							{{ dato_clasificacion.partidos_ganados }}
						</td>
						<!-- Partidos empatados -->
						<td class="num1">
							{{ dato_clasificacion.partidos_empatados }}
						</td>
						<!-- Partidos perdidos -->
						<td class="num1">
							{{ dato_clasificacion.partidos_perdidos }}
						</td>
						<!-- Goles a favor -->
						<td class="num1">
							{{ dato_clasificacion.goles_favor }}
						</td>
						<!-- Goles en contra -->
						<td class="num1">
							{{ dato_clasificacion.goles_contra }}
						</td>
						<!-- Goles de diferencia -->
						<td class="num1">
							{{ dato_clasificacion.goles_diferencia }}
						</td>
						<!-- Puntos -->
						<td class="num1">
							{{ dato_clasificacion.puntos }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h4>Aún no se ha generado una clasificación para la liga</h4>
	{% endif %}
{% endblock %}
