{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/tablesorter_green/style.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/tablas.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/juego/clasificaciones/ver_liga.css" type="text/css" media="screen" />
{% endblock %}

{% block js_extra %}
	<script src="/media/js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script src="/media/js/jquery.tablesorter.pager.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(
			function() {
				$("#tabla_clasificacion")
				.tablesorter({widthFixed: true, widgets: ['zebra']})
				.tablesorterPager({container: $("#pager")});
			}
		);
	</script>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li>{{ liga.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	<h2>Clasificacion de liga: {{ liga.nombre }}</h2>
	{% if clasificacion %}
		<!-- Tabla clasificacion -->
		<table class="tabla1 + tablesorter" id="tabla_clasificacion">
			{% if liga_acabada %}
				<caption>Clasificación final</caption>
			{% else %}
				<caption>Clasificación (jornada {{ jornada_actual.numero }})</caption>
			{% endif %}

			<thead>
				<tr>
					<th title="Posici&oacute;n">Pos.</th>
					<th>Equipo</th>
					<th title="Partidos jugados">P.J.</th>
					<th title="Partidos ganados">P.G.</th>
					<th title="Partidos empatados">P.E.</th>
					<th title="Partidos perdidos">P.P.</th>
					<th title="Goles a favor">G.F.</th>
					<th title="Goles en contra">G.C.</th>
					<th title="Goles de diferencia">G.D.</th>
					<th>Puntos</th>
				</tr>
			</thead>
			<tbody>
				{% for dato_clasificacion in clasificacion %}
					{% if dato_clasificacion.posicion_ascenso %}
						{% if equipo_propio.nombre == dato_clasificacion.equipo.nombre %}
							<tr class="linea_equipo_propio + linea_clasificacion_ascenso">
						{% else %}
							<tr class="linea_clasificacion_ascenso">
						{% endif %}
					{% else %}
						{% if dato_clasificacion.posicion_descenso %}
							{% if equipo_propio.nombre == dato_clasificacion.equipo.nombre %}
								<tr class="linea_equipo_propio + linea_clasificacion_descenso">
							{% else %}
								<tr class="linea_clasificacion_descenso">
							{% endif %}
						{% else %}
							{% if equipo_propio.nombre == dato_clasificacion.equipo.nombre %}
								<tr class="linea_equipo_propio">
							{% else %}
								<tr>
							{% endif %}
						{% endif %}
					{% endif %}

						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.posicion }}
						</td>
						<td>
							<a href="/equipos/ver/{{ dato_clasificacion.equipo.id }}/">{{ dato_clasificacion.equipo.nombre }}</a>
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.partidos_jugados }}
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.partidos_ganados }}
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.partidos_empatados }}
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.partidos_perdidos }}
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.goles_favor }}
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.goles_contra }}
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.goles_diferencia }}
						</td>
						<td class="cuadro_num_azul_der">
							{{ dato_clasificacion.puntos }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}


{% endblock %}
