{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/formularios.css" />
	<link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/ligas/activar_liga.css" />
{% endblock %}

{% block js_extra %}
	<script type="text/javascript">
		/* Para el funcionamiento de tema css con jquery */
		$(function() {
			$("#boton_activar").button();
			$("#boton_eliminar").button();
		});
	</script>
{% endblock %}

{% block contenido %}

	<form class="form1" id="form_activar_liga" action="/ligas/activar/" method="post">
		<!-- Tabla de equipos registrados -->
		<table class="tabla1" id="tabla_equipos_registrados">
			<caption>Equipos registrados en la liga</caption>
			{% if equipos %}
			<thead>
				<tr>
					<td>Equipo</td>
					<td>Usuario</td>
					<th><input type="checkbox" name="marcar_todos" /></th>
				</tr>
			</thead>
			{% endif %}
			<tbody>
				{% for equipo in equipos %}
					<tr>
						<td>{{ equipo.nombre }}</td>
						<td>{{ equipo.usuario }}</td>
						<th><input type="checkbox" name="borrar[]" /></th>
					</tr>
				{% empty %}
					<tr>
						<td>No hay ningún equipo registrado</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		{% csrf_token %}
		<!-- Boton activar -->
		<div id="contenido_boton_activar">
			<input id="boton_activar" type="submit" value="Activar" />
			<input id="boton_eliminar" type="submit" value="Expulsar equipos marcados" />
		</div>
	</form>
{% endblock %}
