{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/formularios.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/juego/ligas/activar_liga.css" type="text/css" media="screen" />
{% endblock %}

{% block contenido %}
	<b>Lista de equipos apuntados: </b>
	<ul>
		{% for equipo in equipos %}
			<li>{{ equipo.nombre }} de {{ equipo.usuario }}</li>
		{% empty %}
			<li>No hay ningun equipo apuntado</li>
		{% endfor %}
	</ul>

	<form class="form1" id="form_activar_liga" action="/ligas/activar/" method="post">
		{% csrf_token %}
		<!-- Boton crear -->
		<div id="contenido_boton_activar"><input type="submit" value="Activar" /></div>
	</form>
{% endblock %}
