{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/formularios.css" type="text/css" />
	<link rel="stylesheet" href="/media/css/tablas.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/juego/ligas/crear_liga.css" type="text/css" media="screen" />
{% endblock %}

{% block js_extra %}
	<!-- No tocar que hay que arreglarlo un poco aun -->
	<script type="text/javascript">
		// Traduccion a español
		jQuery(function($){
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '&#x3c;Ant',
				nextText: 'Sig&#x3e;',
				currentText: 'Hoy',
				monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
				'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
				'Jul','Ago','Sep','Oct','Nov','Dic'],
				dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
				dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''};
			$.datepicker.setDefaults($.datepicker.regional['es']);

		});

		/* Para el funcionamiento de tema css con jquery */
		$(function() {
			$("#caja_sexo_permitido", "#form_crear_liga").buttonset();
			$("#caja_tipo_avance_jornadas", "#form_crear_liga").buttonset();
			$("input:submit", "#form_crear_liga").button();
			$("#fecha_ficticia_inicio", "#form_crear_liga").datepicker();
			$("#factor_tiempo", "#form_crear_liga").select();
		});
	</script>
{% endblock %}

{% block contenido %}
	<h2>Creación de nueva liga</h2>

	<div id="contenido_crear_liga">
		<form class="form1" id="form_crear_liga" action="/ligas/crear/" method="post">
			{% csrf_token %}
			<!-- Nombre de la liga -->
			<div id="contenido_nombre">
				{% if form.nombre.errors %}
					{{ form.nombre.errors }}
				{% endif %}

				<label for="id_nombre">Nombre de la liga:</label>

				<div id="caja_nombre">{{ form.nombre }}</div>
			</div>

			<!-- Visibilidad -->
			<div id="contenido_visibilidad">
				{% if form.publica.errors %}
					{{ form.publica.errors }}
				{% endif %}

				<label for="id_publica">Pública</label>

				<div id="caja_visibilidad">{{ form.publica }}</div>
			</div>

			<!-- Reglas -->
			<fieldset>
				<legend>Reglas de la liga</legend>

				<div id="contenido_sexo_permitido">
					{% if form.sexo_permitido.errors %}
						{{ form.sexo_permitido.errors }}
					{% endif %}

					<span class="label">Géneros permitidos:</span>

					<div id="caja_sexo_permitido">
						<input type="radio" id="sexo_permitido_0" name="sexo_permitido" value="0" checked="checked" />
						<label for="sexo_permitido_0">Solo hombres</label>

						<input type="radio" id="sexo_permitido_1" name="sexo_permitido" value="1" />
						<label for="sexo_permitido_1">Solo mujeres</label>

						<input type="radio" id="sexo_permitido_2" name="sexo_permitido" value="2" />
						<label for="sexo_permitido_2">Hombres y mujeres</label>
					</div>
				</div>

				<div id="contenido_inteligencia_bots">
					{% if form.inteligencia_bots.errors %}
						{{ form.inteligencia_bots.errors }}
					{% endif %}

					<label for="id_inteligencia_bots">Inteligencia de los bots:</label>

					<div id="caja_inteligencia_bots">
						{{ form.inteligencia_bots }}
					</div>
				</div>

				<!-- Fecha de activacion de la liga -->
				<div id="contenido_num_equipos">
					{% if form.num_equipos.errors %}
						{{ form.num_equipos.errors }}
					{% endif %}

					<label for="id_num_equipos">Número máximo de equipos:</label>

					<div id="caja_num_equipos">
						<input id="id_num_equipos" type="text" name="num_equipos" value="0" maxlength="2" />
					</div>
				</div>

				<!-- Fecha de inicio ficticia de la liga -->
				<div id="contenido_fecha_ficticia_inicio">
					{% if form.fecha_ficticia_inicio.errors %}
						{{ form.fecha_ficticia_inicio.errors }}
					{% endif %}

					<label for="fecha_ficticia_inicio">Fecha ficticia de inicio:</label>

					<div id="caja_fecha_ficticia_inicio">
						<input id="fecha_ficticia_inicio" name="fecha_ficticia_inicio" type="text" />
					</div>
				</div>

				<!-- Velocidad de la liga -->
				<div id="contenido_factor_tiempo">
					{% if form.factor_tiempo.errors %}
						{{ form.factor_tiempo.errors }}
					{% endif %}

					<label for="factor_tiempo">Duración de un día ficticio en horas reales:</label>

					<div id="caja_factor_tiempo">
						<select id="factor_tiempo" name="factor_tiempo">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>
							<option>22</option>
							<option>23</option>
							<option>24</option>
						</select>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Reglas sobre los equipos participantes</legend>

				<!-- Dinero inicial -->
				<div id="contenido_dinero_inicial">
					{% if form.dinero_inicial.errors %}
						{{ form.dinero_inicial.errors }}
					{% endif %}
					<label for="id_dinero_inicial">Dinero inicial:</label>

					<div id="caja_dinero_inicial">
						{{ form.dinero_inicial }}
					</div>
				</div>

				<!-- Numero de jugadores inicial -->
				<div id="contenido_num_jugadores_inicial">
					{% if form.num_jugadores_inicial.errors %}
						{{ form.num_jugadores_inicial.errors }}
					{% endif %}

					<label for="id_num_jugadores_inicial">Número de jugadores inicial:</label>

					<div id="caja_num_jugadores_inicial">
						{{ form.num_jugadores_inicial }}
					</div>
				</div>

				<!-- Nivel maximo de los jugadores al inicio de la liga -->
				<div id="contenido_nivel_max_jugadores_inicio">
					{% if form.nivel_max_jugadores_inicio.errors %}
						{{ form.nivel_max_jugadores_inicio.errors }}
					{% endif %}

					<label for="id_nivel_max_jugadores_inicio">Nivel máximo de los jugadores al inicio de la liga:</label>

					<div id="caja_nivel_max_jugadores_inicio">
						{{ form.nivel_max_jugadores_inicio }}
					</div>
				</div>
			</fieldset>

			<!-- Boton crear -->
			<div id="contenido_boton_crear">
				<input type="submit" value="Crear liga" />
			</div>
		</form>
	</div>
{% endblock %}
