{% extends "base_juego.html" %}

{% block css_extra %}
	<style type="text/css">
		#tabla_clasificacion{
			width: 600px;
		}
		
		#tabla_equipos{
			width: 400px;
		}
		
		#tabla_jornadas{
			width: 400px;
		}
		
		.jornada_jugada{
			color: #00aa00;
			font-weight: bold;
		}
		.jornada_no_jugada{
			color: #aa0000;
			font-weight: bold;
		}
		
		.linea_clasificacion_ascenso{
			background-color: #88ff88;
		}
		
		.linea_clasificacion_descenso{
			background-color: #ff8888;
		}
		
		.linea_equipo_propio{
			font-size: 1.1em;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li>{{ liga.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	<h2>Liga: {{ liga.nombre }}</h2>

	{% if activada %}
		{% if jornada_actual %}
			<h4>Jornada actual: <a href="/jornadas/ver/{{ jornada_actual.id }}/">{{ jornada_actual.numero }}</a></h4>
			{% if es_creador %}
				<h4><a href="/ligas/avanzar/{{ liga.id }}/">Avanzar jornada</a></h4>
			{% endif %}
		{% else %}
			<h4>FINALIZADA</h4>
		{% endif %}

		{% if clasificacion %}
			<table class="tabla1" id="tabla_clasificacion">
				{% if liga_acabada %}
					<caption>Clasificación final</caption>
				{% else %}
					<caption>Clasificación (jornada {{ jornada_actual.numero }})</caption>
				{% endif %}

				<thead>
					<tr>
						<th title="Posici&oacute;n">Pos.</th>
						<th>Equipo</th>
						<th title="Partidos jugados">P.J.</th>
						<th title="Partidos ganados">P.G.</th>
						<th title="Partidos empatados">P.E.</th>
						<th title="Partidos perdidos">P.P.</th>
						<th title="Goles a favor">G.F.</th>
						<th title="Goles en contra">G.C.</th>
						<th title="Goles de diferencia">G.D.</th>
						<th>Puntos</th>
					</tr>
				</thead>
				<tbody>
					{% for dato_clasificacion in clasificacion %}
						<tr {% if equipo_propio.nombre == dato_clasificacion.equipo.nombre %}
								class="linea_equipo_propio"
							{% endif %}
							{% if dato_clasificacion.posicion_ascenso %}
								class="linea_clasificacion_ascenso"
							{% endif %}
							{% if dato_clasificacion.posicion_descenso %}
								class="linea_clasificacion_descenso"
							{% endif %}
							>
							
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.posicion }}
							</td>
							<td>
								<a href="/equipos/ver/{{ dato_clasificacion.equipo.id }}/">{{ dato_clasificacion.equipo.nombre }}</a>
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.partidos_jugados }}
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.partidos_ganados }}
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.partidos_empatados }}
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.partidos_perdidos }}
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.goles_favor }}
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.goles_contra }}
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.goles_diferencia }}
							</td>
							<td class="cuadro_num_azul_der">
								{{ dato_clasificacion.puntos }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		<table class="tabla1" id="tabla_jornadas">
			<caption>Listado de jornadas</caption>
			<thead>
				<tr>
					<th>Jornada</th>
					<th>Jugada</th>
				</tr>
			</thead>
			<tbody>
				{% for jornada in jornadas %}
					<tr>
						<td class="cuadro_num_azul_der">
							<a href="/jornadas/ver/{{ jornada.id }}/">{{ jornada.numero }}</a>
						</td>
						<th>
							{% if jornada.jugada %}
								<span class="jornada_jugada">SÍ</span>
							{% else %}
								<span class="jornada_no_jugada">NO</span>
							{% endif %}
						</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>La liga no está activada aun
		{% if es_creador %}
			: <a href="/ligas/activar/{{ liga.id }}/">Activar</a></p>
		{% else %}
			<br>
		{% endif %}
		{% if equipo_propio %}
			Equipo de la liga: <a href="/equipos/ver/{{ equipo_propio.id }}/">{{ equipo_propio.nombre }}</a>
		{% else %}
			<b>{{ usuario }} aún puede </b><a href="/equipos/crear/{{ liga.id }}/">crear un equipo</a><b> en esta liga.</b>
		{% endif %}
	{% endif %}

	{% if equipos.count %}
		<table class="tabla1" id="tabla_equipos">
			<caption>Listado de equipos</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Entrenador</th>
				</tr>
			</thead>
			<tbody>
				{% for equipo in equipos %}
					<tr {% if equipo_propio.nombre == equipo.nombre %}
							class="linea_equipo_propio"
						{% endif %}>
						
						<td>
							<a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a>
						</td>
						<td>
							{% if equipo.usuario %}
								{{ equipo.usuario }}
							{% else %}
								Bot: Anico
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h4>Aún no se ha añadido ningún equipo a la liga</h4>
	{% endif %}

{% endblock %}
