{% extends "base_juego.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/juego/ligas/ver_ligas_publicas.css" type="text/css" media="screen" />
{% endblock %}

{% block contenido %}

	<h2>Ligas públicas del sistema</h2>

	<table class="tabla1" id="tabla_ligas_publicas">
		<caption>Ligas</caption>
		<thead>
			<tr>
				<th>Creador</th>
				<th>Liga</th>
				<th>Inscritos</th>
			</tr>
		</thead>
		<tbody>
			{% for liga in ligas %}
				<tr>
					<td class="col_creador">{{ liga.creador }}</td>
					
					<td class="col_nombre"><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></td>
					
					<td class="col_inscritos">{{ liga.inscritos }}</td>
				</tr>
			{% empty %}
				<tr>
					<td>No hay ligas publicas</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
