{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/formularios.css" />
	<link rel="stylesheet" href="/media/css/tablas.css" />
	<link rel="stylesheet" href="/media/css/juego/ligas/ver_liga.css" />
{% endblock %}

{% block js_extra %}
	<script>
		jQuery(function($){
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '&#x3c;Ant',
				nextText: 'Sig&#x3e;',
				currentText: 'Hoy',
				monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
				'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
				'Jul','Ago','Sep','Oct','Nov','Dic'],
				dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
				dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''};
			$.datepicker.setDefaults($.datepicker.regional['es']);
		});

		$(document).ready(
			function() {
				$("#id_fecha_nueva").datetimepicker();
			}
		);
	</script>
{% endblock %}

{% block contenido %}
	<h2>Liga "{{ liga.nombre }}"</h2>

	{% if activada %}
		{% if jornada_actual %}
			<h3>Jornada actual: <a href="/jornadas/ver/{{ jornada_actual.id }}/">{{ jornada_actual.numero }}</a></h3>

			{% if es_creador %}
				<!-- Esto es meramente para acelerar la presentacion del miercoles -->
				<form class="form1" id="form_ver_liga" action="/ligas/ver/" method="post">
					<p>Avanzar tiempo (Esto es temporal para realizar pruebas)</p>

					{{ form_fecha.as_p }}
					<!-- Boton crear -->
					<div id="contenido_boton_crear">
						<input type="submit" value="Cambiar" />
					</div>
				</form>
			{% endif %}
		{% else %}
			<p class="info">
				<span>FINALIZADA</span>
			</p>
		{% endif %}
		
		<!-- Cuadro de equipos -->
		<div id="cuadro_equipos">
			<p><strong>Equipos</strong></p>
			{% if equipos %}
				{% for equipo in equipos %}
					<a href="/equipos/ver/{{ equipo.id }}/" 
						{% if equipo_propio.nombre == equipo.nombre %}
							class="equipo linea_equipo_propio"
						{% else %}
							class="equipo"
						{% endif %} title="{{ equipo.nombre }}">{{ equipo.siglas }}</a>
				{% endfor %}
			{% else %}
				<p><span class="info">Aún no se ha añadido ningún equipo a la liga</span></p>
			{% endif %}
		</div>

		{% if clasificacion %}
			<!-- Tabla clasificacion -->
			<table class="tabla1" id="tabla_clasificacion">
				{% if liga_acabada %}
					<caption>Clasificación final</caption>
				{% else %}
					<caption>Clasificación (jornada {{ jornada_actual.numero }})</caption>
				{% endif %}

				<thead>
					<tr>
						<th title="Posici&oacute;n">Pos</th>
						<th>Equipo</th>
						<th title="Partidos jugados">PJ</th>
						<th title="Partidos ganados">PG</th>
						<th title="Partidos empatados">PE</th>
						<th title="Partidos perdidos">PP</th>
						<th title="Goles a favor">GF</th>
						<th title="Goles en contra">GC</th>
						<th title="Goles de diferencia">GD</th>
						<th>Puntos</th>
					</tr>
				</thead>
				<tbody>
					{% for dato_clasificacion in clasificacion %}
						{% if equipo_propio.nombre == dato_clasificacion.equipo.nombre %}
							<tr class="linea_equipo_propio">
						{% else %}
							<tr>
						{% endif %}
							<!-- Posicion -->
							<td class="num1">
								{{ dato_clasificacion.posicion }}
							</td>
							<!-- Equipo -->
							<td>
								<a href="/equipos/ver/{{ dato_clasificacion.equipo.id }}/">{{ dato_clasificacion.equipo.nombre }}</a>
							</td>
							<!-- Partidos jugados -->
							<td class="num1">
								{{ dato_clasificacion.partidos_jugados }}
							</td>
							<!-- Partidos ganados -->
							<td class="num1">
								{{ dato_clasificacion.partidos_ganados }}
							</td>
							<!-- Partidos empatados -->
							<td class="num1">
								{{ dato_clasificacion.partidos_empatados }}
							</td>
							<!-- Partidos perdidos -->
							<td class="num1">
								{{ dato_clasificacion.partidos_perdidos }}
							</td>
							<!-- Goles a favor -->
							<td class="num1">
								{{ dato_clasificacion.goles_favor }}
							</td>
							<!-- Goles en contra -->
							<td class="num1">
								{{ dato_clasificacion.goles_contra }}
							</td>
							<!-- Goles de diferencia -->
							<td class="num1">
								{{ dato_clasificacion.goles_diferencia }}
							</td>
							<!-- Puntos -->
							<td class="num1">
								{{ dato_clasificacion.puntos }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		<!-- Tabla jornadas -->
		<table class="tabla1" id="tabla_jornadas">
			<caption>Listado de jornadas</caption>
			<thead>
				<tr>
					<th>Jornada</th>
					<th>Fecha inicio</th>
					<th>Fecha fin</th>
					<th>Jugada</th>
				</tr>
			</thead>
			<tbody>
				{% for jornada in jornadas %}
					<tr>
						<td class="cuadro_num_azul_der">
							<a href="/jornadas/ver/{{ jornada.id }}/">{{ jornada.numero }}</a>
						</td>
						<td>
							{{ jornada.fecha_inicio }}
						</td>
						<td>
							{{ jornada.fecha_fin }}
						</td>
						<th>
							{% if jornada.jugada %}
								<span class="jornada_jugada">SÍ</span>
							{% else %}
								<span class="jornada_no_jugada">NO</span>
							{% endif %}
						</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div id="activar_liga">
			<strong>La liga no está activada aún:</strong>
			{% if es_creador %}
				<button id="boton_activar" onclick="location.href='/ligas/activar/'">ACTIVAR</button>
			{% endif %}
		</div>

		<div id="equipo_propio">
			{% if equipo_propio %}
				<strong>Equipo propio:</strong> <a href="/equipos/ver/{{ equipo_propio.id }}/">{{ equipo_propio.nombre }}</a>
			{% else %}
				<b>{{ user.username }}</b> aún puede <a href="/equipos/crear/">crear un equipo</a> en esta liga.
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
