{% extends "base.html" %}

{% block registro %}
	<div id="registro">
		<form action="/cuentas/registrar/" method="post">
			{% csrf_token %}
			<!--Usuario -->
			{% if form_reg.username.errors %}
				<div class="fila">
					<div class="texto_error">{{ form_reg.username.errors }}</div>
				</div>
			{% endif %}

			<div class="fila">
				<div style="width: 100px"><label for="id_username">Nombre de usuario:</label></div>
				<div>{{ form_reg.username }}</div>
			</div>
			
			<!--Contrasena -->
			{% if form_reg.username.errors %}
				<div class="fila">
					<div class="texto_error">{{ form_reg.password.errors }}</div>
				</div>
			{% endif %}

			<div class="fila">
				<div style="width: 100px"><label for="id_password">Contraseña:</label></div>
				<div><input type="password" name="password" value="" /></div>
			</div>
			
			<!--Nombre -->
			{% if form_reg.username.errors %}
				<div class="fila">
					<div class="texto_error">{{ form_reg.first_name.errors }}</div>
				</div>
			{% endif %}

			<div class="fila">
				<div style="width: 100px"><label for="id_first_name">Nombre:</label></div>
				<div>{{ form_reg.first_name }}</div>
			</div>
			
			<!--Apellidos -->
			{% if form_reg.username.errors %}
				<div class="fila">
					<div class="texto_error">{{ form_reg.last_name.errors }}</div>
				</div>
			{% endif %}

			<div class="fila">
				<div style="width: 100px"><label for="id_last_name">Apellidos:</label></div>
				<div>{{ form_reg.last_name }}</div>
			</div>
			
			<!--E-mail -->
			{% if form_reg.username.errors %}
				<div class="fila">
					<div class="texto_error">{{ form_reg.email.errors }}</div>
				</div>
			{% endif %}

			<div class="fila">
				<div style="width: 100px"><label for="id_email">E-Mail:</label></div>
				<div>{{ form_reg.email }}</div>
			</div>
			
			<div><input type="submit" name="registrar_usuario" value="Registrar" /></div>
		</form>
	</div>
{% endblock %}

