{% extends "base.html" %}

{% block contenido %}
<form action="/registrarse/" method="post">
	{% csrf_token %}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="id_username">Nombre de usuario:</label><br>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="id_password">Contraseña</label><br>
        {{ form.password }}
    </div>
    <hr>
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_first_name">Nombre:</label><br>
        {{ form.first_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="id_last_name">Apellidos:</label><br>
        {{ form.last_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="id_email">E-Mail</label><br>
        {{ form.email }}
    </div>
	<input type="submit" value="Crear" />
</form>
{% endblock %}

