{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/jornadas/ver_jornada.css" />
{% endblock %}

{% block contenido %}
	<h2>Jornada {{ jornada_actual.numero }}</h2>

	{% if jornada_actual.jugada %}
		<p class="info"><span>FINALIZADA</span></p>
	{% endif %}

	<p id="botones_jornada">
		{% if jornada_anterior %}
			<button id="boton_jornada_anterior" onclick="location.href='/jornadas/ver/{{ jornada_anterior.id }}/'">
				Ver Jornada {{ jornada_anterior.numero }}
			</button>
		{% endif %}
	
		{% if jornada_siguiente %}
			<button id="boton_jornada_siguiente" onclick="location.href='/jornadas/ver/{{ jornada_siguiente.id }}/'">
				Ver Jornada {{ jornada_siguiente.numero }}
			</button>
		{% endif %}
	</p>

	<table class="tabla1" id="tabla_encuentros">
		<caption>Partidos</caption>
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Local</th>
				<th>Resultado</th>
				<th>Visitante</th>
			</tr>
		</thead>
		<tbody>
			{% for emparejamiento in emparejamientos %}
				<tr>
					<td>
						{{ emparejamiento.fecha_inicio }}
					</td>
					<td>
						<a href="/equipos/ver/{{ emparejamiento.equipo_local.id }}/">{{ emparejamiento.equipo_local.nombre }}</a>
					</td>
					<th>
						<a href="/partidos/ver/{{ emparejamiento.id }}/">
							{% if emparejamiento.jugado %}
								{{ emparejamiento.goles_local }} - {{ emparejamiento.goles_visitante }}
							{% else %}
								-
							{% endif %}
						</a>
					</th>
					<td>
						<a href="/equipos/ver/{{ emparejamiento.equipo_visitante.id }}/">{{ emparejamiento.equipo_visitante.nombre }}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if clasificacion %}
		<table class="tabla1" id="tabla_clasificacion">
			<caption>Clasificación</caption>
			<thead>
				<tr>
					<th colspan="2" title="Posición">Pos</th>
					<th>Equipo</th>
					<th title="Partidos jugados">PJ</th>
					<th title="Partidos ganados">PG</th>
					<th title="Partidos empatados">PE</th>
					<th title="Partidos perdidos">PP</th>
					<th title="Goles a favor">GF</th>
					<th title="Goles en contra">GC</th>
					<th title="Goles de diferencia">GD</th>
					<th>Puntos</th>
				</tr>
			</thead>
			<tbody>
				{% for dato_clasificacion in clasificacion %}
					<tr>
						<!-- Diferencia de posición -->
						<td class="diferencia_posicion">
							{% if dato_clasificacion.diferencia_posicion_jornada_anterior > 0 %}
								<div class="gana_posicion">{{ dato_clasificacion.diferencia_posicion_jornada_anterior }}</div>
							{% elif dato_clasificacion.diferencia_posicion_jornada_anterior < 0 %}
								<div class="pierde_posicion"><span>{{ dato_clasificacion.diferencia_posicion_jornada_anterior }}</span></div>
							{% else %}
								<div class="mantiene_posicion">=</div>
							{% endif %}
						</td>
						<!-- Posicion -->
						<td class="num1">
							{{ dato_clasificacion.posicion }}
						</td>
						<!-- Equipo -->
						<td>
							<a href="/equipos/ver/{{ dato_clasificacion.equipo.id }}/">{{ dato_clasificacion.equipo.nombre }}</a>
						</td>
						<!-- Partidos jugados -->
						<td class="num1">
							{{ dato_clasificacion.partidos_jugados }}
						</td>
						<!-- Partidos ganados -->
						<td class="num1">
							{{ dato_clasificacion.partidos_ganados }}
						</td>
						<!-- Partidos empatados -->
						<td class="num1">
							{{ dato_clasificacion.partidos_empatados }}
						</td>
						<!-- Partidos perdidos -->
						<td class="num1">
							{{ dato_clasificacion.partidos_perdidos }}
						</td>
						<!-- Goles a favor -->
						<td class="num1">
							{{ dato_clasificacion.goles_favor }}
						</td>
						<!-- Goles en contra -->
						<td class="num1">
							{{ dato_clasificacion.goles_contra }}
						</td>
						<!-- Goles de diferencia -->
						<td class="num1">
							{{ dato_clasificacion.goles_diferencia }}
						</td>
						<!-- Puntos -->
						<td class="num1">
							{{ dato_clasificacion.puntos }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="info"><span>No hay clasificación disponible aún</span></p>
	{% endif %}
{% endblock %}
