{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/jornadas/ver_jornada.css" />
{% endblock %}

{% block js_extra %}
	<script type="text/javascript">
		$(function() {
			$("#boton_jornada_anterior").button({
				icons: {
					primary: "ui-icon-circle-triangle-w"
				}
			});
			
			$("#boton_jornada_siguiente").button({
				icons: {
					primary: "ui-icon-circle-triangle-e"
				}
			});
		});
	</script>
{% endblock %}

{% block contenido %}

	<h2>
		{% if jornada_anterior %}
			<button id="boton_jornada_anterior" onclick="location.href='/jornadas/ver/{{ jornada_anterior.id }}/'">
				<span>Ver Jornada {{ jornada_anterior.numero }}</span>
			</button>
		{% endif %}
		
		Datos de la jornada {{ jornada.numero }}
	
		{% if jornada_siguiente %}
			<button id="boton_jornada_siguiente" onclick="location.href='/jornadas/ver/{{ jornada_siguiente.id }}/'">
				<span>Ver Jornada {{ jornada_siguiente.numero }}</span>
			</button>
		{% endif %}
	</h2>

	{% if jornada.jugada %}
		<h4>FINALIZADA</h4>
	{% endif %}

	<table class="tabla1" id="tabla_encuentros">
		<caption>Listado de encuentros</caption>
		<thead>
			<tr>
				<th>Local</th>
				<th>Visitante</th>
				<th>Fecha</th>
				<th>Resultado</th>
			</tr>
		</thead>
		<tbody>
			{% for emparejamiento in emparejamientos %}
				<tr>
					<td>
						<a href="/equipos/ver/{{ emparejamiento.equipo_local.id }}/">{{ emparejamiento.equipo_local }}</a>
					</td>
					<td>
						<a href="/equipos/ver/{{ emparejamiento.equipo_visitante.id }}/">{{ emparejamiento.equipo_visitante }}</a>
					</td>
					<td>
						{{ emparejamiento.fecha_inicio }}
					</td>
					<th>
						<a href="/partidos/ver/{{ emparejamiento.id }}/">
							{% if emparejamiento.jugado %}
								{{ emparejamiento.goles_local }} - {{ emparejamiento.goles_visitante }}
							{% else %}
								Aún no jugado.
							{% endif %}
						</a>
					</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if clasificacion_anterior %}
		<table class="tabla1" id="tabla_clasificacion_anterior">
			<caption>Clasificación antes de la jornada</caption>
			<thead>
				<tr>
					<th>Equipo</th>
					<th>GF</th>
					<th>GC</th>
					<th>Puntos</th>
				</tr>
			</thead>
			<tbody>
				{% for dato_clasificacion in clasificacion_anterior %}
					<tr>
						<td>
							<a href="/equipos/ver/{{ dato_clasificacion.equipo.id }}/">{{ dato_clasificacion.equipo.nombre }}</a>
						</td>
						<td>
							{{ dato_clasificacion.goles_favor }}
						</td>
						<td>
							{{ dato_clasificacion.goles_contra }}
						</td>
						<td>
							{{ dato_clasificacion.puntos }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}


	{% if clasificacion %}
		<table class="tabla1" id="tabla_clasificacion">
			<caption>Clasificación de la jornada</caption>
			<thead>
				<tr>
					<th>Equipo</th>
					<th>GF</th>
					<th>GC</th>
					<th>Puntos</th>
				</tr>
			</thead>
			<tbody>
				{% for dato_clasificacion in clasificacion %}
					<tr>
						<td>
							<a href="/equipos/ver/{{ dato_clasificacion.equipo.id }}/">{{ dato_clasificacion.equipo.nombre }}</a>
						</td>
						<td>
							{{ dato_clasificacion.goles_favor }}
						</td>
						<td>
							{{ dato_clasificacion.goles_contra }}
						</td>
						<td>
							{{ dato_clasificacion.puntos }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h4>No hay clasificación disponible aún</h4>
	{% endif %}
{% endblock %}
