/* Barra repeticion */

#barra_repeticion{
	margin: 10px auto;
	padding: 10px 5px;
	width: 400px;
}

#barra_repeticion #contador_tiempo{
	background: #222;
	border: solid 1px #ccc;
	color: #cc0;
	display: inline-block;
	margin-left: 40px;
	padding: 5px;
	text-align: right;
	width: 40px;
}

#barra_repeticion #velocidad_tiempo{
	color: #00c;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	width: 40px;
}

#barra_repeticion a{
	display: inline-block;
	height: 16px;
	width: 16px;
}

#beginning{
	background: url(../../redmond/images/ui-icons_d8e7f3_256x240.png) no-repeat -80px -160px;
}

#beginning:hover{
	background: url(../../redmond/images/ui-icons_f9bd01_256x240.png) no-repeat -80px -160px;
}

#play{
	background: url(../../redmond/images/ui-icons_d8e7f3_256x240.png) no-repeat 0 -160px;
}

#play:hover{
	background: url(../../redmond/images/ui-icons_f9bd01_256x240.png) no-repeat 0 -160px;
}

#stop{
	background: url(../../redmond/images/ui-icons_d8e7f3_256x240.png) no-repeat -96px -160px;
}

#stop:hover{
	background: url(../../redmond/images/ui-icons_f9bd01_256x240.png) no-repeat -96px -160px;
}

#dec_vel{
	background: url(../../redmond/images/ui-icons_d8e7f3_256x240.png) no-repeat -48px -160px;
}

#dec_vel:hover{
	background: url(../../redmond/images/ui-icons_f9bd01_256x240.png) no-repeat -48px -160px;
}

#inc_vel{
	background: url(../../redmond/images/ui-icons_d8e7f3_256x240.png) no-repeat -32px -160px;
}

#inc_vel:hover{
	background: url(../../redmond/images/ui-icons_f9bd01_256x240.png) no-repeat -32px -160px;
}

#contenido_contador_tiempo{
	margin: 10px auto;
	text-align: center;
	width: 500px;
}

#contenido_goles{
	margin: 10px auto;
	width: 500px;
}

/* Tabla resultado */

#tabla_resultado{
	margin: 10px auto;
	width: 500px;
}

#col_local{
	font-size: 1.2em;
	text-align: right;
	width: 40%;
}

#col_resultado{
	font-size: 1.4em;
	text-align: center;
}

#col_visitante{
	font-size: 1.2em;
	width: 40%;
}

/* Fin tabla resultado */

#tabla_sucesos{
	margin: 10px auto;
	width: 500px;
}
