#fila_mensaje_estado th{
	padding: 5px 0;
}

#fila_jugar_partido th{
	padding: 5px 0;
}

#titulares{
	clear: both;
	height: 400px;
}

#tabla_resultado{
	margin: 20px auto;
	width: 600px;
}

#tabla_resumen{
	margin: 20px auto;
	width: 600px;
}

#tabla_resumen tbody th{
	text-align: left;
}

#tabla_resumen tbody td{
	text-align: right;
}

#tabla_sucesos{
	margin: 20px auto;
	width: 600px;
}

#tabla_sucesos td:nth-child(3){
	text-align: center;
}

#tabla_sucesos td *{
	vertical-align: middle;
}

#tabla_titulares_local{
	background-color: #ccf;
	float: left;
	width: 400px;
}

#tabla_titulares_visitante{
	background-color: #fcc;
	float: right;
	width: 400px;
}

#ver_repeticion{
	padding: 5px 0;
	text-align: center;
}

.col_local{
	text-align: right;
	width: 40%;
}

.col_local a{
	font-size: 1.2em;
}

.col_resultado{
	font-size: 1.5em;
	text-align: center;
}

.col_visitante{
	width: 40%;
}

.col_visitante a{
	color: #f55;
	font-size: 1.2em;
	width: 40%;
}

.num1{
	color: #aaf;
	text-align: right;
}
