{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/partidos/listar_partidos_equipo.css" />
{% endblock %}

{% block contenido %}
	<h2>Partidos de "{{ equipo_propio.nombre }}"</h2>
	
	<!-- Tabla de proximo partido -->
	<table class="tabla1" id="tabla_proximo_partido">
		<caption>Próximo partido</caption>
		<thead>
			<tr>
				<th>Jornada</th>
				<th>Equipo local</th>
				<th>Fecha</th>
				<th>Equipo visitante</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% if partido_actual %}
				<tr>
					<!-- Jornada -->
					<td class="col_jornada">
						<a href="/jornadas/ver/{{ partido_actual.jornada.id }}/">
							{{ partido_actual.jornada.numero }}
						</a>
					</td>
					
					<!-- Equipo local -->
					<td class="col_local">
						<a href="/equipos/ver/{{ partido_actual.equipo_local.id }}/">
							{{ partido_actual.equipo_local.nombre }}
						</a>
					</td>
					
					<!-- Fecha -->
					<td class="col_fecha">{{ partido_actual.fecha_inicio }}</td>
					
					<!-- Equipo visitante -->
					<td class="col_visitante">
						<a href="/equipos/ver/{{ partido_actual.equipo_visitante.id }}/">
							{{ partido_actual.equipo_visitante.nombre }}
						</a>
					</td>
					
					<!-- Boton ver partido -->
					<td class="col_ver">
						<button class="boton_ver_partido" onclick="location.href='/partidos/ver/{{ partido_actual.id }}/'">
							Ver
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<th>No hay más partidos</th>
				</tr>
			{% endif %}
		</tbody>
	</table>
	
	<!-- Tabla de partidos no jugados -->
	<table class="tabla1" id="tabla_partidos_no_jugados">
		<caption>Partidos no jugados</caption>
		<thead>
			<tr>
				<th>Jornada</th>
				<th>Equipo local</th>
				<th>Fecha</th>
				<th>Equipo visitante</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for partido in partidos_no_jugados %}
				<tr>
					<!-- Jornada -->
					<td class="col_jornada">
						<a href="/jornadas/ver/{{ partido.jornada.id }}/">
							{{ partido.jornada.numero }}
						</a>
					</td>
					
					<!-- Equipo local -->
					<td class="col_local">
						<a href="/equipos/ver/{{ partido.equipo_local.id }}/">
							{{ partido.equipo_local.nombre }}
						</a>
					</td>
					
					<!-- Fecha -->
					<td class="col_fecha">{{ partido.fecha_inicio }}</td>
					
					<!-- Equipo visitante -->
					<td class="col_visitante">
						<a href="/equipos/ver/{{ partido.equipo_visitante.id }}/">
							{{ partido.equipo_visitante.nombre }}
						</a>
					</td>
					
					<!-- Boton ver partido -->
					<td class="col_ver">
						<button class="boton_ver_partido" onclick="location.href='/partidos/ver/{{ partido.id }}/'">
							Ver
						</button>
					</td>
				</tr>
			{% empty %}
				<tr>
					<th>No hay partidos sin jugar</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<!-- Tabla de partidos no jugados -->
	<table class="tabla1" id="tabla_partidos_jugados">
		<caption>Partidos jugados</caption>
		<thead>
			<tr>
				<th>Jornada</th>
				<th>Equipo local</th>
				<th>Fecha</th>
				<th>Equipo visitante</th>
				<th>Resultado</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for partido in partidos_jugados %}
				<tr>
					<!-- Jornada -->
					<td class="col_jornada">{{ partido.jornada.numero }}</td>
					
					<!-- Equipo local -->
					<td class="col_local">
						<a href="/equipos/ver/{{ partido.equipo_local.id }}/">
							{{ partido.equipo_local.nombre }}
						</a>
					</td>
					
					<!-- Fecha -->
					<td class="col_fecha">{{ partido.fecha_inicio }}</td>
					
					<!-- Equipo visitante -->
					<td class="col_visitante">
						<a href="/equipos/ver/{{ partido.equipo_visitante.id }}/">
							{{ partido.equipo_visitante.nombre }}
						</a>
					</td>
					
					<!-- Resultado -->
					<td class="col_resultado">{{ partido.goles_local }} - {{ partido.goles_visitante }}</td>
					
					<!-- Boton ver partido -->
					<td class="col_ver">
						<button class="boton_ver_partido" onclick="location.href='/partidos/ver/{{ partido.id }}/'">
							Ver
						</button>
					</td>
				</tr>
			{% empty %}
				<tr>
					<th>No hay partidos sin jugar</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
