{% extends "base_juego.html" %}

{% block css_extra %}
	<style type="text/css">
		h2{
			margin: 10px;
			text-align: center;
		}

		.cuadro_jugador{
			background: url('/media/img/circulo.png') no-repeat;
			background-position: center top;
			color: #000;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			height: 70px;
			margin: 5px;
			text-align: center;
			width: 50px;
		}

		.cuadro_jugador:hover{
			background: url('/media/img/circulo_hover.png') no-repeat;
			background-position: center top;
			color: #000066;
		}

		.cuadro_jugador .mejor_posicion_jugador{
			font-weight: bold;
			float: left;
			margin: 10px 0px 12px;
			width: 100%;
		}

		.cuadro_jugador .apodo_jugador{
			float: left;
			width: 100%;
		}

		.cuadro_jugador .valor_jugador{
			float: left;
			width: 100%;
		}

		#caja_alineacion{
			float: right;
			width: 444px;
		}

		#caja_boton_aceptar{
			padding: 5px 0px;
		}

		#caja_boton_limpiar{
			padding: 5px 0px;
		}

		#campo_titulares{
			background-image: url('/media/img/campo_futbol_mitad.png');
			float: right;
			height: 363px;
			text-align: center;
			width: 100%;
		}

		#campo_suplentes{
			background: rgb(0, 200, 0);
			border: dotted 2px #fff;
			float: left;
			height: 80px;
			width: 440px;
		}

		#fila_delanteros{
			background: rgb(0, 200, 0);
			background: rgba(0, 200, 0, 0.4);
			height: 80px;
			margin: 23px 20px 0px 20px;
		}

		#fila_centrocampistas{
			height: 80px;
			margin: 0px 20px;
		}

		#fila_defensas{
			background: rgb(0, 200, 0);
			background: rgba(0, 200, 0, 0.4);
			height: 80px;
			margin: 0px 20px;
		}

		#fila_portero{
			height: 75px;
			margin: 0 auto;
			margin: 0px 20px;
		}

		#fila_suplentes{
			background: rgb(0, 200, 0);
			height: 100%;
			width: 100%;
		}

		#form_oculto{
			display: none;
		}

		#jugadores{
			border: dotted 2px #000;
			float: left;
			min-height: 330px;
			width: 330px;
		}

		#caja_num_jugadores_alineacion, #caja_num_jugadores_suplentes{
			padding: 5px 0px;
		}

		#num_jugadores_alineacion, #num_jugadores_suplentes{
			color: #5555aa;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block js_extra %}
	<script type="text/javascript"><!--//--><![CDATA[//><!--
		window.onload = establecerDatos;

		var jugador_pillado; // Jugador que se ha cogido
		var jugadores_situados = 0; // Numero de jugadores situados en el campo
		var jugadores_suplentes = 0; // Numero de jugadores situados en el banquillo

		// Actualiza los valores de los campos de numero de suplentes y jugadores
		function actualizarNumeros() {
			document.getElementById("num_jugadores_alineacion").innerHTML = jugadores_situados;
			document.getElementById("num_jugadores_suplentes").innerHTML = jugadores_suplentes;
		}

		function getDatoLista(jugador, lista) {
			var elementos = lista.options
			var dato = null;
			for (i = 0; i < elementos.length; i++) {
				if ("jug" + elementos[i].value == jugador.id) {
					dato = elementos[i]
				}
			}
			return dato;
		}

		function deseleccionar(jugador, lista) {
			var dato = getDatoLista(jugador, lista);
			if (dato != null) {
				dato.selected = false;
			}
		}

		function seleccionar(jugador, lista) {
			var dato = getDatoLista(jugador, lista);
			if (dato != null) {
				dato.selected = true;
			}
		}

		// Comienza el arrastrado. El “target” del evento será el elemento que está siendo arrastrado.
		function dragStart(objeto, ev) {
			ev.dataTransfer.setData("Text", "jugador_cogido: " + objeto.innerHTML);
			jugador_pillado = objeto;
			//jugador_pillado.chetos = "2";
			//jugador_pillado.classname = 'jugador_pillado';
			return true;
		}

		// Se dispara cuando un elemento que está siendo arrastrado entra en un contenedor.
		function dragEnter(objeto, ev) {
			return false;
		}

		// El elemento se mueve dentro del contenedor.
		function dragOver(objeto, ev) {
			return false; // Aceptar el 'drop'
		}

		// Se ha dejado de arrastrar el elemento, con éxito o no.
		function dragEnd(objeto, ev) {
			return false;
		}

		// El elemento se deja en el contenedor
		function dragDrop(objeto, ev) {
			var situar = true; // Indica si se suelta o no el jugador en esa posicion
			// Para evitar soltar cualquier cosa
			var data = ev.dataTransfer.getData("Text");
			if (data.indexOf("jugador_cogido: ") != 0) {
				alert("Solo se pueden soltar jugadores");
			} else {
				if (objeto.id == "fila_portero") {
					if (objeto.getElementsByClassName('cuadro_jugador').length >= 1) {
						alert("Ya hay un portero");
						situar = false;
					}
				}
				else if (objeto.id == "fila_defensas") {
					if (objeto.getElementsByClassName('cuadro_jugador').length >= 6) {
						alert("No se pueden agregar mas defensas");
						situar = false;
					}
				}
				else if (objeto.id == "fila_centrocampistas") {
					if (objeto.getElementsByClassName('cuadro_jugador').length >= 6) {
						alert("No se pueden agregar mas centrocampistas");
						situar = false;
					}
				}
				else if (objeto.id == "fila_delanteros") {
					if (objeto.getElementsByClassName('cuadro_jugador').length >= 6) {
						alert("No se pueden agregar mas delanteros");
						situar = false;
					}
				}
				else if(objeto.id == "fila_suplentes") {
					if (objeto.getElementsByClassName('cuadro_jugador').length >= 7) {
						alert("No se pueden agregar mas jugadores suplentes");
						situar = false;
					}
				}
			}

			if (situar) {
				// Calcular valores de los jugadores en alineacion y titulares
				// Jugador cogido de los suplentes
				if (jugador_pillado.parentNode.id == "fila_suplentes") {
					jugadores_suplentes--;
				}
				// Jugador cogido de los titulares
				else if (jugador_pillado.parentNode.id != "jugadores") {
					jugadores_situados--;
				}

				// Jugador colocado en suplentes
				if (objeto.id == "fila_suplentes") {
					jugadores_suplentes++;
				}
				// Jugador colocado en titulares
				else if (objeto.id != "jugadores") {
					jugadores_situados++;
				}

				if (jugadores_situados > 11) {
					jugadores_situados--;
					alert("Mucha peña estas metiendo tu ahí, eh");
				} else {
					var origen = jugador_pillado.parentNode;
					var destino = objeto
					jugador_pillado.parentNode.removeChild(jugador_pillado);
					objeto.appendChild(jugador_pillado);
					actualizarNumeros();

					// Cambiar de una lista a otra
					var lista_origen = document.getElementById("id_jugadores_disponibles");
					var lista_destino = document.getElementById("id_defensas");

					if (origen.id == "jugadores") {
						lista_origen = document.getElementById("id_jugadores_disponibles");
					} else if (origen.id == "fila_delanteros") {
						lista_origen = document.getElementById("id_delanteros");
					} else if (origen.id == "fila_defensas") {
						lista_origen = document.getElementById("id_defensas");
					} else if (origen.id == "fila_portero") {
						lista_origen = document.getElementById("id_portero");
					} else if (origen.id == "fila_centrocampistas") {
						lista_origen = document.getElementById("id_centrocampistas");
					} else if (origen.id == "fila_suplentes") {
						lista_origen = document.getElementById("id_suplentes");
					} else {
						alert("OTIA")
					}

					if (destino.id == "jugadores") {
						lista_destino = document.getElementById("id_jugadores_disponibles");
					} else if (destino.id == "fila_delanteros") {
						lista_destino = document.getElementById("id_delanteros");
					} else if (destino.id == "fila_defensas") {
						lista_destino = document.getElementById("id_defensas");
					} else if (destino.id == "fila_portero") {
						lista_destino = document.getElementById("id_portero");
					} else if (destino.id == "fila_centrocampistas") {
						lista_destino = document.getElementById("id_centrocampistas");
					} else if (destino.id == "fila_suplentes") {
						lista_destino = document.getElementById("id_suplentes");
					} else {
						alert("OTIAss")
					}
					deseleccionar(jugador_pillado, lista_origen);
					seleccionar(jugador_pillado, lista_destino);
				}
			}

			//ev.target.appendChild(jugador_pillado);
			//ev.stopPropagation();
			return false; // return false so the event will not be propagated to the browser
		}

		// Limpia los campos
		function limpiarDatos() {
			var campo = document.getElementById("id_delanteros");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}
			campo = document.getElementById("id_centrocampistas");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}
			campo = document.getElementById("id_defensas");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}
			campo = document.getElementById("id_suplentes");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}
			var pradera = document.getElementById("id_portero");
			pradera.selectedIndex = 0;

			// Resetear las posiciones de las cajas
			var lista_destino = document.getElementById("jugadores");
			var lista_origen = document.getElementById("fila_delanteros");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_centrocampistas");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_defensas");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_suplentes");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_portero");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			jugadores_situados = 0;
			jugadores_suplentes = 0;
			actualizarNumeros();
			// alert("To limpio")
		}

		function establecerDatos() {
			limpiarDatos();
			var jugador;
			var destino;
			var lista;
			{% if delanteros %}
				destino = document.getElementById("fila_delanteros");
				lista = document.getElementById("id_delanteros");
				{% for j in delanteros %}
					jugadores_situados++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}
			{% if portero %}
				destino = document.getElementById("fila_portero");
				lista = document.getElementById("id_portero");
				jugadores_situados++;
				// Cogemos la caja
				jugador = document.getElementById("jug{{ portero.atributos.jugador.id }}");
				jugador.parentNode.removeChild(jugador);
				destino.appendChild(jugador);
				seleccionar(jugador, lista);
			{% endif %}

			{% if centrocampistas %}
				destino = document.getElementById("fila_centrocampistas");
				lista = document.getElementById("id_centrocampistas");
				{% for j in centrocampistas %}
					jugadores_situados++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}

			{% if defensas %}
				destino = document.getElementById("fila_defensas");
				lista = document.getElementById("id_defensas");
				{% for j in defensas %}
					jugadores_situados++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}

			{% if suplentes %}
				destino = document.getElementById("fila_suplentes");
				lista = document.getElementById("id_suplentes");
				{% for j in suplentes %}
					jugadores_suplentes++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}
			actualizarNumeros();
		}
		//--><!]]>
	</script>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ partido.jornada.liga_id }}/">{{ partido.jornada.liga.nombre }}</a></li>
		<li><a href="/jornadas/ver/{{ partido.jornada.id }}/">Jornada {{ partido.jornada.numero }}</a></li>
		<li><a href="/partidos/ver/{{ partido.id }}/">Partido {{ partido.id }}</a></li>
		<li>{{ equipo.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	{% if editar %}
		<h2>Editar alineación para el partido</h2>
	{% else %}
		<h2>Preparar alineación para el partido</h2>
	{% endif %}

	<form id="form_alineacion" action="/partidos/preparar/" method="post">

		{% if form.errors %}
			<div>{{ form.errors }}</div>
		{% endif %}
		<fieldset>
			<legend>Alineación</legend>

			<div id="caja_num_jugadores_alineacion">Número de jugadores en la alineación: <span id="num_jugadores_alineacion">0</span></div>
			<div id="caja_num_jugadores_suplentes">Número de jugadores suplentes: <span id="num_jugadores_suplentes">0</span></div>

			<div id="caja_alineacion">
				<div id="campo_titulares">
					<div id="fila_delanteros"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>

					<div id="fila_centrocampistas"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>

					<div id="fila_defensas"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>

					<div id="fila_portero"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>
				</div>

				<div id="campo_suplentes">
					<div id="fila_suplentes"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>
				</div>
			</div>

			<div id="jugadores"
					ondragenter="return dragEnter(this, event)"
					ondrop="return dragDrop(this, event)"
					ondragover="return dragOver(this, event)">

				{% for jugador in jugadores %}
					<div class="cuadro_jugador" id="jug{{ jugador.id }}"
							draggable="true"
							ondragstart="return dragStart(this, event)"
							ondragend="return dragEnd(this, event)">
						<div class="mejor_posicion_jugador">{{ jugador.siglasPosicion }}</div>
						<div class="apodo_jugador">{{ jugador.apodo }}</div>
						<div class="valor_jugador">{{ jugador.valorMercado }}</div>
					</div>
				{% endfor %}
			</div>
		</fieldset>

		<div id="form_oculto">
			{{ form.as_p }}
		</div>

		<!-- Boton Aceptar -->
		<div id="caja_boton_aceptar"><input type="submit" value="Aceptar" /></div>
		<div id="caja_boton_limpiar"><input type="button" name="buttonLimpiar" value="Limpiar" onclick="limpiarDatos();" /></div>
	</form>
{% endblock %}
