{% extends "base_juego.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/tablas.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/juego/partidos/ver_repeticion_partido.css" type="text/css" media="screen" />
{% endblock %}

{% block js %}
    <script src="/media/js/jquery-1.5.1.min.js" type="text/javascript"></script>
{% endblock %}

{% block js_extra %}
	<script type="text/javascript">
		// ---------------------------------------------------------- //
		//                Cuidado! Aquí hay dragones...               //
		// ---------------------------------------------------------- //

		// Calcula el tiempo dependiendo de num1 y num2
		function calcularTiempo(segundos, num1, num2) {
			s = ((Math.floor(segundos / num1)) % num2).toString();
			if (s.length < 2)
				s = "0" + s;
			return s;
		}

		var array_sucesos = [];

		var segundos = 0;
		var pausa = false;
		var fin_partido = true;
		var goles = [];

		function inicializarArraySucesos() {
			array_sucesos = [];
			{% for suceso in sucesos %}
				datos_suceso = [];
				datos_suceso.push({{ suceso.segundo_partido }});
				datos_suceso.push(calcularTiempo({{ suceso.segundo_partido }}, 60, 999) + ":" + calcularTiempo({{ suceso.segundo_partido }}, 1, 60));
				datos_suceso.push("{{ suceso.equipo.siglas }}");
				datos_suceso.push("{{ suceso.tipo }}");
				array_sucesos.push(datos_suceso);
			{% endfor %}
		}

		// Actualiza el mensaje de tiempo
		function actualizarTiempo() {
			str_tiempo = formato_tiempo.replace(/%%M%%/g, calcularTiempo(segundos, 60, 400));
			str_tiempo = str_tiempo.replace(/%%S%%/g, calcularTiempo(segundos, 1, 60));
			document.getElementById("contador_tiempo").innerHTML = "Tiempo: " + str_tiempo;
			annadirFila();
		}

		function contadorTiempo() {
			if (pausa == false && fin_partido == false)
			{
				setTimeout("contadorTiempo()", timeout);
				segundos += paso;
				actualizarTiempo();
			}
		}

		formato_tiempo = "%%M%%:%%S%%";
		paso = 1; // Tiempo en segundos para refrescar

		var timeout = 990;
		var ultimaFilaAgregada = -1;

		function cambiarVelocidad(elem) {
			vel = document.getElementById("valor_velocidad").value;
			timeout = vel * 990;
		}

		function cambiarMultiplicador(elem) {
			paso = document.getElementById("valor_multiplicador").value;
			paso = Math.ceil(paso); // Filtrico
		}

		function reiniciarContador(elem) {
			elem.value = "Reiniciar";
			segundos = 0;
			goles = [];
			goles.push(0);
			goles.push(0);
			document.getElementById("goles_local").innerHTML = goles[0];
			document.getElementById("goles_visitante").innerHTML = goles[1];
			inicializarArraySucesos();
			ultimaFilaAgregada = -1;
			tabla = document.getElementById("tabla_sucesos");
			while (tabla.rows.length > 0) {
				tabla.deleteRow(0)
			}
			if (fin_partido) {
				fin_partido = false;
				contadorTiempo();
			}
			actualizarTiempo();
		}

		function analizar(suceso) {
			if (suceso[3] == "Gol") {
				if (suceso[2] == "{{ siglas_local }}") {
					goles[0] += 1;
					document.getElementById("goles_local").innerHTML = goles[0];
				} else {
					goles[1] += 1;
					document.getElementById("goles_visitante").innerHTML = goles[1];
				}
			}
		}

		function annadirFila() {
			if (ultimaFilaAgregada + 1 < array_sucesos.length) {
				suceso = array_sucesos[ultimaFilaAgregada + 1];
				tiempo = suceso[0];
				while (segundos >= tiempo && !fin_partido) {
					// Analizar el suceso
					analizar(suceso);
					// Incrustarlo en la tabla
					document.getElementById("tabla_sucesos").insertRow(0);
					fila_dest = document.getElementById("tabla_sucesos").rows.item(0);
					for (i = 0; i < suceso.length; i++) {
						fila_dest.insertCell(i);
						fila_dest.cells.item(i).innerHTML = suceso[i];
					}
					ultimaFilaAgregada++;
					if (ultimaFilaAgregada + 1 < array_sucesos.length) {
						suceso = array_sucesos[ultimaFilaAgregada + 1];
						tiempo = suceso[0];
					} else {
						fin_partido = true;
					}
				}
			} else {
				fin_partido = true;
			}
		}

		function pausarContador(elem) {
			pausa = !pausa;
			if (pausa == false) {
				contadorTiempo();
				elem.value = "Pausar";
			} else {
				elem.value = "Continuar";
			}
		}

	</script>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></li>
		<li><a href="/jornadas/ver/{{ jornada.id }}/">Jornada {{ jornada.numero }}</a></li>
		<li><a href="/partidos/ver/{{ partido.id }}/">Partido {{ partido.id }}</a></li>
		<li>Repetición</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div id="contenido_opciones">
		<!-- Multiplicador -->
		<div id="caja_multiplicador">
			<label for="valor_multiplicador">Multiplicador de segundos:</label>
			<input id="valor_multiplicador" type="text" name="multiplicador" />
			<input id="boton_multiplicador" type="button" value="Cambiar" onclick="cambiarMultiplicador();" />
		</div>
		
		<!-- Velocidad -->
		<div id="caja_velocidad">
			<label for="valor_velocidad">Velocidad:</label>
			<input id="valor_velocidad" type="text" name="velocidad" />
			<input id="boton_velocidad" type="button" value="Cambiar" onclick="cambiarVelocidad();" />
		</div>
		
		<!-- Botones -->
		<div id="caja_botones">
			<input type="button" id="boton_reinicio" name="buttonReinicio" value="Iniciar/Reiniciar" onclick="reiniciarContador(this);" />
			<input type="button" id="boton_pausa" name="buttonPausa" value="Pausar/Continuar" onclick="pausarContador(this);" />
		</div>
	</div>
	
	<div id="contenido_contador_tiempo">
		<span id="contador_tiempo">Pulse el botón para iniciar el partido</span>
	</div>
	
	<table class="tabla1" id="tabla_resultado">
		<caption>Resultado</caption>
		
		<tbody>
			<tr>
				<td id="col_local">{{ siglas_local }}</td>
				<td id="col_resultado"><span id="goles_local">0</span> - <span id="goles_visitante">0</span></td>
				<td id="col_visitante">{{ siglas_visitante }}</td>
			</tr>
		</tbody>
	</table>
	
	<!-- Sucesos -->
	<table class="tabla1" id="tabla_sucesos">
		<caption>Sucesos</caption>
		<tbody>
		</tbody>
	</table>
{% endblock %}
