{% extends "base.html" %}

{% block content %}
<strong>Perfil del usuario </strong>
{{ usuario }}
<ul>
	<li>Nick: {{ usuario.username }}</li>
	<li>Nombre: {{ usuario.first_name }}</li>
	<li>Apellidos: {{ usuario.last_name }}</li>
	<li>E-Mail: {{ usuario.email }}</li>
	<li>Fecha de nacimiento: {{ usuario.fecha_nacimiento }}</li>
	<li>Poblacion: {{ usuario.poblacion }}</li>
	<li>Sexo: {{ usuario.sexo }}</li>
	<li>Fecha Registro: {{ usuario.date_joined }}</li>
	<li>Ultimo Logueo: {{ usuario.last_login }}</li>
</ul>

<a href="/crear_objeto/">Crear objeto nuevo</a><br>

<strong>Listado de objetos creados</strong>
{% if objetos_creados %}
    <ul>
    {% for objeto in objetos_creados %}
        <ul>
		<li><a href="/objetos/{{ objeto.id }}/">{{ objeto.titulo }}</a></li>
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>El usuario no ha creado ningun objeto</p>
{% endif %}

<strong>Listado de objetos visibles</strong>
{% if objetos_visibles %}
    <ul>
    {% for objeto in objetos_visibles %}
        <ul>
		<li><a href="/objetos/{{ objeto.id }}/">{{ objeto.titulo }} de {{ objeto.creador.username }}.</a></li>
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay objetos para este usuario</p>
{% endif %}


{% endblock %}
