<?xml version="1.0" encoding="utf-8"?>
<!-- Para HTML 5
<!DOCTYPE html>
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-language" content="es" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="charset" content="utf-8" />
	<meta name="description" content="Cr&eacute;ditos 90manager" />
	<meta name="keywords" content="" />
	<meta name="robots" content="NOINDEX, NOFOLLOW, NOARCHIVE" />
	
    <title>{% block title %}Cr&eacute;ditos 90manager{% endblock %}</title>

    <link rel="stylesheet" href="/media/css/style.css" media="screen" />
	<link rel="icon" href="/media/img/icons/favicon.ico" />
	{% block head_css %}{% endblock %}
	{% block head_js %}{% endblock %}

	<style type="text/css">
		body{
			font-size: 0.9em;
		}

		h4{
			font-size: 1.2em;
		}

		ul{
			padding: 0px 0px 0px 15px;
		}

		#creditos{
			float: right;
			padding: 10px;
			margin: 10px;
			width: 300px;
		}

		#info{
			border: solid 1px #000;
			float: left;
			padding: 10px;
			margin: 10px;
			width: 400px;
		}

		#header{
			text-align: center;
		}
	</style>
</head>

<body>
	<!-- Cabecera -->
	<div id="header">
		<div class="contenido">
			<a href="/">
				<img id="logo" src="/media/img/logo.png" alt="logo" title="" height="100px" width="200px" />
			</a>
		</div>
	</div>

	<!-- Contenedor central -->
	<div class="contenido">
		<div id="info">
			<h4>90Manager es un mánager de fútbol online y libre en el que los jugadores podrán jugar entre sí con su propio equipo personalizado.</h4>

			<ul>
				<li>Entorno: Entorno web</li>
				<li>Estado de desarrollo: 2 - Pre-Alpha</li>
				<li>Lenguaje de programación: Python</li>
				<li>Lenguaje natural de desarrollo: Castellano</li>
				<li>Licencia: GNU General Public License v.3.0 (GPLv3)</li>
				<li>Sistema operativo: Independiente del Sistema Operativo</li>
				<li>Topic: Juegos/Entretenimiento</li>
				<li>Usuarios potenciales: Usuarios finales de Escritorio</li>
				<li>V Concurso Universitario de Software Libre: Ocio</li>
			</ul>
		</div>

		<div id="creditos">
			<h4>Administradores del proyecto</h4>

			<ul>
				<li>Carlos Antonio Rivera Cabello</li>
				<li><a href="http://lopezpino.es">José Luis López Pino</a></li>
				<li><a href="http://flavors.me/ciberjm">Juan Miguel Lechuga Pérez</a></li>
			</ul>

			<h4>Colaboradores:</h4>
			<ul>
				<li>Fco Javier Lucena Lucena</li>
				<li>JJ Merelo</li>
				<li>Jose Antonio Martín Fernández</li>
				<li>Juan Antonio Valderas Molina</li>
				<li>Serafín Vélez Barrera</li>
			</ul>
		</div>
	</div>
</body>
</html>
