{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/formularios.css" />
    <link rel="stylesheet" href="/media/css/juego/partidos/preparar_partido.css" />
{% endblock %}

{% block js_extra %}
	<script>
		window.onload = establecerDatos;

		var jugador_pillado; // Jugador que se ha cogido
		var po_situados = 0; // Numero de porteros situados en el campo
		var df_situados = 0; // Numero de defensas situados en el campo
		var cc_situados = 0; // Numero de centrocampistas situados en el campo
		var dl_situados = 0; // Numero de delanteros situados en el campo
		var jugadores_situados = 0; // Numero de jugadores situados en el campo
		var jugadores_suplentes = 0; // Numero de jugadores situados en el banquillo

		// Actualiza los valores de los campos de numero de suplentes y jugadores
		function actualizarNumeros() {
			document.getElementById("num_jugadores_alineacion").innerHTML = jugadores_situados;
			document.getElementById("num_jugadores_suplentes").innerHTML = jugadores_suplentes;
			document.getElementById("formacion_actual").innerHTML = df_situados + "-" + cc_situados + "-" + dl_situados;
		}

		function getDatoLista(jugador, lista) {
			var elementos = lista.options
			var dato = null;
			for (i = 0; i < elementos.length; i++) {
				if ("jug" + elementos[i].value == jugador.id) {
					dato = elementos[i]
				}
			}
			return dato;
		}

		function deseleccionar(jugador, lista) {
			var dato = getDatoLista(jugador, lista);
			if (dato != null) {
				dato.selected = false;
			}
		}

		function seleccionar(jugador, lista) {
			var dato = getDatoLista(jugador, lista);
			if (dato != null) {
				dato.selected = true;
			}
		}

		// Comienza el arrastrado. El “target” del evento será el elemento que está siendo arrastrado.
		function dragStart(objeto, ev) {
			ev.dataTransfer.setData("Text", "jugador_cogido: " + objeto.innerHTML);
			jugador_pillado = objeto;
			return true;
		}

		// Se dispara cuando un elemento que está siendo arrastrado entra en un contenedor.
		function dragEnter(objeto, ev) {
			return false;
		}

		// El elemento se mueve dentro del contenedor.
		function dragOver(objeto, ev) {
			return false; // Aceptar el 'drop'
		}

		// Se ha dejado de arrastrar el elemento, con éxito o no.
		function dragEnd(objeto, ev) {
			return false;
		}

		// El elemento se deja en el contenedor
		function dragDrop(objeto, ev) {
            var id_referencia = jugador_pillado.parentNode.id;
			var data = ev.dataTransfer.getData("Text");  // Para evitar soltar cualquier cosa
			var situar = true;  // Indica si se suelta o no el jugador en esa posicion

			if (data.indexOf("jugador_cogido: ") != 0) {
				alert("Solo se pueden soltar jugadores");
			}
			else {
			    // Controlar número máximo de jugadores
                if (jugadores_situados == 11 && objeto.id != "jugadores" && objeto.id != "fila_suplentes" &&
                    (id_referencia == "fila_suplentes" || id_referencia == "jugadores"))
                {
                    alert("Ya están situados los 11 jugadores máximos.\nSi quieres agregar a otro jugador, quita a alguno primero.");
                    situar = false;
                }
                // Controlar número máximo de porteros
				else if (objeto.id == "fila_portero" && po_situados >= 1) {
					alert("Ya hay un portero");
					situar = false;
				}
                // Controlar número máximo de defensas
				else if (objeto.id == "fila_defensas" && df_situados >= 5) {
					alert("No se pueden agregar más defensas");
					situar = false;
				}
                // Controlar número máximo de centrocampistas
				else if (objeto.id == "fila_centrocampistas" && cc_situados >= 5) {
					alert("No se pueden agregar más centrocampistas");
					situar = false;
				}
                // Controlar número máximo de delanteros
				else if (objeto.id == "fila_delanteros" && dl_situados >= 5) {
					alert("No se pueden agregar más delanteros");
					situar = false;
				}
                // Controlar número máximo de suplentes
				else if(objeto.id == "fila_suplentes" && jugadores_suplentes >= 7) {
					alert("No se pueden agregar más jugadores suplentes");
					situar = false;
				}
			}

			if (situar) {
				// Calcular valores de los jugadores en alineacion y titulares
				// Jugador cogido de los suplentes
				if (id_referencia == "fila_suplentes") {
					jugadores_suplentes--;
				}
				// Jugador cogido de los titulares
				else if (id_referencia != "jugadores") {
					jugadores_situados--;

					if (id_referencia == "fila_portero") {
						po_situados--;
					}
					else if (id_referencia == "fila_defensas") {
						df_situados--;
					}
					else if (id_referencia == "fila_centrocampistas") {
						cc_situados--;
					}
					else if (id_referencia == "fila_delanteros") {
						dl_situados--;
					}
				}

				// Jugador colocado en suplentes
				if (objeto.id == "fila_suplentes") {
					jugadores_suplentes++;
				}
				// Jugador colocado en titulares
				else if (objeto.id != "jugadores") {
					jugadores_situados++;

					if (objeto.id == "fila_portero") {
						po_situados++;
					}
					else if (objeto.id == "fila_defensas") {
						df_situados++;
					}
					else if (objeto.id == "fila_centrocampistas") {
						cc_situados++;
					}
					else if (objeto.id == "fila_delanteros") {
						dl_situados++;
					}
				}

                var origen = jugador_pillado.parentNode;
                var destino = objeto
                jugador_pillado.parentNode.removeChild(jugador_pillado);
                objeto.appendChild(jugador_pillado);
                actualizarNumeros();

                // Cambiar de una lista a otra
                var lista_origen = document.getElementById("id_jugadores_disponibles");
                var lista_destino = document.getElementById("id_defensas");

                if (origen.id == "jugadores") {
                    lista_origen = document.getElementById("id_jugadores_disponibles");
                }
                else if (origen.id == "fila_delanteros") {
                    lista_origen = document.getElementById("id_delanteros");
                }
                else if (origen.id == "fila_defensas") {
                    lista_origen = document.getElementById("id_defensas");
                }
                else if (origen.id == "fila_portero") {
                    lista_origen = document.getElementById("id_portero");
                }
                else if (origen.id == "fila_centrocampistas") {
                    lista_origen = document.getElementById("id_centrocampistas");
                }
                else if (origen.id == "fila_suplentes") {
                    lista_origen = document.getElementById("id_suplentes");
                }
                else {
                    alert("Has realizado un movimiento inválido")
                }

                if (destino.id == "jugadores") {
                    lista_destino = document.getElementById("id_jugadores_disponibles");
                }
                else if (destino.id == "fila_delanteros") {
                    lista_destino = document.getElementById("id_delanteros");
                }
                else if (destino.id == "fila_defensas") {
                    lista_destino = document.getElementById("id_defensas");
                }
                else if (destino.id == "fila_portero") {
                    lista_destino = document.getElementById("id_portero");
                }
                else if (destino.id == "fila_centrocampistas") {
                    lista_destino = document.getElementById("id_centrocampistas");
                }
                else if (destino.id == "fila_suplentes") {
                    lista_destino = document.getElementById("id_suplentes");
                }
                else {
                    alert("Has realizado un movimiento inválido")
                }

                deseleccionar(jugador_pillado, lista_origen);
                seleccionar(jugador_pillado, lista_destino);
			}

			return false; // return false so the event will not be propagated to the browser
		}

		// Limpia los campos
		function limpiarDatos() {
			var campo = document.getElementById("id_delanteros");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}

			campo = document.getElementById("id_centrocampistas");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}

			campo = document.getElementById("id_defensas");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}

			campo = document.getElementById("id_suplentes");
			for (i = 0; i < campo.options.length; i++) {
				campo.options[i].selected = false;
			}

			var pradera = document.getElementById("id_portero");
			pradera.selectedIndex = 0;

			// Resetear las posiciones de las cajas
			var lista_destino = document.getElementById("jugadores");
			var lista_origen = document.getElementById("fila_delanteros");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_centrocampistas");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_defensas");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_suplentes");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

			var lista_origen = document.getElementById("fila_portero");
			while(lista_origen.hasChildNodes()){
				var nodo = lista_origen.lastChild
				lista_origen.removeChild(nodo);
				lista_destino.appendChild(nodo);
			}

            po_situados = 0;
            df_situados = 0;
            cc_situados = 0;
            dl_situados = 0;

			jugadores_situados = 0;
			jugadores_suplentes = 0;

			actualizarNumeros();
		}

		function establecerDatos() {
			limpiarDatos();
			var jugador;
			var destino;
			var lista;

			{% if delanteros %}
				destino = document.getElementById("fila_delanteros");
				lista = document.getElementById("id_delanteros");
				{% for j in delanteros %}
					jugadores_situados++;
					dl_situados++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}

			{% if portero %}
				destino = document.getElementById("fila_portero");
				lista = document.getElementById("id_portero");
				jugadores_situados++;
				po_situados++;
				// Cogemos la caja
				jugador = document.getElementById("jug{{ portero.atributos.jugador.id }}");
				jugador.parentNode.removeChild(jugador);
				destino.appendChild(jugador);
				seleccionar(jugador, lista);
			{% endif %}

			{% if centrocampistas %}
				destino = document.getElementById("fila_centrocampistas");
				lista = document.getElementById("id_centrocampistas");
				{% for j in centrocampistas %}
					jugadores_situados++;
					cc_situados++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}

			{% if defensas %}
				destino = document.getElementById("fila_defensas");
				lista = document.getElementById("id_defensas");
				{% for j in defensas %}
					jugadores_situados++;
					df_situados++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}

			{% if suplentes %}
				destino = document.getElementById("fila_suplentes");
				lista = document.getElementById("id_suplentes");
				{% for j in suplentes %}
					jugadores_suplentes++;
					// Cogemos la caja
					jugador = document.getElementById("jug{{ j.atributos.jugador.id }}");
					jugador.parentNode.removeChild(jugador);
					destino.appendChild(jugador);
					seleccionar(jugador, lista);
				{% endfor %}
			{% endif %}
			
			actualizarNumeros();
		}

		function comprobarAlineacion() {
		    if (jugadores_situados != 11) {
		        alert("Debe haber 11 jugadores en la alineación");
		        return false;
		    }
		    else if (po_situados != 1) {
		        alert("Debe haber un portero");
		        return false;
		    }
		    else if (df_situados < 3) {
		        alert("Debe haber al menos 3 defensas");
		        return false;
		    }
		    else if (cc_situados < 2) {
		        alert("Debe haber al menos 2 centrocampistas");
		        return false;
		    }
		    else if (dl_situados < 1) {
		        alert("Debe haber al menos un delantero");
		        return false;
		    }

		    return true;
		}
	</script>
{% endblock %}

{% block contenido %}
	<h2>{{ partido.equipo_local.nombre }} ({{ partido.equipo_local.siglas }}) VS ({{ partido.equipo_visitante.siglas }}) {{ partido.equipo_visitante.nombre }}</h2>

	<form class="form1" id="form_alineacion" action="/partidos/preparar/" method="post" onsubmit="return comprobarAlineacion();">
		{% csrf_token %}
		
		{% if form.errors %}
			<div>{{ form.non_field_errors }}</div>
		{% endif %}
		
		<fieldset>
			{% if editar %}
				<legend>Editar alineación para el partido</legend>
			{% else %}
				<legend>Preparar alineación para el partido</legend>
			{% endif %}

			<div id="caja_alineacion">
				<div id="campo_titulares">
					<div id="fila_delanteros"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>

					<div id="fila_centrocampistas"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>

					<div id="fila_defensas"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>

					<div id="fila_portero"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>
				</div>

				<div id="campo_suplentes">
					<div id="fila_suplentes"
							ondragenter="return dragEnter(this, event)"
							ondrop="return dragDrop(this, event)"
							ondragover="return dragOver(this, event)">
					</div>
				</div>
			</div>

			<div id="caja_jugadores">
				<div id="jugadores"
					ondragenter="return dragEnter(this, event)"
					ondrop="return dragDrop(this, event)"
					ondragover="return dragOver(this, event)">

					{% for jugador in jugadores %}
						<div class="cuadro_jugador" id="jug{{ jugador.id }}"
								draggable="true"
								ondragstart="return dragStart(this, event)"
								ondragend="return dragEnd(this, event)">
							<div class="mejor_posicion_jugador">{{ jugador.siglas_posicion }}</div>
							<div class="apodo_jugador">{{ jugador.apodo }}</div>
							<div class="valor_jugador">{{ jugador.get_nivel }}</div>
						</div>
					{% endfor %}
				</div>
				
				<div id="caja_num_jugadores_alineacion">Número de jugadores en la alineación: <span id="num_jugadores_alineacion">0</span></div>
				<div id="caja_num_jugadores_suplentes">Número de jugadores suplentes: <span id="num_jugadores_suplentes">0</span></div>
				<div id="caja_formacion_actual">Formación actual: <span id="formacion_actual">0-0-0</span></div>
			</div>
		</fieldset>

		<div id="form_oculto">
			{{ form.as_p }}
		</div>

		<!-- Botones -->
		<div>
			<input type="submit" name="submit" value="Aceptar" />
			
			<button onclick="limpiarDatos();">Limpiar</button>
		</div>
	</form>
{% endblock %}
