{% extends "base.html" %}
{% load i18n %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/juego/cuentas/perfil.css" />
{% endblock %}

{% block contenido %}
	<h2>Perfil principal de {{ user.username }}</h2>

	<table class="tabla1" id="tabla_ligas_creadas">
		<caption>Ligas creadas</caption>
		{% if ligas_creadas %}
			<thead>
				<tr>
					<th>Nombre de la liga</th>
					<th>Num. equipos</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for liga in ligas_creadas %}
					<tr>
						<td class="col_nombre_liga"><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></td>

						<td class="col_num_equipos">{{ liga.num_equipos }}</td>

						{% if liga.activada %}
							{% if not liga.obtenerJornadaActual %}
								<td class="col_estado"><span class="liga_finalizada">FINALIZADA</span></td>
							{% else %}
								<td class="col_estado"><span class="liga_comenzada">JORNADA {{ liga.obtenerJornadaActual.numero }}</span></td>
							{% endif %}
						{% else %}
							<td class="col_estado"><span class="liga_abierta">ABIERTA</span></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No tienes ninguna liga creada</th>
			</tr>
		{% endif %}
	</table>

	<table class="tabla1" id="tabla_ligas_participando">
		<caption>Ligas en las que participa</caption>
		{% if equipos %}
			<thead>
				<tr>
					<th>Creador</th>
					<th>Nombre de la liga</th>
					<th>Equipo</th>
					<th>Num. equipos</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for equipo in equipos %}
					<tr>
						<td class="col_creador">{{ equipo.liga.creador }}</td>

						<td class="col_nombre_liga"><a href="/ligas/ver/{{ equipo.liga.id }}/">{{ equipo.liga.nombre }}</a></td>

						<td class="col_nombre_equipo"><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></td>

						<td class="col_num_equipos">{{ equipo.liga.num_equipos }}</td>

						{% if equipo.liga.activada %}
							<td class="col_estado"><span class="liga_comenzada">JORNADA {{ equipo.liga.obtenerJornadaActual.numero }}</span></td>
						{% else %}
							<td class="col_estado"><span class="liga_abierta">ABIERTA</span></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No participas en ninguna liga</th>
			</tr>
		{% endif %}
	</table>

{% endblock %}
