{% extends "base.html" %}

{% block contenido %}

<strong>Datos de la jornada</strong><br>
{% if jornada_anterior %}
<a href="/jornadas/ver/{{ jornada_anterior }}/">Anterior</a>
{% endif %}
{% if jornada_siguiente %}
<a href="/jornadas/ver/{{ jornada_siguiente }}/">Siguiente</a>
{% endif %}
<ul>
	<li>Numero: {{ jornada.numero }}</li>
</ul>

<strong>¿Jugada?</strong>
<ul>
	{% if jornada.jugada %}
		<li>Si</li>
	{% else %}
		<li>No <a href="/ligas/avanzar/{{ liga.id }}">Avanzar</a></a></li>
	{% endif %}
</ul>

<strong>Datos de la liga</strong>
<ul>
	<li>Nombre: <a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></li>
</ul>

<strong>Listado de encuentros</strong>
<ul>
{% for emparejamiento in emparejamientos %}
	<li>
		<a href="/partidos/ver/{{ emparejamiento.id }}/">{{ emparejamiento.equipo_local }} vs {{ emparejamiento.equipo_visitante }}</a>
		{% if emparejamiento.jugado %}
			{{ emparejamiento.goles_local }} - {{ emparejamiento.goles_visitante }}
		{% else %}
			Aun no jugado.
		{% endif %}
	</li>
{% endfor %}
</ul>

<strong>Clasificacion antes de la jornada</strong>
<ul>
	{% for dato_clasificacion in clasificacion_anterior %}
		<li>{{ dato_clasificacion.equipo.nombre }}: {{ dato_clasificacion.goles_favor }} - {{ dato_clasificacion.goles_contra }} - <b>{{ dato_clasificacion.puntos }}</b></li>
	{% endfor%}
</ul>

<strong>Clasificacion despues de la jornada</strong>
<ul>
	{% for dato_clasificacion in clasificacion %}
		<li>{{ dato_clasificacion.equipo.nombre }}: {{ dato_clasificacion.goles_favor }} - {{ dato_clasificacion.goles_contra }} - <b>{{ dato_clasificacion.puntos }}</b></li>
	{% endfor%}
</ul>
{% endblock %}
