{% extends "base.html" %}

{% block situacion %}
	<li><a href="/ligas/ver/{{ equipo.liga.id }}/">{{ equipo.liga.nombre }}</a></li>
	<li><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></li>
	<li>{{ jugador.nombre }}</li>
{% endblock %}

{% block contenido %}

	<h2>{{ jugador.nombre }}</h2>

	<ul>
		<li>Posici&oacute;n actual: {{ jugador.posicion }}</li>
		<li>Mejor posici&oacute;n: {{ mejor_posicion }}</li>
		<li>Valor de mercado: {{ jugador.valorMercado }} &euro;</li>
	</ul>

	<table>
		<caption>Habilidades de campo</caption>
		<thead>
			<tr>
				<th width="120px">Habilidad</th>
				<th width="60px">Valor</th>
			</tr>
		</thead>
		<tbody>
			<!-- Ataque -->
			<tr>
				<td>Ataque</td>
				<td class="cuadro_num_azul_der">{{ jugador.ataque }}</td>
			<tr>

			<!-- Defensa -->
			<tr>
				<td>Defensa</td>
				<td class="cuadro_num_azul_der">{{ jugador.defensa }}</td>
			<tr>

			<!-- Velocidad -->
			<tr>
				<td>Velocidad</td>
				<td class="cuadro_num_azul_der">{{ jugador.velocidad }}</td>
			<tr>

			<!-- Pases -->
			<tr>
				<td>Pases</td>
				<td class="cuadro_num_azul_der">{{ jugador.pases }}</td>
			<tr>

			<!-- Anotacion -->
			<tr>
				<td>Anotaci&oacute;n</td>
				<td class="cuadro_num_azul_der">{{ jugador.anotacion }}</td>
			<tr>

			<!-- Portero -->
			<tr>
				<td>Portero</td>
				<td class="cuadro_num_azul_der">{{ jugador.portero }}</td>
			<tr>
		</tbody>
	</table>

{% endblock %}
