{% extends "base_juego.html" %}
{% load i18n %}

{% block contenido %}
	<h2>Perfil principal de {{ usuario.username }}</h2>

	<table class="tabla1" style="width: 300px;">
		<caption>Ligas creadas</caption>
		<thead>
			<tr>
				<th>Liga</th>
				<th>Num. equipos</th>
			</tr>
		</thead>
		<tbody>
			{% for liga in ligas_creadas %}
				<tr>
					<td><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></td>
					<td>{{ liga.num_equipos }}</td>
				</tr>
			{% empty %}
				<tr>
					<td>No tienes ninguna liga creada</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="tabla1" style="width: 300px;">
		<caption>Ligas en las que participa</caption>
		<thead>
			<tr>
				<th>Liga</th>
				<th>Equipo</th>
			</tr>
		</thead>
		<tbody>
			{% for equipo in equipos %}
				<tr>
					<td><a href="/ligas/ver/{{ equipo.liga.id }}/">{{ equipo.liga.nombre }}</a></td>
					<td><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>No tienes ningun equipo</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
