{% extends "base_juego.html" %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li>{{ liga.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	<form action="/equipos/crear/{{ liga.id }}/" method="post">
		{% csrf_token %}
		
		{% if form.nombre.errors %}
			<p class="texto_error">{{ form.nombre.errors }}</p>
		{% endif %}
		
		<!-- Nombre -->
		<label for="id_nombre">Nombre del equipo:</label>
		<div>{{ form.nombre }}</div>
		
		<!-- Siglas -->
		<label for="id_siglas">Siglas:</label>
		<div>{{ form.siglas }}</div>
			
		<!-- Boton crear -->
		<div>
			<input type="submit" value="Crear" />
		</div>
	</form>
{% endblock %}

