{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/js/tablesorter/themes/blue/style.css" type="text/css" />
	<link rel="stylesheet" href="/media/css/juego/equipos/listar_liga.css" type="text/css" />
{% endblock %}

{% block contenido %}
	<!-- Tabla de equipos -->
	<table class="tablesorter" id="tabla_equipos">
		<caption>Listado de equipos</caption>
		{% if equipos %}
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Entrenador</th>
				</tr>
			</thead>
			<tbody>
				{% for equipo in equipos %}
					{% if equipo_propio.nombre == equipo.nombre %}
						<tr class="linea_equipo_propio">
					{% else %}
						<tr>
					{% endif %}

						<td>
							<a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a>
						</td>
						<td>
							{% if equipo.usuario %}
								{{ equipo.usuario }}
							{% else %}
								Usuario Artificial
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>Aún no se ha añadido ningún equipo a la liga</th>
			</tr>
		{% endif %}
	</table>

{% endblock %}
