{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/juego/equipos/ver_equipo.css" type="text/css" media="screen" />
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></li>
		<li>{{ equipo.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	<h2>{{ equipo.nombre }}</h2>

	{% if jugadores.count %}
		<div id="edad_equipo"><b>Edad media del equipo: </b><span>{{ edad_media_equipo }} años</span></div>
	{% endif %}

	<div id="dinero_actual"><b>Dinero actual: </b><span>{{ equipo.dinero }} €</span></div>

	{% if liga_actual.activada %}
		<div id="jugadores_subastados"><a href="/mercado/subastas/ver/equipo/">Ver jugadores en subasta</a></div>
	{% endif %}
	
	<!-- Tabla jugadores -->
	<table class="tabla1" id="tabla_jugadores">
		<caption>Jugadores</caption>
		{% if jugadores %}
			<thead>
				<tr>
					<td>Num.</td>
					<td>Mejor posici&oacute;n</td>
					<td>Nombre</td>
					<td>Valor (&euro;)</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="3"  id="col_texto_valor_equipo">Valor total del equipo</td>
					<td id="col_valor_equipo">{{ valor_equipo }}</td>
				</tr>
			</tfoot>
			<tbody>
				{% for jugador in jugadores %}
					<tr>
						<td class="col_numero_jug">{{ jugador.numero }}</td>
						<td class="col_mejorPosicion_jug">{{ jugador.mejorPosicion }}</td>
						<td class="col_nombre_jug"><a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a></td>
						<td class="col_valorMercado_jug">{{ jugador.valorMercado }}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>Este equipo no tiene jugadores</th>
			</tr>
		{% endif %}
	</table>

	<!-- Tabla cuentas -->
	<table class="tabla1" id="tabla_cuentas">
		<caption>Cuentas</caption>
		{% if historial_cuentas %}
			<thead>
				<tr>
					<td>Fecha</td>
					<td>Tipo</td>
					<td>Beneficios</td>
					<td>Dinero total</td>
				</tr>
			</thead>
			<tbody>
				{% for cuenta in historial_cuentas %}
					<tr>
						<td class="cuadro_num_azul_der">{{ jugador.numero }}</td>
						<td>{{ jugador.mejorPosicion }}</td>
						<td><a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a></td>
						<td class="cuadro_num_azul_der">{{ jugador.valorMercado }}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>Aún no hay historial de cuentas</th>
			</tr>
		{% endif %}
	</table>
{% endblock %}
