{% extends "base_juego.html" %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></li>
		<li>{{ equipo.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div><b>Edad media del equipo: </b><span>{{ edad_media_equipo }} años</span></div>
	
	<table class="tabla1">
		<caption>Jugadores</caption>
		<thead>
			<tr>
				<td>Num.</td>
				<td>Mejor posici&oacute;n</td>
				<td>Nombre</td>
				<td>Valor (&euro;)</td>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="3" style="text-align:right;">Valor total del equipo</td>
				<td class="cuadro_num_azul_der">{{ valor_equipo }}</td>
			</tr>
		</tfoot>
		<tbody>
			{% for jugador in jugadores %}
				<tr>
					<td class="cuadro_num_azul_der">{{ jugador.numero }}</td>
					<td>{{ jugador.mejorPosicion }}</td>
					<td><a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a></td>
					<td class="cuadro_num_azul_der">{{ jugador.valorMercado }}</td>
				</tr>
			{% empty %}
				<tr>
					<td>Este equipo no tiene jugadores</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
