{% extends "base_juego.html" %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></li>
		<li>{{ equipo.nombre }}</li>
	</ul>
{% endblock %}

{% block contenido %}
	{% if jugadores.count %}
		<div><b>Edad media del equipo: </b><span>{{ edad_media_equipo }} años</span></div>
	{% endif %}

	<!-- Tabla jugadores -->
	<table class="tabla1" id="tabla_jugadores">
		<caption>Jugadores</caption>
		{% if jugadores %}
			<thead>
				<tr>
					<td>Num.</td>
					<td>Mejor posici&oacute;n</td>
					<td>Nombre</td>
					<td>Valor (&euro;)</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="3" style="text-align:right;">Valor total del equipo</td>
					<td class="cuadro_num_azul_der">{{ valor_equipo }}</td>
				</tr>
			</tfoot>
			<tbody>
				{% for jugador in jugadores %}
					<tr>
						<td class="cuadro_num_azul_der">{{ jugador.numero }}</td>
						<td>{{ jugador.mejorPosicion }}</td>
						<td><a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a></td>
						<td class="cuadro_num_azul_der">{{ jugador.valorMercado }}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<td>Este equipo no tiene jugadores</td>
			</tr>
		{% endif %}
	</table>

	<div><b>Dinero actual: </b><span>{{ equipo.dinero }} €</span></div>

	<!-- Tabla cuentas -->
	<table class="tabla1" id="tabla_cuentas">
		<caption>Cuentas</caption>
		{% if historial_cuentas %}
			<thead>
				<tr>
					<td>Fecha</td>
					<td>Tipo</td>
					<td>Beneficios</td>
					<td>Dinero total</td>
				</tr>
			</thead>
			<tbody>
				{% for cuenta in historial_cuentas %}
					<tr>
						<td class="cuadro_num_azul_der">{{ jugador.numero }}</td>
						<td>{{ jugador.mejorPosicion }}</td>
						<td><a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a></td>
						<td class="cuadro_num_azul_der">{{ jugador.valorMercado }}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<td>Aún no hay historial de cuentas</td>
			</tr>
		{% endif %}
	</table>

	<!-- Tabla jugadores en compra -->
	<table class="tabla1" id="tabla_jugadores_compra">
		<caption>Jugadores en compra</caption>
		{% if jugadores_compra %}
			<thead>
				<tr>
					<th title="Posición">Pos</th>
					<th>Sexo</th>
					<th>Nombre</th>
					<th>Equipo</th>
					<th>Valor</th>
					<th>Precio subasta</th>
					<th>Precio compra</th>
					<th>Comprador actual</th>
					<th>Fecha fin subasta</th>
				</tr>
			</thead>
			<tbody>
				{% for jugador in jugadores_compra %}
					<tr>
						<!-- Posicion -->
						<td>
							{{ jugador.mejorPosicion }}
						</td>

						<!-- Sexo -->
						<td>
							{{ jugador.sexo }}
						</td>

						<!-- Nombre del jugador -->
						<td>
							<a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a>
						</td>

						<!-- Equipo del jugador -->
						<td>
							<a href="/equipos/ver/{{ jugador.equipo.id }}/">{{ jugador.equipo.nombre }}</a>
						</td>

						<!-- Valor -->
						<td class="cuadro_num_azul_der">
							{{ jugador.valorMercado }}
						</td>

						<!-- Precio subasta -->
						<td class="cuadro_num_azul_der">
							<span onclick="realizarSubasta({{ jugador.id }}">{{ jugador.precio_subasta }}</span>
						</td>

						<!-- Precio compra -->
						<td class="cuadro_num_azul_der">
							<span onclick="realizarCompra({{ jugador.id }}">{{ jugador.precio_compra }}</span>
						</td>

						<!-- Equipo comprador -->
						<td>
							<a href="/equipos/ver/{{ jugador.equipo_comprador.id }}/">{{ jugador.equipo_comprador.nombre }}</a>
						</td>

						<!-- Fecha fin subasta -->
						<td class="cuadro_num_azul_der">
							{{ jugador.fecha_fin_subasta }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No hay jugadores en compra</th>
			</tr>
		{% endif %}
	</table>

	<!-- Tabla jugadores en venta -->
	<table class="tabla1" id="tabla_jugadores_venta">
		<caption>Jugadores en venta</caption>
		{% if jugadores_venta %}
			<thead>
				<tr>
					<th title="Posición">Pos</th>
					<th>Sexo</th>
					<th>Nombre</th>
					<th>Valor</th>
					<th>Precio subasta</th>
					<th>Precio compra</th>
					<th>Comprador actual</th>
					<th>Fecha fin subasta</th>
				</tr>
			</thead>
			<tbody>
				{% for jugador in jugadores_venta %}
					<tr>
						<!-- Posicion -->
						<td>
							{{ jugador.mejorPosicion }}
						</td>

						<!-- Sexo -->
						<td>
							{{ jugador.sexo }}
						</td>

						<!-- Nombre del jugador -->
						<td>
							<a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a>
						</td>

						<!-- Valor -->
						<td class="cuadro_num_azul_der">
							{{ jugador.valorMercado }}
						</td>

						<!-- Precio subasta -->
						<td class="cuadro_num_azul_der">
							<span onclick="realizarSubasta({{ jugador.id }}">{{ jugador.precio_subasta }}</span>
						</td>

						<!-- Precio compra -->
						<td class="cuadro_num_azul_der">
							<span onclick="realizarCompra({{ jugador.id }}">{{ jugador.precio_compra }}</span>
						</td>

						<!-- Equipo comprador -->
						<td>
							<a href="/equipos/ver/{{ jugador.equipo_comprador.id }}/">{{ jugador.equipo_comprador.nombre }}</a>
						</td>

						<!-- Fecha fin subasta -->
						<td class="cuadro_num_azul_der">
							{{ jugador.fecha_fin_subasta }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No hay jugadores en venta</th>
			</tr>
		{% endif %}
	</table>
{% endblock %}
