{% extends "base.html" %}

{% block contenido %}
<form action="/ligas/crear_liga/" method="post">
	{% csrf_token %}
    <div class="fieldWrapper">
        {{ form.nombre.errors }}
        <label for="id_nombre">Nombre de la liga:</label><br>
        {{ form.nombre }}
    </div>
    <div class="fieldWrapper">
        {{ form.num_equipos.errors }}
        <label for="id_num_equipos">Numero de equipos:</label><br>
        {{ form.num_equipos }}
    </div>
    <hr>
	<input type="submit" value="Crear" />
</form>
{% endblock %}

