{% extends "base.html" %}

{% block contenido %}

<strong>Datos de la liga</strong>
<ul>
	<li>Nombre: {{ liga.nombre }}</li>
</ul>

{% if liga_acabada %}
	<strong>Clasificacion final:</strong>
	<h1>EH FINAL EH</h1>
{% else %}
	<strong>Clasificacion actual:</strong>
{% endif %}
<ul>
	{% for dato_clasificacion in clasificacion %}
		<li>{{ dato_clasificacion.equipo.nombre }}: {{ dato_clasificacion.goles_favor }} - {{ dato_clasificacion.goles_contra }} - <b>{{ dato_clasificacion.puntos }}</b></li>
	{% endfor%}
</ul>

{% if activada %}
	{% if jornada_actual %}
		<strong>Jornada actual</strong>
		<ul>
			<li><a href="/jornadas/ver/{{ jornada_actual.id }}/">{{ jornada_actual.numero }}</a></li>
			<li><a href="/ligas/avanzar/{{ liga.id }}/">Avanzar jornada</a></li>
		</ul>
	{% else %}
		<strong>Jornada actual</strong>
		<ul>
			<li>Liga acabada</li>
		</ul>
	{% endif %}

	<strong>Listado de jornadas</strong>
	<ul>
		{% for jornada in jornadas %}
			<li><a href="/jornadas/ver/{{ jornada.id }}/">{{ jornada.numero }}</a> ¿Jugada? {{ jornada.jugada }}</li>
		{% endfor %}
	</ul>
{% else %}
	No esta activada aun.
	<ul>
		<li><a href="/ligas/activar/{{ liga.id }}/">Activar</a></li>
	</ul>
{% endif %}

<strong>Equipo en esta liga</strong>
<ul>
{% if equipo_propio %}
	<li><a href="/equipos/ver/{{ equipo_propio.id }}">{{ equipo_propio.nombre }}</a></li>
{% else %}
	{% if activada %}
		<li>No se pueden añadir mas equipos</li>
	{% else %}
		<li><a href="/equipos/crear/{{ liga.id }}/">Crear</a><br></li>
	{% endif %}
{% endif %}
</ul>

<strong>Listado de equipos</strong>
<ul>
{% for equipo in equipos %}
	<li><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></li>
{% endfor %}
</ul>

{% endblock %}
