{% extends "base.html" %}

{% block situacion %}
	<li><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></li>
	<li><a href="/jornadas/ver/{{ jornada.id }}/">Jornada {{ jornada.numero }}</a></li>
	<li>Partido {{ partido.id }}</li>
{% endblock %}

{% block contenido %}

	<table style="margin-bottom: 20px;">
		<caption>Partido {{ partido.id }}</caption>

		<tbody>
			<tr>
				<!-- Equipo local -->
				<td>
					{% if finalizado and partido.goles_local > partido.goles_visitante %}
						<b><a href="/equipos/ver/{{ equipo_local.id }}/">{{ equipo_local }}</a></b>
					{% else %}
						<a href="/equipos/ver/{{ equipo_local.id }}/">{{ equipo_local }}</a>
					{% endif %}
				</td>
				<!-- Equipo visitante -->
				<td>
					{% if finalizado and partido.goles_local < partido.goles_visitante %}
						<b><a href="/equipos/ver/{{ equipo_visitante.id }}/">{{ equipo_visitante }}</a></b>
					{% else %}
						<a href="/equipos/ver/{{ equipo_visitante.id }}/">{{ equipo_visitante }}</a>
					{% endif %}
				</td>
				<!-- Resultado -->
				<th>
					{% if finalizado %}
						{{ partido.goles_local }} - {{ partido.goles_visitante }}
					{% else %}
						Aún no jugado.
					{% endif %}
				</th>
			</tr>
		</tbody>
	</table>

	{% if finalizado %}
		<h4>Titulares del equipo local</h4>
		<ul>
			{% for titular in titulares_local %}
				<li><a href="/jugadores/ver/{{ titular.id }}">{{ titular.nombre }}</a></li>
			{% endfor %}
		</ul>

		<h4>Titulares del equipo visitante</h4>
		<ul>
			{% for titular in titulares_visitante %}
				<li><a href="/jugadores/ver/{{ titular.id }}">{{ titular.nombre }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<h4>SIN INICIAR</h4>
		<ul>
			{% if tiene_equipo %}
				<li><a href="/partidos/preparar/{{ partido.id }}/">Preparar partido</a></li>
			{% endif %}
			{% if es_creador %}
				<li><a href="/partidos/jugar/{{ partido.id }}/">Jugar</a></li>
			{% endif %}
		</ul>
	{% endif %}

{% endblock %}
