{% extends "base.html" %}

{% block contenido %}

<strong>Datos de la jornada</strong>
<ul>
	<li>Numero: <a href="/jornadas/{{ jornada.id }}">{{ jornada.numero }}</a></li>
</ul>

<strong>Datos de la liga</strong>
<ul>
	<li>Nombre: <a href="/ligas/{{ liga.id }}/">{{ liga.nombre }}</a></li>
</ul>

<strong>Listado de equipos</strong>
<ul>
	<li>Local: <a href="/equipos/{{ equipo_local.id }}/">{{ partido.equipo_local }}</a>
	<li>Visitante: <a href="/equipos/{{ equipo_visitante.id }}/">{{ partido.equipo_visitante }}</a>
</ul>

<strong>¿Acabado?</strong>
{% if finalizado %}
	Si
	<ul>
		<li>Goles local: {{ partido.goles_local }}</li>
		<li>Goles visitante: {{ partido.goles_visitante }}</li>
		<li>Resultado: {{ resultado }}</li>
	</ul>
	<strong>Titulares del equipo local</strong>
	<ul>
		{% for titular in titulares_local %}
			<li><a href="/jugadores/{{ titular.id }}">{{ titular.nombre }}</a></li>
		{% endfor %}
	</ul>
	<strong>Titulares del equipo visitante</strong>
	<ul>
		{% for titular in titulares_visitante %}
			<li><a href="/jugadores/{{ titular.id }}">{{ titular.nombre }}</a></li>
		{% endfor %}
	</ul>
	
{% else %}
	No
	<ul>
		<li><a href="/partidos/preparar/{{ partido.id }}/">Preparar partido</a></li>
		<li><a href="/partidos/jugar/{{ partido.id }}/">Jugar</a></li>
	</ul>
{% endif %}

{% endblock %}
