{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/media/css/style.css" media="screen" />
{% endblock %}

{% block cabecera %}
<h1>Esto queda feo sin nada, ademas de que cuesta volver al index =/</h1>
{% endblock %}

{% block enlaces_pie_pagina %}
		<div class="contenido">
			<a href="/admin/">Administración</a>
			<a href="/contacto/">Contacta con nosotros</a>
			<a href="/creditos/">Créditos</a>
			<a href="https://forja.rediris.es/pm/task.php?group_id=862&amp;group_project_id=1543">Cambios</a>
			<a href="http://90manager.wordpress.com/">Blog</a>
			<a href="https://forja.rediris.es/plugins/wiki/index.php?id=862&amp;type=g">Wiki</a>
			<a href="http://twitter.com/90manager">Síguenos</a>
		</div>
{% endblock %}
