{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/media/css/style.css" media="screen" />
{% endblock %}

{% block enlaces_pie_pagina %}
		<div class="contenido">
			<a href="/admin/">Administración</a>
			<a href="/contacto/">Contacta con nosotros</a>
			<a href="/creditos/">Créditos</a>
			<a href="/changelog/">Cambios</a>
			<a href="/condiciones/">Condiciones de uso</a></a>
			<a href="https://forja.rediris.es/projects/cusl5-90manager/">Forja</a>
			<a href="http://90manager.wordpress.com/">Blog</a>
			<a href="https://forja.rediris.es/plugins/wiki/index.php?id=862&amp;type=g">Wiki</a>
			<a href="/siguenos/">Síguenos</a>
		</div>
{% endblock %}
