{% extends "base_web.html" %}

{% block css_extra %}
	<style type="text/css">
		h2{
			text-align: center;
		}
		
		h4{
			background: #fff;
			border: solid 1px #555;
			padding: 5px 0px;
			margin: 20px 0px 0px 0px;
			text-align: center;
		}
		
		ul{
			border-right: solid 1px #555;
			border-bottom: solid 1px #555;
			border-left: solid 1px #555;
			margin: 0px;
			padding: 10px 10px 10px 30px;
		}
	
		#changelog{
			margin: 10px auto;
			width: 500px;
		}
	</style>
{% endblock %}

{% block contenido %}
	<div id="changelog">
		<h2>Lista de cambios</h2>

		<h4>v 0.0.3</h4>
		<ul>
			<li>Añadidas nuevas opciones en la creación de ligas</li>
			<li>Ligas mixtas</li>
			<li>Corregidos algunos bugs</li>
			<li>Generador aleatorio de nombres de equipos</li>
			<li>Añadidas algunas habilidades y apariencia a los jugadores</li>
			<li>Más información en todas las páginas</li>
			<li>Sistema de notificaciones</li>
			<li>Sistema de subasta de jugadores</li>
			<li>Refactorización de código</li>
		</ul>

		<h4>v 0.0.2.5</h4>
		<ul>
			<li>Preparacion de partidos mediante drag & drop gracias a HTML5</li>
			<li>Clasificación de jornadas en "tiempo real"</li>
			<li>Contador de desactualización</li>
			<li>Arreglos de muchísimos bugs</li>
			<li>Accesos a blog, forja, twitter, etc.</li>
		</ul>

		<h4>v 0.0.2</h4>
		<ul>
			<li>Multijugador entre usuarios del sistema</li>
			<li>Habilidades y nombres en los jugadores</li>
			<li>Algoritmo de jugar partidos</li>
		</ul>

		<h4>v 0.0.1</h4>
		<ul>
			<li>Web básica</li>
			<li>Juego de un solo jugador contra la máquina</li>
			<li>Registro de usuarios</li>
		</ul>
	</div>
{% endblock %}
