{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/web/changelog.css" />
{% endblock %}

{% block contenido %}
	<div id="changelog">
		<h2>Lista de cambios</h2>

		<h4>v 0.0.4</h4>
		<ul class="lista_cambios">
			<li>Añadidas nuevas opciones en la creación de ligas</li>
			<li>Apariencia de jugadores</li>
			<li>Calendario de liga</li>
			<li>Interfaz de usuario mejorada</li>
			<li>Efectos Jquery</li>
			<li>Mejorado sistema de visualización de repeticiones</li>
			<li>Refactorización de código</li>
		</ul>

		<h4>v 0.0.3</h4>
		<ul class="lista_cambios">
			<li>Añadidas nuevas opciones en la creación de ligas</li>
			<li>Ligas mixtas</li>
			<li>Generador aleatorio de nombres de equipos controlados por el sistema</li>
			<li>Añadidas algunas habilidades y apariencia a los jugadores</li>
			<li>Más información en todas las páginas</li>
			<li>Sistema de notificaciones</li>
			<li>Sistema de subasta de jugadores</li>
			<li>Visualizador simple de repeticiones de partidos</li>
			<li>Refactorización de código</li>
			<li>Corregidos algunos bugs</li>
		</ul>

		<h4>v 0.0.2.5</h4>
		<ul class="lista_cambios">
			<li>Preparacion de partidos mediante drag & drop gracias a HTML5</li>
			<li>Clasificación de jornadas en "tiempo real"</li>
			<li>Contador de desactualización</li>
			<li>Arreglos de muchísimos bugs</li>
			<li>Accesos a blog, forja, twitter, etc.</li>
		</ul>

		<h4>v 0.0.2</h4>
		<ul class="lista_cambios">
			<li>Multijugador entre usuarios del sistema</li>
			<li>Habilidades y nombres en los jugadores</li>
			<li>Algoritmo de jugar partidos</li>
		</ul>

		<h4>v 0.0.1</h4>
		<ul class="lista_cambios">
			<li>Web básica</li>
			<li>Juego de un solo jugador contra la máquina</li>
			<li>Registro de usuarios</li>
		</ul>
	</div>
{% endblock %}
