{% extends "base_web.html" %}

{% block contenido %}
	<div id="changelog">
		<h2>Lista de cambios</h2>

		<h4>v 0.0.2.5</h4>
		<ul>
			<li>Preparacion de partidos mediante drag & drop gracias a HTML5</li>
			<li>Clasificación de jornadas en "tiempo real"</li>
			<li>Contador de desactualización</li>
			<li>Arreglos de muchisimos bugs</li>
			<li>Accesos a blog, forja, twitter, etc.</li>
			<li>Arreglos de muchisimos bugs</li>
		</ul>

		<h4>v 0.0.2</h4>
		<ul>
			<li>Multijugador entre usuarios del sistema</li>
			<li>Habilidades y nombres en los jugadores</li>
			<li>Algoritmo de jugar partidos</li>
		</ul>

		<h4>v 0.0.1</h4>
		<ul>
			<li>Web básica</li>
			<li>Juego de un solo jugador contra la máquina</li>
			<li>Registro de usuarios</li>
		</ul>
	</div>
{% endblock %}
