{% extends "base_web.html" %}

{% block contenido %}
	<div id="condiciones">
		<h4>90Manager es un mánager de fútbol online y libre en el que los jugadores podrán jugar entre sí con su propio equipo personalizado.</h4>

		<ul>
			<li>Entorno: Entorno web</li>
			<li>Estado de desarrollo: 2 - Pre-Alpha</li>
			<li>Lenguaje de programación: Python</li>
			<li>Lenguaje natural de desarrollo: Castellano</li>
			<li>Licencia: GNU General Public License v.3.0 (GPLv3)</li>
			<li>Sistema operativo: Independiente del Sistema Operativo</li>
			<li>Topic: Juegos/Entretenimiento</li>
			<li>Usuarios potenciales: Usuarios finales de Escritorio</li>
			<li>V Concurso Universitario de Software Libre: Ocio</li>
		</ul>
	</div>
{% endblock %}
