{% extends "base_web.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/web/condiciones.css" type="text/css" media="screen" />
{% endblock %}

{% block contenido %}
	<div id="condiciones">
		<h2>Condiciones de uso</h2>
		
		<p>Debes de aceptar estas condiciones de uso para jugar con 90manager, si no os mandaremos a los GEO, al equipo A, a Chuck y a los de la SG... bueno, a esos mejor ni los nombramos</p>
		<h4>Nos comprometemos a:</h4>
		<ul>
			<li>No poner música en la web</li>
			<li>Seguir los estándares</li>
			<li>No públicar ni las contraseñas ni los emails que nos pongais</li>
		</ul>

		<h4>Os compremetereis a:</h4>
		<ul>
			<li>Informar de un bug cuando salga</li>
			<li>No quejarse de que ya no está el usuario (solemos borrar y recrear la base de datos cada 2 x 3)</li>
			<li>Invitarnos a cervezas</li>
			<li>No hackear la web salvo que sea para decirnos como evitar eso en un futuro</li>
			<li>Insultos, escribir en mayúsculas, escribir con faltas de ortografía, esas cosas de mantener un respeto en internet</li>
		</ul>
	</div>
{% endblock %}
