{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/web/condiciones.css" />
{% endblock %}

{% block contenido %}
	<h2>Condiciones de uso</h2>

	<p>Debes de aceptar estas condiciones de uso para jugar con 90manager</p>
	
	<ul id="condiciones_uso">
		<li>
			<h3>Nos comprometemos a:</h3>
			<ul>
				<li>No poner música en la web</li>
				<li>Seguir los estándares</li>
				<li>No públicar ni las contraseñas ni los emails que nos pongais</li>
			</ul>
		</li>

		<li>
			<h3>Te comprometes a:</h3>
			<ul>
				<li>Informar de un bug cuando salga</li>
				<li>No hackear la web salvo que sea para decirnos como evitar eso en un futuro</li>
				<li>No insultar, escribir en mayúsculas, escribir con faltas de ortografía... esas cosas de mantener un respeto en internet</li>
				<li>No quejarse de que ya no está el usuario (solemos borrar y recrear la base de datos cada 2 x 3)</li>
			</ul>
		</li>
	</ul>
{% endblock %}
