{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/formularios.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/web/contacto.css" type="text/css" media="screen" />
{% endblock %}

{% block js_extra %}
	<script type="text/javascript">
		/* Para el funcionamiento de tema css con jquery */
		$(function() {
			$("input:submit", "#contacto").button();
		});
	</script>
{% endblock %}

{% block contenido %}
	<h4>Contacto</h4>
	
	<p>Envíenos insultos, amenazas de muerte, citaciones para juzgado, etc
	mediante el siguiente formulario de contacto con los administradores</p>

	<div id="contacto">
		<form class="form1" action="/contacto/" method="post">
			{% csrf_token %}
			<div id="contenido_emisor">
				{% if form.emisor.errors %}
					{{ form.emisor.errors }}
				{% endif %}
				<label for="id_emisor">Emisor:</label>
				<input id="id_emisor" type="text" name="emisor" />
			</div>

			<div id="contenido_asunto">
				{% if form.asunto.errors %}
					{{ form.asunto.errors }}
				{% endif %}
				<label for="id_asunto">Asunto:</label>
				<input id="id_asunto" type="text" name="asunto" maxlength="100" />
			</div>

			<div id="contenido_mensaje">
				{% if form.mensaje.errors %}
					{{ form.mensaje.errors }}
				{% endif %}
				<label for="id_mensaje">Mensaje:</label>
				<textarea id="id_mensaje" name="mensaje" rows="5" cols="50">Quiero un hijo vuestro</textarea>
			</div>

			<div id="contenido_enviar">
				<input type="submit" value="Enviar" />
			</div>
		</form>
	</div>
{% endblock %}
