{% extends "base_web.html" %}

{% block css_extra %}
    <style type="text/css">
		h4{
			padding: 10px 0px;
			text-align: center;
		}

		label{
			float: left;
			width: 100px;
		}

		#contacto{
			border: solid 1px #555;
			margin: 10px auto;
			padding: 20px;
			width: 400px;
		}

		#contenido_emisor{ clear: both; padding: 5px 0px; }
		#contenido_asunto{ clear: both; padding: 5px 0px; }
		#contenido_mensaje{ clear: both; padding: 5px 0px; }
		#contenido_mensaje label{ padding: 5px 0px; width: 100%; }
		#contenido_enviar{ clear: both; padding: 5px 0px; }

		#id_mensaje{ width: 90%; }
		
		#form {
			border:1px solid #990000;
			width:450px;
			margin:auto;
		}
		#form legend{
			font-weight:bold;
			font-size:12px;
		}
		#form ol{
			list-style:none;
		}
		#form ol li{
			padding-bottom:5px;
		}
		#form ol li label{
			width:120px;
			float:left;
			text-align:left;
		}
		#form input[type=text] {
			border:1px solid #CCCCCC;
		}
		#form input.btn {
			padding:3px;
			color:#FFFFFF;
			background-color:#990000;
			border:1px solid #000000;
		}
    </style>
{% endblock %}

{% block contenido %}
	<h4>Envíenos insultos, amenazas de muerte, citaciones para juzgado, etc 
	mediante el siguiente formulario de contacto con los administradores</h4>

	<div id="contacto">
		<form action="/contacto/" method="post">
			{% csrf_token %}
			<div id="contenido_emisor">
				{% if form.emisor.errors %}
					{{ form.emisor.errors }}
				{% endif %}
				<label for="id_emisor">Emisor:</label>
				<input id="id_emisor" type="text" name="emisor" />
			</div>

			<div id="contenido_asunto">
				{% if form.asunto.errors %}
					{{ form.asunto.errors }}
				{% endif %}
				<label for="id_asunto">Asunto:</label>
				<input id="id_asunto" type="text" name="asunto" maxlength="100" />
			</div>

			<div id="contenido_mensaje">
				{% if form.mensaje.errors %}
					{{ form.mensaje.errors }}
				{% endif %}
				<label for="id_mensaje">Mensaje:</label>
				<textarea id="id_mensaje" name="mensaje" rows="5" cols="50">Quiero un hijo vuestro</textarea>
			</div>

			<div id="contenido_enviar">
				<input type="submit" value="Enviar" />
			</div>
		</form>
	</div>
{% endblock %}
