{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/web/creditos.css" />
{% endblock %}

{% block contenido %}
	<h2>Créditos</h2>

	<ul id="contenido">
		<li>
			<h3>El proyecto</h3>

			<ul>
				<li><strong>Entorno:</strong> Web</li>
				<li><strong>Estado de desarrollo:</strong> 2 - Pre-Alpha</li>
				<li><strong>Lenguaje de programación:</strong> Python</li>
				<li><strong>Lenguaje natural de desarrollo:</strong> Castellano</li>
				<li><strong>Licencia:</strong> GNU General Public License v.3.0 (GPLv3)</li>
				<li><strong>Sistema operativo:</strong> Independiente del Sistema Operativo</li>
				<li><strong>Topic:</strong> Juegos / Entretenimiento</li>
				<li><strong>Usuarios potenciales:</strong> Usuarios finales de Escritorio</li>
				<li><strong>V Concurso Universitario de Software Libre:</strong> Ocio</li>
			</ul>
		</li>

		<li>
			<h3>Administradores</h3>

			<ul>
				<li><a href="http://twitter.com/kapazao">Carlos Antonio Rivera Cabello</a></li>
				<li><a href="http://lopezpino.es">José Luis López Pino</a></li>
				<li><a href="http://flavors.me/ciberjm">Juan Miguel Lechuga Pérez</a></li>
			</ul>
		</li>

		<li>
			<h3>Colaboradores</h3>
			<ul>
				<li>Fco Javier Lucena Lucena</li>
				<li>JJ Merelo</li>
				<li>Jose Antonio Martín Fernández</li>
				<li>Juan Antonio Valderas Molina</li>
				<li>Serafín Vélez Barrera</li>
			</ul>
		</li>
	</ul>
	
	<div class="clear"></div>
{% endblock %}
