{% extends "base_web.html" %}

{% block css_extra %}
	<style type="text/css">
		body{
			font-size: 0.9em;
		}

		h4{
			font-size: 1.2em;
		}

		ul{
			padding: 0px 0px 0px 15px;
		}

		#creditos{
			float: right;
			padding: 10px;
			margin: 10px;
			width: 300px;
		}

		#info{
			border: solid 1px #000;
			float: left;
			padding: 10px;
			margin: 10px;
			width: 400px;
		}
	</style>
{% endblock %}

{% block contenido %}
	<h1>SI NO CIERRAS EL STYLE, PUES LECHES.... XD</h4>
	<div id="info">
		<h4>90Manager es un mánager de fútbol online y libre en el que los jugadores podrán jugar entre sí con su propio equipo personalizado.</h4>

		<ul>
			<li>Entorno: Entorno web</li>
			<li>Estado de desarrollo: 2 - Pre-Alpha</li>
			<li>Lenguaje de programación: Python</li>
			<li>Lenguaje natural de desarrollo: Castellano</li>
			<li>Licencia: GNU General Public License v.3.0 (GPLv3)</li>
			<li>Sistema operativo: Independiente del Sistema Operativo</li>
			<li>Topic: Juegos/Entretenimiento</li>
			<li>Usuarios potenciales: Usuarios finales de Escritorio</li>
			<li>V Concurso Universitario de Software Libre: Ocio</li>
		</ul>
	</div>

	<div id="creditos">
		<h4>Administradores del proyecto</h4>

		<ul>
			<li><a href="http://twitter.com/kapazao">Carlos Antonio Rivera Cabello</li>
			<li><a href="http://lopezpino.es">José Luis López Pino</a></li>
			<li><a href="http://flavors.me/ciberjm">Juan Miguel Lechuga Pérez</a></li>
		</ul>

		<h4>Colaboradores:</h4>
		<ul>
			<li>Fco Javier Lucena Lucena</li>
			<li>JJ Merelo</li>
			<li>Jose Antonio Martín Fernández</li>
			<li>Juan Antonio Valderas Molina</li>
			<li>Serafín Vélez Barrera</li>
		</ul>
	</div>
{% endblock %}
