{% extends "base_web.html" %}

{% block contenido %}
	<div id="siguenos">
		<h4>Pueden seguir las actualizaciones de 90manager en las siguientes redes sociales:</h4>

		<ul>
			<li>Twitter: <a href="http://www.twitter.com/90manager"><img src="http://twitter-badges.s3.amazonaws.com/twitter-b.png" alt="Follow 90manager on Twitter"/></a></li>
			<li>Tuenti:    90manager</li>
			<li>Identi.ca: <a href="http://identi.ca/90manager">90manager</a></li>
		</ul>
	</div>

<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2F90-Manager%2F171565506226769&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="false"></iframe>
{% endblock %}
