{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/web/siguenos.css" type="text/css" media="screen" />
{% endblock %}

{% block contenido %}
	<h4>Síguenos</h4>
	
	<p>Pueden seguir las actualizaciones de 90manager en las siguientes redes sociales:</p>

	<div id="siguenos">
		<table class="tabla1" id="tabla_enlaces_siguenos">
			<tbody>
				<!-- Facebook -->
				<tr id="fila_facebook">
					<th>Facebook:</th>
					<td><a href="http://identi.ca/90manager" onclick="target='_blank'">Facebook</a></td>
				</tr>

				<!-- Identi.ca -->
				<tr id="fila_identi_ca">
					<th>Identi.ca:</th>
					<td><a href="http://identi.ca/90manager" onclick="target='_blank'">90manager</a></td>
				</tr>

				<!-- Tuenti -->
				<tr id="fila_tuenti">
					<th>Tuenti:</th>
					<td>90manager</td>
				</tr>

				<!-- Twitter -->
				<tr id="fila_twitter">
					<th>Twitter:</th>
					<td>
						<a href="http://www.twitter.com/90manager" onclick="target='_blank'">
							<img src="http://twitter-badges.s3.amazonaws.com/twitter-b.png" alt="Follow 90manager on Twitter" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<!--
	<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2F90-Manager%2F171565506226769&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="false"></iframe>
-->
{% endblock %}
