{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a></div>{% endblock %}

{% block contenido %}

	<h2>Perfil principal de {{ usuario.username }}</h2>

	<table style="margin-bottom: 20px; width: 200px;">
		<caption>Ligas creadas</caption>
		<tbody>
			{% for liga in ligas_creadas %}
				<tr>
					<td><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></td>
				</tr>
			{% endfor %}
		<tbody>
	</table>

	<table style="width: 200px;">
		<caption>Ligas en las que participa</caption>
		<thead>
			<tr>
				<th>Liga</th>
				<th>Equipo</th>
			</tr>
		</thead>
		<tbody>
			{% for equipo in equipos %}
				<tr>
					<td><a href="/ligas/ver/{{ equipo.liga.id }}/">{{ equipo.liga.nombre }}</a></td>
					<td><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></td>
				</tr>
			{% endfor %}
		<tbody>
	</table>

{% endblock %}
