{% extends "base_juego.html" %}

{% block css_extra %}
	<style type="text/css">
		#lesionado{
			color: #aa5500;
			font-weight: bold;
		}

		#tabla_datos_personales{
			width: 300px;
		}

		#tabla_otros_datos{
			width: 300px;
		}

		#tabla_habilidades_juego{
			width: 300px;
		}

		#tabla_habilidades_mentales{
			width: 300px;
		}
	</style>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ equipo.liga.id }}/">{{ equipo.liga.nombre }}</a></li>
		<li><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></li>
		<li><span>{{ jugador.nombre }}</span></li>
	</ul>
{% endblock %}

{% block contenido %}

	<h2>{{ jugador.nombre }}</h2>

	<a href="/mercado/subastas/crear/{{ jugador.id }}/">Subastar</a>
	
	<!-- Datos personales -->
	<table class="tabla1" id="tabla_datos_personales">
		<caption>Datos personales</caption>
		<tbody>
			<!-- Sexo -->
			<tr>
				<td>Sexo</td>
				<td>
					{% if jugador.sexo == 'M' %}
						Masculino <img src="/media/img/icons/a/genero_masc.png" alt="M" title="" />
					{% else %}
						Femenino <img src="/media/img/icons/a/genero_fem.png" alt="F" title="" />
					{% endif %}
				</td>
			</tr>

			<!-- Edad -->
			<tr>
				<td>Edad</td>
				<td>{{ anios }} años y {{ dias }} días</td>
			</tr>

			<!-- Altura -->
			<tr>
				<td>Altura</td>
				<td>{{ jugador.atributos.altura }} cm.</td>
			</tr>

			<!-- Peso -->
			<tr>
				<td>Peso</td>
				<td>{{ jugador.atributos.peso }} kg.</td>
			</tr>

			<!-- Estado -->
			<tr>
				<td>Estado</td>
				<td>
					{% if jugador.dias_lesionado > 0 %}
						<span id="lesionado">Lesionado durante {{ jugador.dias_lesionado }} días</span>
					{% else %}
						En plena forma
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Otros datos -->
	<table class="tabla1" id="tabla_otros_datos">
		<caption>Otros datos</caption>
		<tbody>
			<!-- Mejor posicion -->
			<tr>
				<td>Mejor posici&oacute;n</td>
				<td>{{ mejor_posicion }}</td>
			</tr>

			<!-- Valor de mercado -->
			<tr>
				<td>Valor de mercado</td>
				<td>{{ jugador.valorMercado }} &euro;</td>
			</tr>
		</tbody>
	</table>

	<!-- Habilidades de juego -->
	<table class="tabla1" id="tabla_habilidades_juego">
		<caption>Habilidades de juego</caption>
		<thead>
			<tr>
				<th>Habilidad</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
			<!-- Ataque -->
			<tr>
				<td>Ataque</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.ataque }}</td>
			</tr>

			<!-- Defensa -->
			<tr>
				<td>Defensa</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.defensa }}</td>
			</tr>

			<!-- Velocidad -->
			<tr>
				<td>Velocidad</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.velocidad }}</td>
			</tr>

			<!-- Pases -->
			<tr>
				<td>Pases</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.pases }}</td>
			</tr>

			<!-- Anotacion -->
			<tr>
				<td>Anotaci&oacute;n</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.anotacion }}</td>
			</tr>

			<!-- Portero -->
			<tr>
				<td>Portero</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.portero }}</td>
			</tr>
		</tbody>
	</table>

	<!-- Habilidades mentales -->
	<table class="tabla1" id="tabla_habilidades_mentales">
		<caption>Habilidades mentales</caption>
		<thead>
			<tr>
				<th>Habilidad</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
			<!-- Agresividad -->
			<tr>
				<td>Agresividad</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.agresividad }}</td>
			</tr>

			<!-- Concentracion -->
			<tr>
				<td>Concentración</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.concentracion }}</td>
			</tr>

			<!-- Estabilidad -->
			<tr>
				<td>Estabilidad</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.estabilidad }}</td>
			</tr>

			<!-- Moral -->
			<tr>
				<td>Moral</td>
				<td class="cuadro_num_azul_der">{{ jugador.atributos.moral }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
