{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/tablas.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/juego/jugadores/ver_jugador.css" type="text/css" media="screen" />
{% endblock %}

{% block js_extra %}
	<script type="text/javascript">
		/* Para el funcionamiento de tema css con jquery */
		$(function() {
			$("button", "#subasta").button();
		});
	</script>
{% endblock %}

{% block contenido %}

	<h2>Datos de "{{ jugador.nombre }}"</h2>

	<div id="subasta">
		{% if subasta %}
			<button onclick="location.href='/mercado/subastas/ver/{{ subasta.id }}/'">Ver Subasta</button>
		{% else %}
			{% if equipo.usuario == usuario %}
				<button onclick="location.href='/mercado/subastas/crear/'">Subastar</button>
			{% endif %}
		{% endif %}
	</div>

	<!-- Datos personales -->
	<div id="contenido_datos_personales">
		<div id="contenido_datos_personales2">
			<div id="datos_personales">
				<div>
					{% if jugador.sexo == 'M' %}
						<img src="/media/img/icons/a/genero_masc.png" alt="M" title="Masculino" height="16" width="16" />
					{% else %}
						<img src="/media/img/icons/a/genero_fem.png" alt="F" title="Femenino" height="16" width="16" />
					{% endif %}

					<!-- Nombre -->
					<span id="nombre">
						{{ jugador.nombre }}
					</span>
				</div>

				<!-- Fecha de nacimiento -->
				<div>
					<strong>Fecha de nacimiento</strong><br />

					<span id="fecha_nacimiento">{{ jugador.fecha_nacimiento }}</span>
				</div>

				<!-- Equipo -->
				<div>
					<strong>Equipo</strong><br />

					<span id="equipo">
						{{ equipo.nombre }}
					</span>
				</div>
			</div>

			<!-- Foto -->
			{% if jugador.sexo == 'M' %}
				<div id="foto_m">
					<!-- Ojos -->
					<img src="/media/img/jugadores/ojos_{{ jugador.color_ojos }}.png" id="ojos" alt="" />
					
					<!-- Pelo -->
					<img src="/media/img/jugadores/hombres/pelo_{{ jugador.color_pelo }}.png" id="pelo" alt="" />

					<!-- Piel -->
					<img src="/media/img/jugadores/hombres/piel_{{ jugador.color_piel }}.png" id="piel" alt="" />
			{% else %}
				<div id="foto_f">
					<!-- Ojos 
					<img src="/media/img/jugadores/ojos_{{ jugador.color_ojos }}.png" id="ojos" alt="" />
					-->
					<!-- Pelo 
					<img src="/media/img/jugadores/mujeres/pelo_{{ jugador.color_pelo }}.png" id="pelo" alt="" />
					-->
					<!-- Piel 
					<img src="/media/img/jugadores/mujeres/piel_{{ jugador.color_piel }}.png" id="piel" alt="" />
					-->
			{% endif %}
			</div>
		</div>
	</div>

	<!-- Datos -->
	<table class="tabla1" id="tabla_datos">
		<caption>Datos</caption>
		<tbody>
			<!-- Edad -->
			<tr>
				<td>Edad</td>
				<td>{{ anios }} años y {{ dias }} días</td>
			</tr>

			<!-- Altura -->
			<tr>
				<td>Altura</td>
				<td>{{ jugador.atributos.altura }} cm.</td>
			</tr>

			<!-- Peso -->
			<tr>
				<td>Peso</td>
				<td>{{ jugador.atributos.peso }} kg.</td>
			</tr>

			<!-- Estado -->
			<tr>
				<td>Estado</td>
				<td>
					{% if jugador.dias_lesionado > 0 %}
						<span id="lesionado">Lesionado durante {{ jugador.dias_lesionado }} días</span>
					{% else %}
						<span id="en_forma">En plena forma</span>
					{% endif %}
				</td>
			</tr>

			<!-- Color de la piel -->
			<tr>
				<td>Color de la piel</td>
				<td>{{ jugador.color_piel }}</td>
			</tr>

			<!-- Color del pelo -->
			<tr>
				<td>Color del pelo</td>
				<td>{{ jugador.color_pelo }}</td>
			</tr>

			<!-- Color de los ojos -->
			<tr>
				<td>Color de los ojos</td>
				<td>{{ jugador.color_ojos }}</td>
			</tr>
		</tbody>
	</table>

	<!-- Habilidades de juego -->
	<table class="tabla1" id="tabla_habilidades_juego">
		<caption>Habilidades de juego</caption>
		<thead>
			<tr>
				<th>Habilidad</th>
				<th class="col_valor_habilidad">Valor</th>
			</tr>
		</thead>
		<tbody>
			<!-- Ataque -->
			<tr>
				<td>Ataque</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.ataque }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.ataque }} / 100</span>
				</td>
			</tr>

			<!-- Defensa -->
			<tr>
				<td>Defensa</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.defensa }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.defensa }} / 100</span>
				</td>
			</tr>

			<!-- Velocidad -->
			<tr>
				<td>Velocidad</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.velocidad }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.velocidad }} / 100</span>
				</td>
			</tr>

			<!-- Pases -->
			<tr>
				<td>Pases</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.pases }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.pases }} / 100</span>
				</td>
			</tr>

			<!-- Anotacion -->
			<tr>
				<td>Anotaci&oacute;n</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.anotacion }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.anotacion }} / 100</span>
				</td>
			</tr>

			<!-- Portero -->
			<tr>
				<td>Portero</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.portero }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.portero }} / 100</span>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Habilidades mentales -->
	<table class="tabla1" id="tabla_habilidades_mentales">
		<caption>Habilidades mentales</caption>
		<thead>
			<tr>
				<th>Habilidad</th>
				<th class="col_valor_habilidad">Valor</th>
			</tr>
		</thead>
		<tbody>
			<!-- Agresividad -->
			<tr>
				<td>Agresividad</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.agresividad }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.agresividad }} / 100</span>
				</td>
			</tr>

			<!-- Concentracion -->
			<tr>
				<td>Concentración</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.concentracion }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.concentracion }} / 100</span>
				</td>
			</tr>

			<!-- Estabilidad -->
			<tr>
				<td>Estabilidad</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.estabilidad }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.estabilidad }} / 100</span>
				</td>
			</tr>

			<!-- Moral -->
			<tr>
				<td>Moral</td>
				<td>
					<div class="barra_progreso">
						<div style="width: {{ jugador.atributos.moral }}%;">
						</div>
					</div>
					<span class="texto_valor_habilidad">{{ jugador.atributos.moral }} / 100</span>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Otros datos -->
	<table class="tabla1" id="tabla_otros_datos">
		<caption>Valor en el campo</caption>
		<thead>
			<tr>
				<th>Posición</td>
				<th>Nivel</td>
				<th>Valor</td>
				<th>Rendimiento</td>
			</tr>
		</thead>
		<tbody>
			<!-- Portero -->
			{% if jugador.mejorPosicion = "PORTERO" %}
				<tr class="fila_mejor_posicion">
			{% else %}
				<tr>
			{% endif %}
					<td>Portero</td>
					<td class="nivel">{{ nivel_PO }}</td>
					<td class="valor_mercado">{{ valorMercado_PO }} &euro;</td>
					<td class="rendimiento">{{ rendimiento_PO }} %</td>
				</tr>

			<!-- Defensa -->
			{% if jugador.mejorPosicion = "DEFENSA" %}
				<tr class="fila_mejor_posicion">
			{% else %}
				<tr>
			{% endif %}
					<td>Defensa</td>
					<td class="nivel">{{ nivel_DF }}</td>
					<td class="valor_mercado">{{ valorMercado_DF }} &euro;</td>
					<td class="rendimiento">{{ rendimiento_DF }} %</td>
				</tr>

			<!-- Centrocampista -->
			{% if jugador.mejorPosicion = "CENTROCAMPISTA" %}
				<tr class="fila_mejor_posicion">
			{% else %}
				<tr>
			{% endif %}
					<td>Centrocampista</td>
					<td class="nivel">{{ nivel_CC }}</td>
					<td class="valor_mercado">{{ valorMercado_CC }} &euro;</td>
					<td class="rendimiento">{{ rendimiento_CC }} %</td>
				</tr>

			<!-- Delantero -->
			{% if jugador.mejorPosicion = "DELANTERO" %}
				<tr class="fila_mejor_posicion">
			{% else %}
				<tr>
			{% endif %}
					<td>Delantero</td>
					<td class="nivel">{{ nivel_DL }}</td>
					<td class="valor_mercado">{{ valorMercado_DL }} &euro;</td>
					<td class="rendimiento">{{ rendimiento_DL }} %</td>
				</tr>
		</tbody>
	</table>
{% endblock %}
