h2{
	padding: 10px 0px;
	text-align: center;
}

/* FORMULARIO CREAR LIGA */

fieldset{
	margin-bottom: 20px;
}

#form_crear_liga{
	margin: 0 auto;
	padding: 20px;
	width: 500px;
}

/* DATOS PRINCIPALES */

#contenido_crear_liga{
	padding-bottom: 20px;
}

#contenido_nombre{ padding: 5px 0px; }
#contenido_nombre label{
	float: left;
	font-weight: bold;
	width: 150px;
}

#contenido_visibilidad{ padding: 5px 0px; }
#contenido_visibilidad label{
	float: left;
	font-weight: bold;
	width: 150px;
}

/* REGLAS LIGA */
#contenido_reglas{ padding: 5px 0px; }

#contenido_sexo_permitido{ padding: 5px 0px; }
#contenido_sexo_permitido .label{
	display: block;
	font-weight: bold;
}
#caja_sexo_permitido label{
	font-size: 1em;
}

#contenido_inteligencia_bots{ display: none; padding: 5px 0px; }
#contenido_inteligencia_bots label{
	float: left;
	font-weight: bold;
	width: 200px;
}

#contenido_num_equipos{ padding: 5px 0px; }
#contenido_num_equipos label{
	float: left;
	font-weight: bold;
	width: 200px;
}
#id_num_equipos{ text-align: right; width: 40px; }

#contenido_fecha_real_inicio{ padding: 5px 0px; }
#contenido_fecha_real_inicio label{
	float: left;
	font-weight: bold;
	width: 200px;
}

#contenido_fecha_ficticia_inicio{ padding: 5px 0px; }
#contenido_fecha_ficticia_inicio label{
	float: left;
	font-weight: bold;
	width: 200px;
}

#contenido_factor_tiempo{ padding: 5px 0px; }
#contenido_factor_tiempo label{
	float: left;
	font-weight: bold;
	width: 300px;
}

/* REGLAS EQUIPOS */

#contenido_dinero_inicial{ padding: 5px 0px; }
#contenido_dinero_inicial label{
	float: left;
	font-weight: bold;
	width: 200px;
}
#id_dinero_inicial{ text-align: right; width: 80px; }

#contenido_num_jugadores_inicial{ padding: 5px 0px; }
#contenido_num_jugadores_inicial label{
	float: left;
	font-weight: bold;
	width: 200px;
}
#id_num_jugadores_inicial{ text-align: right; width: 40px; }

#contenido_nivel_max_jugadores_inicio{ padding: 5px 0px; }
#contenido_nivel_max_jugadores_inicio label{
	float: left;
	font-weight: bold;
	width: 200px;
}
#id_nivel_max_jugadores_inicio{ text-align: right; width: 40px; }

/* BOTON */

#contenido_boton_crear{ padding: 5px 0px; }
