#activar_liga{
	margin: 2em auto;
	width: 400px;
}

#equipo_propio{
	margin: 2em auto;
	width: 400px;
}

#form_ver_liga{
	margin: 2em auto;
	width: 400px;
}

#mercado_subastas{
	text-align: center;
}

#tabla_clasificacion{
	margin: 2em auto;
	width: 700px;
}

#cuadro_equipos{
	background: #fff;
	border: solid 1px #000;
	border-radius: 5px;
	box-shadow: 0 0 5px #000;
	margin: 2em auto;
	padding: 1em;
	text-align: center;
	width: 400px;
}

#cuadro_equipos p{
	text-align: center;
}

#cuadro_equipos .equipo{
	display: inline-block;
	margin: .5em;
}

#tabla_jornadas{
	margin: 2em auto;
	width: 600px;
}

#tabla_jornadas tbody td:nth-child(1),
#tabla_jornadas tbody td:nth-child(2),
#tabla_jornadas tbody td:nth-child(3){
	text-align: right;
}

.jornada_jugada{
	color: #0a0;
	font-weight: bold;
}
.jornada_no_jugada{
	color: #a00;
	font-weight: bold;
}

.linea_equipo_propio{
	font-weight: bold;
}
