#activar_liga{
	margin: 10px auto;
	width: 400px;
}

#equipo_propio{
	margin: 10px auto;
	width: 400px;
}

#form_ver_liga{
	margin: 10px auto;
	width: 400px;
}

#mercado_subastas{
	text-align: center;
}

#tabla_clasificacion{
	margin: 10px auto;
	width: 600px;
}

#tabla_equipos{
	margin: 10px auto;
	width: 400px;
}

#tabla_jornadas{
	margin: 10px auto;
	width: 400px;
}

.jornada_jugada{
	color: #00aa00;
	font-weight: bold;
}
.jornada_no_jugada{
	color: #aa0000;
	font-weight: bold;
}

.linea_equipo_propio{
	font-size: 1.1em;
	font-weight: bold;
}
