#activar_liga{
	margin: 2em auto;
	width: 400px;
}

#equipo_propio{
	margin: 2em auto;
	width: 400px;
}

#form_ver_liga{
	margin: 2em auto;
	width: 400px;
}

#mercado_subastas{
	text-align: center;
}

#tabla_clasificacion{
	margin: 2em auto;
	width: 700px;
}

#tabla_equipos{
	margin: 2em auto;
	width: 400px;
}

#tabla_equipos td{
	display: inline-block;
}

#tabla_jornadas{
	margin: 2em auto;
	width: 600px;
}

#tabla_jornadas tbody td:nth-child(1),
#tabla_jornadas tbody td:nth-child(2),
#tabla_jornadas tbody td:nth-child(3){
	text-align: right;
}

.jornada_jugada{
	color: #0a0;
	font-weight: bold;
}
.jornada_no_jugada{
	color: #a00;
	font-weight: bold;
}

.linea_equipo_propio{
	font-size: 1.1em;
	font-weight: bold;
}
