{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/jquery.datetimepicker.min.css" />
	<link rel="stylesheet" href="/media/css/formularios.css" />
    <link rel="stylesheet" href="/media/css/juego/subastas/crear_subasta.css" />
{% endblock %}

{% block js_extra %}
	<script src="/media/js/jquery.datetimepicker.full.min.js"></script>

	<script>
		$(document).ready(function() {
			$("#id_fecha_fin").datetimepicker({
				lang: 'es',
				format: 'd/m/Y H:i',
				dayOfWeekStart: 1,
				defaultDate: new Date("{{ fecha_hora_liga.isoformat }}"),
				startDate: new Date("{{ fecha_hora_liga.isoformat }}"),
			});
			
			$.datetimepicker.setLocale('es');
		});
		
		function calcularComision(cantidad_inicial, duracion_subasta) {
			return ceil(cantidad_inicial * (duracion_subasta / {{ duracion_liga }}))
		}
		function confirmar() {
			cantidad = document.getElementById("id_oferta").value
			dias = document.getElementById("id_expira").value
			comision = calcularComision(cantidad, dias);

			return confirm("Te vamos a sablar " + comision + " € de comisión");
		}
	</script>
{% endblock %}

{% block contenido %}
	<h2>Subastando a {{ jugador.nombre }}</h2>

	<form class="form1" id="form_subasta" action="/mercado/subastas/crear/" method="post">
		{% csrf_token %}
		
		<!-- Oferta inicial -->
		{% if form.puja.errors %}
			{{ form.puja.errors }}
		{% endif %}
		
		<section id="contenido_puja">
			<label for="id_puja">Puja inicial:</label>
			<div id="caja_puja">{{ form.puja }}</div>
		</section>

		<!-- Compra directa -->
		{% if form.precio_compra.errors %}
			{{ form.precio_compra.errors }}
		{% endif %}
		
		<section id="contenido_precio_compra">
			<label for="id_precio_compra">Precio de compra directa:</label>
			<div id="caja_precio_compra">{{ form.precio_compra }}</div>
		</section>

		<!-- Fecha final de subasta -->
		{% if form.fecha_fin.errors %}
			{{ form.fecha_fin.errors }}
		{% endif %}
		
		<section id="contenido_fecha_fin">
			<label for="id_fecha_fin">Fecha final de la subasta:</label>
			<div id="caja_fecha_fin">{{ form.fecha_fin }}</div>
		</section>

		<!-- Boton crear -->
		<section id="contenido_boton_crear">
			<input type="submit" value="Crear" name="Crear" onClick="return confirmar()" />
		</section>
	</form>
{% endblock %}
