{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/subastas/ver_subastas_liga.css" />
{% endblock %}

{% block contenido %}

	<h2>Subastas propias</h2>

	<!-- Subastas de la liga -->
	<table class="tabla1" id="tabla_mercado">
		<caption>Mercado de jugadores</caption>
		{% if subastas %}
			<thead>
				<tr>
					<th>Posición</th>
					<th>Nombre</th>
					<th>Valor</th>
					<th>Precio subasta</th>
					<th>Precio compra</th>
					<th>Comprador</th>
					<th>Fecha comienzo</th>
					<th>Fecha fin</th>
				</tr>
			</thead>
			<tbody>
				{% for subasta in subastas %}
					<tr>
						<!-- Posicion -->
						<td class="posicion">
							<span>{{ subasta.atributos_jugador.jugador.mejor_posicion }}</span>
						</td>

						<!-- Nombre del jugador -->
						<td class="nombre_jugador">
							<span>
								{% if subasta.atributos_jugador.jugador.sexo == 'M' %}
									<img src="/media/img/icons/a/genero_masc.png" alt="M" title="" />
								{% else %}
									<img src="/media/img/icons/a/genero_fem.png" alt="F" title="" />
								{% endif %}
							</span>
							
							<a href="/jugadores/ver/{{ subasta.atributos_jugador.jugador.id }}/">{{ subasta.atributos_jugador.jugador.nombre }}</a>
						</td>

						<!-- Valor -->
						<td class="valor_mercado">
							<span>{{ subasta.atributos_jugador.jugador.valor_mercado }} €</span>
						</td>

						<!-- Precio subasta -->
						<td class="precio_subasta">
							<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.puja }} €</a>
						</td>

						<!-- Precio compra -->
						<td class="precio_compra">
							{% if subasta.precio_compra %}
								<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.precio_compra }} €</a>
							{% else %}
								<a href="/mercado/subastas/ver/{{ subasta.id }}">Ninguno aún</a>
							{% endif %}
						</td>

						<!-- Comprador -->
						<td class="comprador">
							{% if subasta.comprador %}
								<a href="/equipos/ver/{{ subasta.comprador.id }}/">{{ subasta.comprador.nombre }}</a>
							{% else %}
								<span>Sin comprador</span>
							{% endif %}
						</td>

						<!-- Fecha inicial -->
						<td class="fecha_inicio">
							<span>{{ subasta.fecha_inicio }}</span>
						</td>

						<!-- Fecha final -->
						<td class="fecha_fin">
							<span>{{ subasta.fecha_fin }}</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No hay jugadores en subasta</th>
			</tr>
		{% endif %}
	</table>
{% endblock %}
