{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/subastas/ver_subasta.css" />
{% endblock %}

{% block js_extra %}
	<script>
		// Indica confirmacion y envia el mensaje si confirma el usuario
		function compraDirecta() {
			var respuesta = confirm("¿Estás seguro de querer comprar directamente por {{ subasta.precio_compra }}?")
			
			if (respuesta) {
				location.href = '/mercado/subastas/comprar/';
				return true;
			}
			
			return false;
		}
	</script>
{% endblock %}

{% block contenido %}
	<h2>{{ subasta.atributos_jugador.jugador.nombre }}</h2>

	{% if subasta.estado == 0 %}
		<table class="tabla1" id="tabla_subasta">
			<tbody>
				{% if subasta.comprador %}
					<tr>
						<td>Puja actual:</td>
						<td>{{ subasta.puja }} € por {{ subasta.comprador.nombre }}</td>
					</tr>
				{% else %}
					<tr>
						<td>Puja actual:</td>
						<td>{{ subasta.puja }} €</td>
					</tr>
				{% endif %}

				{% if subasta.precio_compra %}
					<tr>
						<td>Precio de compra directa:</td>
						<td>{{ subasta.precio_compra }} €</td>
					</tr>
				{% endif %}

				<tr>
					<td>Fecha final de subasta:</td>
					<td>{{ subasta.fecha_fin }}</td>
				</tr>

				<tr>
					<td>Estado de la subasta:</td>
					<td>
						{% if subasta.estado == 0 %}
							Activa
						{% endif %}
						{% if subasta.estado == 1 %}
							Finalizada
						{% endif %}
						{% if subasta.estado == 2 %}
							Acabada
						{% endif %}
					</td>
				</tr>

				<tr>
					<td>Equipo vendedor:</td>
					<td>
						<a href="/equipos/ver/{{ subasta.vendedor.id }}/">{{ subasta.vendedor.nombre }}</a>
					</td>
				</tr>
			</tbody>
		</table>

		{% if equipo_usuario %}
			{% if form %}
				<div id="contenedor_form_oferta">
					<!-- Formulario de oferta -->
					<form id="form_oferta" action="/mercado/subastas/ver/" method="post">
						{% csrf_token %}
						
						{% if form.cantidad.errors %}
							{{ form.cantidad.errors }}
						{% endif %}

						<section>
							<label for="id_cantidad">Oferta:</label>
							<div id="caja_cantidad">{{ form.cantidad }} <span>€</span></div>
						</section>

						<section>
							<div id="caja_oferta">
								<input type="submit" value="Realizar oferta" />
							</div>

							{% if subasta.precio_compra %}
								<div id="boton_compra_directa">
									<input type="submit" name="boton_compra_directa" value="Compra directa" onclick="return compraDirecta()" />
								</div>
							{% endif %}
						</section>
					</form>
				</div>
			{% else %}
				<p class="info">
					<span>No puedes pujar por esta subasta</span>
				</p>
			{% endif %}
		{% endif %}
	{% else %}
		{% if subasta.estado == 1 %}
			<p class="info">
				<span>La subasta ya acabó</span>
			</p>
		{% else %}
			{% if subasta.estado == 2 %}
				<p class="info">
					<span>Subasta comprada por {{ subasta.comprador }}</span>
				</p>
			{% else %}
				<p class="error">
					<span>Error de estado de la subasta</span>
				</p>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}
