{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/formularios.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/juego/subastas/crear_subasta.css" type="text/css" media="screen" />
{% endblock %}

{% block js_extra %}
	<script src="/media/js/timepicker/jquery-ui-timepicker-addon.js" type="text/javascript"></script>

	<script type="text/javascript">
		function calcularComision(cantidad_inicial, duracion_subasta) {
			return cantidad_inicial * (duracion_subasta / {{ duracion_liga }})
		}
		function confirmar() {
			cantidad = document.getElementById("id_oferta").value
			dias = document.getElementById("id_expira").value
			comision = calcularComision(cantidad, dias);
			return confirm("Te vamos a sablar " + comision + " de comision");
		}
		$(function() {
			$("#id_fecha_fin").datetimepicker({ dateFormat: 'dd/mm/yy',
				showMinute: false,
				timeFormat: 'hh:mm',
				hourGrid: 6,
				minDate: new Date(2000, 1, 1, 00, 00),
				maxDate: new Date(2010, 12, 31, 23, 00)
			});

		});
	</script>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ jugador.atributos.equipo.liga.id }}/">{{ jugador.atributos.equipo.liga.nombre }}</a></li>
		<li><a href="/equipos/ver/{{ jugador.atributos.equipo.id }}/">{{ jugador.atributos.equipo.nombre }}</a></li>
		<li><a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a></li>
		<li><span>Subastar</span></li>
	</ul>
{% endblock %}

{% block contenido %}
	<h2>Subastando a {{ jugador.nombre }}</h2>

	<form class="form1" id="form_subastar" action="/mercado/subastas/crear/" method="post">
		{% csrf_token %}
		<!-- Oferta inicial -->
		<div id="contenido_puja">
			{% if form.puja.errors %}
				{{ form.puja.errors }}
			{% endif %}
			<label for="id_puja">Puja inicial:</label>
			<div id="caja_puja">{{ form.puja }}</div>
		</div>

		<!-- Compra directa -->
		<div id="contenido_precio_compra">
			{% if form.precio_compra.errors %}
				{{ form.precio_compra.errors }}
			{% endif %}
			<label for="id_precio_compra">Precio de compra directa:</label>
			<div id="caja_precio_compra">{{ form.precio_compra }}</div>
		</div>

		<!-- Fecha final de subasta -->
		<div id="contenido_fecha_fin">
			{% if form.fecha_fin.errors %}
				{{ form.fecha_fin.errors }}
			{% endif %}
			<label for="id_fecha_fin">Fecha final de la subasta:</label>
			<div id="caja_fecha_fin">{{ form.fecha_fin }}</div>
		</div>

		<!-- Boton crear -->
		<div id="contenido_boton_crear">
			<input type="submit" value="Crear" name="Crear" onClick="return confirmar()" />
		</div>
	</form>
{% endblock %}
