{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/formularios.css" />
    <link rel="stylesheet" href="/media/css/juego/subastas/crear_subasta.css" />
{% endblock %}

{% block js_extra %}
	<script src="/media/js/timepicker/jquery-ui-timepicker-addon.min.js"></script>

	<script>
		jQuery(function($){
			$.timepicker.regional['es'] = {
				timeOnlyTitle: 'Hora',
				timeText: 'Hora',
				hourText: '',
				minuteText: 'Minutos',
				secondText: 'Segundos',
				currentText: 'Ahora',
				closeText: 'Cerrar',
				ampm: false
			};
			$.timepicker.setDefaults($.timepicker.regional['es']);
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '&#x3c;Ant',
				nextText: 'Sig&#x3e;',
				currentText: 'Hoy',
				monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
				'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
				'Jul','Ago','Sep','Oct','Nov','Dic'],
				dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
				dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''};
			$.datepicker.setDefaults($.datepicker.regional['es']);

		});
		function calcularComision(cantidad_inicial, duracion_subasta) {
			return ceil(cantidad_inicial * (duracion_subasta / {{ duracion_liga }}))
		}
		function confirmar() {
			cantidad = document.getElementById("id_oferta").value
			dias = document.getElementById("id_expira").value
			comision = calcularComision(cantidad, dias);
			alert(jola);
			return confirm("Te vamos a sablar " + comision + " de comision");
		}
		$(function() {
			$("#id_fecha_fin").datetimepicker({ dateFormat: 'dd/mm/yy',
				showMinute: false,
				timeFormat: 'hh:mm',
				hourGrid: 6,
			});

		});
	</script>
{% endblock %}

{% block contenido %}
	<h2>Subastando a {{ jugador.nombre }}</h2>

	<form class="form1" id="form_subastar" action="/mercado/subastas/crear/" method="post">
		{% csrf_token %}
		<!-- Oferta inicial -->
		<div id="contenido_puja">
			{% if form.puja.errors %}
				{{ form.puja.errors }}
			{% endif %}
			<label for="id_puja">Puja inicial:</label>
			<div id="caja_puja">{{ form.puja }}</div>
		</div>

		<!-- Compra directa -->
		<div id="contenido_precio_compra">
			{% if form.precio_compra.errors %}
				{{ form.precio_compra.errors }}
			{% endif %}
			<label for="id_precio_compra">Precio de compra directa:</label>
			<div id="caja_precio_compra">{{ form.precio_compra }}</div>
		</div>

		<!-- Fecha final de subasta -->
		<div id="contenido_fecha_fin">
			{% if form.fecha_fin.errors %}
				{{ form.fecha_fin.errors }}
			{% endif %}
			<label for="id_fecha_fin">Fecha final de la subasta:</label>
			<div id="caja_fecha_fin">{{ form.fecha_fin }}</div>
		</div>

		<!-- Boton crear -->
		<div id="contenido_boton_crear">
			<input type="submit" value="Crear" name="Crear" onClick="return confirmar()" />
		</div>
	</form>
{% endblock %}
