{% extends "base_juego.html" %}

{% block css_extra %}
	<style type="text/css">
		h2{
			margin: 10px;
			text-align: center;
		}

		#form_subastar{
			background: #fff;
			border: solid 1px #555;
			margin: 10px auto;
			padding: 20px;
			width: 350px;
		}

		#contenido_oferta{
			height: 30px;
		}

		#contenido_oferta label{
			float: left;
			font-weight: bold;
			width: 100px;
		}

		#caja_oferta input{
			float: right;
			text-align: right;
			width: 80px;
		}

		#contenido_precio_compra{
			height: 30px;
		}

		#contenido_precio_compra label{
			float: left;
			font-weight: bold;
			width: 200px;
		}

		#contenido_precio_compra input{
			float: right;
			text-align: right;
			width: 80px;
		}

		#contenido_expira{
			height: 30px;
		}

		#contenido_expira label{
			float: left;
			font-weight: bold;
			width: 250px;
		}

		#contenido_expira input{
			float: right;
			text-align: right;
			width: 80px;
		}
	</style>
{% endblock %}

{% block js_extra %}
	<script type="text/javascript">
		function calcularComision(cantidad_inicial, duracion_subasta) {
			return cantidad_inicial * (duracion_subasta / {{ duracion_liga }})
		}
		function confirmar() {
			cantidad = document.getElementById("id_oferta").value
			dias = document.getElementById("id_expira").value
			comision = calcularComision(cantidad, dias);
			return confirm("Te vamos a sablar " + comision + " de comision");
		}
	</script>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ jugador.atributos.equipo.liga.id }}/">{{ jugador.atributos.equipo.liga.nombre }}</a></li>
		<li><a href="/equipos/ver/{{ jugador.atributos.equipo.id }}/">{{ jugador.atributos.equipo.nombre }}</a></li>
		<li><a href="/jugadores/ver/{{ jugador.id }}/">{{ jugador.nombre }}</a></li>
		<li><span>Subastar</span></li>
	</ul>
{% endblock %}

{% block contenido %}

	<h2>Subastando a {{ jugador.nombre }}</h2>

	<form id="form_subastar" action="/mercado/subastas/crear/{{ jugador.id }}/" method="post">
		{% csrf_token %}
		<!-- Oferta inicial -->
		<div id="contenido_oferta">
			{% if form.oferta.errors %}
				{{ form.oferta.errors }}
			{% endif %}
			<label for="id_oferta">Oferta inicial:</label>
			<div id="caja_oferta">{{ form.oferta }}</div>
		</div>

		<!-- Compra directa -->
		<div id="contenido_precio_compra">
			{% if form.precio_compra.errors %}
				{{ form.precio_compra.errors }}
			{% endif %}
			<label for="id_precio_compra">Precio de compra directa:</label>
			<div id="caja_precio_compra">{{ form.precio_compra }}</div>
		</div>

		<!-- Compra directa -->
		<div id="contenido_expira">
			{% if form.expira.errors %}
				{{ form.expira.errors }}
			{% endif %}
			<label for="id_expira">Jornadas de duracion de la subasta:</label>
			<div id="caja_expira">{{ form.expira }}</div>
		</div>

		<!-- Boton crear -->
		<div id="contenido_boton_crear">
			<input type="submit" value="Crear" name="Crear" onClick="return confirmar()" />
		</div>
	</form>
{% endblock %}
