{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/tablas.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/juego/subastas/ver_subasta.css" type="text/css" media="screen" />
{% endblock %}

{% block js_extra %}
	<script type="text/javascript">
		// Indica confirmacion y envia el mensaje si confirma el usuario
		function compraDirecta() {
			var respuesta = confirm("¿Está seguro de querer comprar directamente por {{ subasta.precio_compra }}?")
			if (respuesta) {
				location.href = '/mercado/subastas/comprar/';
			}
		}
	</script>
{% endblock %}

{% block contenido %}
	<h2>{{ subasta.atributos_jugador.jugador.nombre }}</h2>

	{% if subasta.estado == 0 %}
		<table class="tabla1" id="tabla_subasta">
			<tbody>
				{% if subasta.comprador %}
					<tr>
						<td>Puja actual:</td>
						<td>{{ subasta.oferta }} por {{ subasta.comprador }}</td>
					</tr>
				{% else %}
					<tr>
						<td>Oferta inicial:</td>
						<td>{{ subasta.oferta }}</td>
					</tr>
				{% endif %}

				{% if subasta.precio_compra %}
					<tr>
						<td>Precio de compra directa:</td>
						<td>{{ subasta.precio_compra }}</td>
					</tr>
				{% endif %}

				<tr>
					<td>Días que quedan:</td>
					<td>{{ subasta.expira }}</td>
				</tr>

				<tr>
					<td>Estado de la subasta:</td>
					<td>{{ subasta.estado }}</td>
				</tr>

				<tr>
					<td>Equipo vendedor:</td>
					<td>{{ subasta.vendedor }}</td>
				</tr>
			</tbody>
		</table>

		{% if equipo_usuario %}
			<div id="contenido_form_oferta">
				{% if form %}
					<form id="form_oferta" action="/mercado/subastas/ver/{{ subasta.id }}/" method="post">
						{% csrf_token %}
						<!-- Oferta -->
						<div id="contenido_oferta">
							{% if form.cantidad.errors %}
								{{ form.cantidad.errors }}
							{% endif %}

							<label for="id_cantidad">Oferta:</label>

							<div id="caja_cantidad">{{ form.cantidad }}</div>

							<div id="caja_oferta">
								<input type="submit" value="Realizar oferta" />
							</div>
						</div>
					</form>

					{% if subasta.precio_compra %}
						<div id="boton_compra_directa">
							<input type="submit" name="boton_compra_directa" value="Compra directa" onclick="compraDirecta()" />
						</div>
					{% endif %}
				{% endif %}
			</div>
		{% else %}
			<h4>No puedes pujar por esta subasta</h4>
		{% endif %}
	{% else %}
		{% if subasta.estado == 1 %}
			<h4>La subasta ya acabó</h4>
		{% else %}
			{% if subasta.estado == 2 %}
				<h4>Subasta comprada por {{ subasta.comprador }}</h4>
			{% else %}
				<h4>Error de estado de la subasta</h4>
			{% endif %}
		{% endif %}
	{% endif %}


{% endblock %}
