{% extends "base_juego.html" %}

{% block css_extra %}
	<style type="text/css">
		h2, h4{
			margin: 10px;
			text-align: center;
		}
		
		#tabla_comprador{
			margin: 10px auto;
			width: 800px;
		}
		
		#tabla_vendedor{
			margin: 10px auto;
			width: 800px;
		}
	</style>
{% endblock %}

{% block situacion %}
	<ul id="menu_superior_situacion">
		<li><a href="/ligas/ver/{{ equipo.liga.id }}/">{{ equipo.liga.nombre }}</a></li>
		<li><a href="/equipos/ver/{{ equipo.id }}/">{{ equipo.nombre }}</a></li>
		<li><span>Subastas</span></li>
	</ul>
{% endblock %}

{% block contenido %}

	<h2>Subastas de {{ equipo.nombre }}</h2>

	<h4>Ventas</h4>
	
	<!-- Tabla vendedor -->
	<table class="tabla1" id="tabla_vendedor">
		<caption>Subastas de jugadores</caption>
		{% if subastas_vendedor %}
			<thead>
				<tr>
					<th title="Posición">Pos</th>
					<th>Sexo</th>
					<th>Nombre</th>
					<th>Valor</th>
					<th>Precio subasta</th>
					<th>Precio compra</th>
					<th>Comprador actual</th>
					<th>Días restantes</th>
				</tr>
			</thead>
			<tbody>
				{% for subasta in subastas_vendedor %}
					<tr>
						<!-- Posicion -->
						<td>
							{{ subasta.atributos_jugador.jugador.mejorPosicion }}
						</td>
						
						<!-- Sexo -->
						<td>
							{% if subasta.atributos_jugador.jugador.sexo == 'M' %}
								<img src="/media/img/icons/a/genero_masc.png" alt="M" title="" />
							{% else %}
								<img src="/media/img/icons/a/genero_fem.png" alt="F" title="" />
							{% endif %}
						</td>
						
						<!-- Nombre del jugador -->
						<td>
							<a href="/jugadores/ver/{{ subasta.atributos_jugador.jugador.id }}/">{{ subasta.atributos_jugador.jugador.nombre }}</a>
						</td>
						
						<!-- Valor -->
						<td class="cuadro_num_azul_der">
							{{ subasta.atributos_jugador.jugador.valorMercado }}
						</td>
						
						<!-- Precio subasta -->
						<td class="cuadro_num_azul_der">
							<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.oferta }}</a>
						</td>
						
						<!-- Precio compra -->
						<td class="cuadro_num_azul_der">
							<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.precio_compra }}</a>
						</td>
						
						<!-- Comprador -->
						<td>
							{% if subasta.comprador %}
								<a href="/equipos/ver/{{ subasta.comprador.id }}/">{{ subasta.comprador }}</a>
							{% else %}
								Sin comprador
							{% endif %}
						</td>
						
						<!-- Dias restantes de subasta -->
						<td class="cuadro_num_azul_der">
							{{ subasta.expira }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No hay jugadores en subasta</th>
			</tr>
		{% endif %}
	</table>
	
	<h4>Compras</h4>
	
	<!-- Tabla comprador -->
	<table class="tabla1" id="tabla_comprador">
		<caption>Subastas de jugadores</caption>
		{% if subastas_comprador %}
			<thead>
				<tr>
					<th title="Posición">Pos</th>
					<th>Sexo</th>
					<th>Nombre</th>
					<th>Equipo</th>
					<th>Valor</th>
					<th>Precio subasta</th>
					<th>Precio compra</th>
					<th>Días restantes</th>
				</tr>
			</thead>
			<tbody>
				{% for subasta in subastas_comprador %}
					<tr>
						<!-- Posicion -->
						<td>
							{{ subasta.atributos_jugador.jugador.mejorPosicion }}
						</td>
						
						<!-- Sexo -->
						<td>
							{% if subasta.atributos_jugador.jugador.sexo == 'M' %}
								<img src="/media/img/icons/a/genero_masc.png" alt="M" title="" />
							{% else %}
								<img src="/media/img/icons/a/genero_fem.png" alt="F" title="" />
							{% endif %}
						</td>
						
						<!-- Nombre del jugador -->
						<td>
							<a href="/jugadores/ver/{{ subasta.atributos_jugador.jugador.id }}/">{{ subasta.atributos_jugador.jugador.nombre }}</a>
						</td>
						
						<!-- Equipo Vendedor -->
						<td>
							<a href="/equipos/ver/{{ subasta.vendedor.id }}/">{{ subasta.vendedor }}</a>
						</td>
						
						<!-- Valor -->
						<td class="cuadro_num_azul_der">
							{{ subasta.atributos_jugador.jugador.valorMercado }}
						</td>
						
						<!-- Precio subasta -->
						<td class="cuadro_num_azul_der">
							<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.oferta }}</a>
						</td>
						
						<!-- Precio compra -->
						<td class="cuadro_num_azul_der">
							<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.precio_compra }}</a>
						</td>
						
						<!-- Dias restantes de subasta -->
						<td class="cuadro_num_azul_der">
							{{ subasta.expira }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No hay jugadores en compra</th>
			</tr>
		{% endif %}
	</table>
{% endblock %}
