{% extends "base.html" %}

{% block css_extra %}
	<link rel="stylesheet" href="/media/css/tablas.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/juego/subastas/ver_subastas_liga.css" type="text/css" media="screen" />
{% endblock %}

{% block contenido %}

	<h2>Subastas en {{ liga.nombre }}</h2>

	<!-- Subastas de la liga -->
	<table class="tabla1" id="tabla_mercado">
		<caption>Mercado de jugadores</caption>
		{% if subastas %}
			<thead>
				<tr>
					<th>Posición</th>
					<th>Sexo</th>
					<th>Nombre</th>
					<th>Equipo</th>
					<th>Valor</th>
					<th>Precio subasta</th>
					<th>Precio compra</th>
					<th>Comprador</th>
					<th>Fecha comienzo</th>
					<th>Fecha fin</th>
					<th>Tiempo restante</th>
				</tr>
			</thead>
			<tbody>
				{% for subasta in subastas %}
					<tr>
						<!-- Posicion -->
						<td>
							{{ subasta.atributos_jugador.jugador.mejorPosicion }}
						</td>

						<!-- Sexo -->
						<td>
							{% if subasta.atributos_jugador.jugador.sexo == 'M' %}
								<img src="/media/img/icons/a/genero_masc.png" alt="M" title="" />
							{% else %}
								<img src="/media/img/icons/a/genero_fem.png" alt="F" title="" />
							{% endif %}
						</td>

						<!-- Nombre del jugador -->
						<td>
							<a href="/jugadores/ver/{{ subasta.atributos_jugador.jugador.id }}/">{{ subasta.atributos_jugador.jugador.nombre }}</a>
						</td>

						<!-- Equipo del jugador -->
						<td>
							<a href="/equipos/ver/{{ subasta.atributos_jugador.equipo.id }}/">{{ subasta.atributos_jugador.equipo.nombre }}</a>
						</td>

						<!-- Valor -->
						<td class="cuadro_num_azul_der">
							{{ subasta.atributos_jugador.jugador.valorMercado }}
						</td>

						<!-- Precio subasta -->
						<td class="cuadro_num_azul_der">
							<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.oferta }}</a>
						</td>

						<!-- Precio compra -->
						<td class="cuadro_num_azul_der">
							<a href="/mercado/subastas/ver/{{ subasta.id }}">{{ subasta.precio_compra }}</a>
						</td>

						<!-- Comprador -->
						<td>
							{% if subasta.comprador %}
								<a href="/equipos/ver/{{ subasta.comprador.id }}/">{{ subasta.comprador }}</a>
							{% else %}
								Sin comprador
							{% endif %}
						</td>

						<!-- Fecha inicial -->
						<td class="cuadro_num_azul_der">
							{{ subasta.fecha_inicio }}
						</td>

						<!-- Fecha final -->
						<td class="cuadro_num_azul_der">
							{{ subasta.fecha_final }}
						</td>

						<!-- Tiempo restante -->
						<td class="cuadro_num_azul_der">
							{{ subasta.tiempoRestante }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No hay jugadores en subasta</th>
			</tr>
		{% endif %}
	</table>
{% endblock %}
