h2{
	margin: 10px;
	text-align: center;
}

#en_forma{
	color: #55aa55;
	font-weight: bold;
}

#lesionado{
	color: #aa5555;
	font-weight: bold;
}

#subasta{
	text-align: center;
}

#tabla_datos_personales{
	margin: 10px auto;
	width: 300px;
}

#tabla_fisico{
	margin: 10px auto;
	width: 300px;
}

#tabla_otros_datos{
	margin: 10px auto;
	width: 300px;
}

#tabla_habilidades_juego{
	margin: 10px auto;
	width: 300px;
}

#tabla_habilidades_mentales{
	margin: 10px auto;
	width: 300px;
}
