/* textos */
#en_forma{
	color: #55aa55;
	font-weight: bold;
}

#lesionado{
	color: #aa5555;
	font-weight: bold;
}

#subasta{
	text-align: center;
}
/* fin textos */

#contenido_datos_personales{
	background: #bbb;
	border-radius: 5px;
	padding: 10px;
	margin: 20px auto;
	width: 400px;
}

#contenido_datos_personales2{
	background: #fff;
	padding: 10px;
	height: 150px;
}

#datos_personales{
	background: #fff;
	float: left;
	margin: 0px;
	width: 250px;
}

#datos_personales div{
	padding: 4px 0px;
}

#datos_personales strong{
	font-size: 0.9em;
	padding-top: 10px;
}

#datos_personales #nombre{
	font-size: 1.2em;
}

#datos_personales #equipo{
	color: #000088;
	font-size: 1.4em;
}

/* FOTO */

#foto_m{
	background: #fff url('../../../img/hombre1-min.png') top left no-repeat;
	float: right;
	height: 150px;
	position: relative;
	width: 125px;
}

#foto_f{
	background: #fff url('../../../img/mujer1-min.png') top left no-repeat;
	float: right;
	height: 150px;
	position: relative;
	width: 125px;
}

#ojos{
	height: 8px;
	left: 42px;
	position: absolute;
	top: 55px;
	width: 45px;
}

#piel{
	height: 105px;
	left: 26px;
	position: absolute;
	top: 31px;
	width: 75px;
}

#pelo{
	height: 74px;
	left: 25px;
	position: absolute;
	top: 3px;
	width: 76px;
}

/* FIN FOTO */

#tabla_datos{
	margin: 10px auto;
	width: 300px;
}

#tabla_fisico{
	margin: 10px auto;
	width: 300px;
}

#tabla_otros_datos{
	margin: 10px auto;
	width: 300px;
}

#tabla_habilidades_juego{
	margin: 10px auto;
	width: 300px;
}

#tabla_habilidades_mentales{
	margin: 10px auto;
	width: 300px;
}

.barra_progreso{
	border: solid 1px #79b7e7;
	height: 20px;
	margin: 5px;
	text-align: center;
	width: 200px;
}

.barra_progreso div{
	background-color: #4444aa;
	height: 100%;
}

.fila_mejor_posicion{
	font-weight: bold;
}

.rendimiento{
	text-align: right;
}

.valor_mercado{
	text-align: right;
}
