{% extends "base.html" %}

{% block head_css %}
	<style type="text/css">
		#jugadores{
			float: left;
			width: 250px;
		}

		#jugadores .cuadro_jugador{
			background: #eee;
			border: solid 1px #0055ff;
			cursor: pointer;
			padding: 5px;
			margin: 5px 0px;
		}

		#jugadores .cuadro_jugador .numero_jugador{
			color: #6666ff;
			font-weight: bold;
			float: left;
			padding-right: 10px;
			text-align: right;
			width: 20px;
		}

		#jugadores .cuadro_jugador .nombre_jugador{
			color: #3333ff;
		}

		#campo_alineacion{
			background-image: url('/media/img/campo_futbol.jpg');
			float: right;
			height: 678px;
			text-align: center;
			width: 444px;
		}

		#campo_alineacion .cuadro_jugador{
			background: url('/media/img/avatar_jugador.gif') no-repeat;
			background-position: center top;
			display: inline-block;
			font-size: 0.8em;
			height: 30px;
			margin: 5px;
			padding: 66px 10px 0px 10px;
			text-align: center;
			width: 50px;
		}

		#fila_delanteros{
			background: rgb(0, 200, 0);
			background: rgba(0, 200, 0, 0.4);
			height: 130px;
			margin: 125px 20px 0px 20px;
		}

		#fila_centrocampistas{
			height: 168px;
			margin: 0px 20px;
		}

		#fila_defensas{
			background: rgb(0, 200, 0);
			background: rgba(0, 200, 0, 0.4);
			height: 130px;
			margin: 0px 20px;
		}

		#fila_portero{
			height: 125px;
			margin: 0px 20px;
		}

		#form_alineacion{

		}

		#titulares{
			float: left;
			width: 300px;
		}

		.texto_posicion{
			font-size: 14px;
			font-weight: bold;
			margin-top: 10px;
		}
	</style>
{% endblock %}

{% block head_js %}
	<script type="text/javascript">
		var jugador_pillado; // Jugador que se ha cogido
		var jugadores_situados = 0; // Numero de jugadores situados en el campo
		// Comienza el arrastrado. El “target” del evento será el elemento que está siendo arrastrado.
		function dragStart(objeto, ev) {
			ev.dataTransfer.setData("Text", "jugador_cogido: " + objeto.innerHTML);
			jugador_pillado = objeto;
			//jugador_pillado.chetos = "2";
			//jugador_pillado.classname = 'jugador_pillado';
			return true;
		}

		// Se dispara cuando un elemento que está siendo arrastrado entra en un contenedor.
		function dragEnter(objeto, ev) {
			return false;
		}

		// El elemento se mueve dentro del contenedor.
		function dragOver(objeto, ev) {
			return false; // Aceptar el 'drop'
		}

		// Se ha dejado de arrastrar el elemento, con éxito o no.
		function dragEnd(objeto, ev) {
			return false;
		}

		// El elemento se deja en el contenedor
		function dragDrop(objeto, ev) {
			var situar = true; // Indica si se suelta o no el jugador en esa posicion
			// Para evitar soltar cualquier cosa
			var data = ev.dataTransfer.getData("Text");
			if (data.indexOf("jugador_cogido: ") != 0) {
				alert("Solo se pueden soltar jugadores");
			} else {
				if (objeto.id == "fila_portero") {
					if (objeto.getElementsByTagName('div').length > 1) {
						alert("Ya hay un portero");
						situar = false;
					}
				}
			}

			if (situar) {
				// Calculamos los jugadores que se van a situar o no
				if (jugador_pillado.parentNode.id == "jugadores" && objeto.id != "jugadores") {
					jugadores_situados++;
				} else if (jugador_pillado.parentNode.id != "jugadores" && objeto.id == "jugadores") {
					jugadores_situados--;
				}

				if (jugadores_situados > 11) {
					jugadores_situados--;
					alert("Mucha peña estas metiendo tu ahí, eh");
				} else {
					var origen = jugador_pillado.parentNode;
					var destino = objeto
					jugador_pillado.parentNode.removeChild(jugador_pillado);
					objeto.appendChild(jugador_pillado);
					document.getElementById("num_jugadores").innerHTML = jugadores_situados;

					// Cambiar de una lista a otra
					var lista_origen = document.getElementById("id_jugadores_disponibles");
					var lista_destino = document.getElementById("id_defensas");

					if (origen.id == "jugadores") {
						lista_origen = document.getElementById("id_jugadores_disponibles");
					} else if (origen.id == "fila_delanteros") {
						lista_origen = document.getElementById("id_delanteros");
					} else if (origen.id == "fila_defensas") {
						lista_origen = document.getElementById("id_defensas");
					} else if (origen.id == "fila_portero") {
						lista_origen = document.getElementById("id_portero");
					} else if (origen.id == "fila_centrocampistas") {
						lista_origen = document.getElementById("id_centrocampistas");
					} else {
						alert("OTIA")
					}

					if (destino.id == "jugadores") {
						lista_destino = document.getElementById("id_jugadores_disponibles");
					} else if (destino.id == "fila_delanteros") {
						lista_destino = document.getElementById("id_delanteros");
					} else if (destino.id == "fila_defensas") {
						lista_destino = document.getElementById("id_defensas");
					} else if (destino.id == "fila_portero") {
						lista_destino = document.getElementById("id_portero");
					} else if (destino.id == "fila_centrocampistas") {
						lista_destino = document.getElementById("id_centrocampistas");
					} else {
						alert("OTIAss")
					}

					// Buscamos el elemento de la lista de origen y lo borramos
					var elementos = lista_origen.options
					var dato;
					for (i = 0; i < elementos.length; i++) {
						if ("jug" + elementos[i].value == jugador_pillado.id) {
							dato = elementos[i]
						}
					}
					//lista_origen.remove(dato.index);
					dato.selected = false;
					elementos = lista_destino.options
					for (i = 0; i < elementos.length; i++) {
						if ("jug" + elementos[i].value == jugador_pillado.id) {
							dato = elementos[i]
						}
					}
					// Añadimos el elemento en la lista de destino
					//lista_destino.add(dato, null);
					dato.selected = true;
				}
			}

			//ev.target.appendChild(jugador_pillado);
			//ev.stopPropagation();
			return false; // return false so the event will not be propagated to the browser
		}
	</script>
{% endblock %}

{% block situacion %}
	<li><a href="/ligas/ver/{{ partido.jornada.liga_id }}/">{{ partido.jornada.liga.nombre }}</a></li>
	<li><a href="/jornadas/ver/{{ partido.jornada.id }}/">Jornada {{ partido.jornada.numero }}</a></li>
	<li><a href="/partidos/ver/{{ partido.id }}/">Partido {{ partido.id }}</a></li>
	<li>{{ equipo.nombre }}</li>
{% endblock %}

{% block contenido %}
	<h2>Preparar partido</h2>

	<form id="form_alineacion" action="/partidos/preparar/{{ partido.id }}/" method="post">
		<fieldset>
			<legend>Alineación</legend>
			Numero de jugadores: <label id = "num_jugadores">0</label>
			<div id="campo_alineacion">
				<div id="fila_delanteros"
						ondragenter="return dragEnter(this, event)"
						ondrop="return dragDrop(this, event)"
						ondragover="return dragOver(this, event)">
				</div>

				<div id="fila_centrocampistas"
						ondragenter="return dragEnter(this, event)"
						ondrop="return dragDrop(this, event)"
						ondragover="return dragOver(this, event)">
				</div>

				<div id="fila_defensas"
						ondragenter="return dragEnter(this, event)"
						ondrop="return dragDrop(this, event)"
						ondragover="return dragOver(this, event)">
				</div>

				<div id="fila_portero"
						ondragenter="return dragEnter(this, event)"
						ondrop="return dragDrop(this, event)"
						ondragover="return dragOver(this, event)">
				</div>
			</div>
			<div id="jugadores"
					ondragenter="return dragEnter(this, event)"
					ondrop="return dragDrop(this, event)"
					ondragover="return dragOver(this, event)">

				{% for jugador in jugadores %}
					<div class="cuadro_jugador" id="jug{{ jugador.id }}"
							draggable="true"
							ondragstart="return dragStart(this, event)"
							ondragend="return dragEnd(this, event)">
						<div class="numero_jugador">{{ jugador.numero }}</div>
						<div class="nombre_jugador">{{ jugador.nombre }}</div>
					</div>
				{% endfor %}
			</div>
		</fieldset>

		{{ form.as_p }}

		<!-- Boton Aceptar -->
		<div class="fila"><input type="submit" value="Aceptar" /></div>
	</form>

{% endblock %}
