{% extends "base.html" %}

{% block css_extra %}
    <link rel="stylesheet" href="/media/css/tablas.css" />
    <link rel="stylesheet" href="/media/css/juego/tablon.css" />
{% endblock %}

{% block contenido %}
	<h2>Tablón de {{ user.username }}</h2>

	<table class="tabla1" id="tabla_notificaciones">
		<caption>Notificaciones</caption>
		{% if ultimas_notificaciones %}
			<tfoot>
				<tr><th><a href="/cuentas/notificaciones/listar_tablon/">Ver todas</a></th></tr>
			</tfoot>
		{% endif %}
		<tbody>
			{% for notificacion in ultimas_notificaciones %}
				<tr><td><a href="/cuentas/notificaciones/ver/{{ notificacion.id }}/">{{ notificacion.get_mensaje }}</a></td></tr>
			{% empty %}
				<tr><th>No hay notificaciones nuevas</th></tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="tabla1" id="tabla_ligas">
		<caption>Ligas</caption>
		{% if ligas_usuario %}
			<thead>
				<tr>
					<th>Creador</th>
					<th>Nombre de la liga</th>
					<th>Num. equipos</th>
					<th>Estado</th>
					<th>Equipo</th>
				</tr>
			</thead>
			<tbody>
				{% for liga in ligas_usuario %}
					<tr>
						<td class="col_creador">{{ liga.creador }}</td>
						
						<td class="col_nombre_liga"><a href="/ligas/ver/{{ liga.id }}/">{{ liga.nombre }}</a></td>

						<td class="col_num_equipos">{{ liga.num_equipos }}</td>

						{% if liga.activada %}
							{% if liga.getJornadaActual is not None %}
								<td class="col_estado"><span class="liga_finalizada">FINALIZADA</span></td>
							{% else %}
								<td class="col_estado"><span class="liga_comenzada">JORNADA {{ liga.get_jornada_actual.numero }}</span></td>
							{% endif %}
						{% else %}
							<td class="col_estado"><span class="liga_abierta">ABIERTA</span></td>
						{% endif %}

						<td class="col_nombre_equipo">
							{% if liga.equipo_usuario %}
								<a href="/equipos/ver/{{ liga.equipo_usuario.id }}/">{{ liga.equipo_usuario.nombre }}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% else %}
			<tr>
				<th>No hay ninguna liga disponible</th>
			</tr>
		{% endif %}
	</table>
{% endblock %}
