#contenido_boton_borrar{
	margin: 10px;
	text-align: center;
}

#fecha{
	color: #888;
}

#tipo{
	color: #444;
}

#mensaje{
	background: #fff;
	border: solid 1px #555;
	margin: 20px auto;
	padding: 10px;
	width: 600px;
}
